<div class="this-layout">
    <section id="states">
        <h1 class="color-dimmed">States</h1>
        <div class="set-grid">
            <div class="color-text-grid">
                <span>
                    <span class="side-grid-col">
                        <h2 class="body-lg color-dimmed">Weak</h2>
                        <h3 class="body-sm color-dimmed">Default (State)</h3>
                        <div class="size-it state-is-weak"></div>
                        <h3 class="body-sm color-dimmed">Caution (State)</h3>
                        <div class="size-it pep-button weak caution"></div>
                        <h3 class="body-sm color-dimmed">Success (State)</h3>
                        <div class="size-it pep-button weak success"></div>
                        <hr>
                        <h3 class="body-sm color-dimmed">System (Color)</h3>
                        <div class="size-it pep-button weak system-primary"></div>
                        <h3 class="body-sm color-dimmed">Primary (Color)</h3>
                        <div class="size-it pep-button weak user-primary"></div>
                        <h3 class="body-sm color-dimmed">Secondary (Color)</h3>
                        <div class="size-it pep-button weak user-secondary"></div>
                    </span>
                </span>
                <span>
                    <span class="side-grid-col">
                        <h2 class="body-lg color-dimmed">Regular</h2>
                        <h3 class="body-sm color-dimmed">Default (State)</h3>
                        <div class="size-it state-is-regular"></div>
                        <h3 class="body-sm color-dimmed">Caution (State)</h3>
                        <div class="size-it pep-button regular caution"></div>
                        <h3 class="body-sm color-dimmed">Success (State)</h3>
                        <div class="size-it pep-button regular success"></div>
                        <hr>
                        <h3 class="body-sm color-dimmed">System (Color)</h3>
                        <div class="size-it pep-button regular system-primary"></div>
                        <h3 class="body-sm color-dimmed">Primary (Color)</h3>
                        <div class="size-it pep-button regular user-primary"></div>
                        <h3 class="body-sm color-dimmed">Secondary (Color)</h3>
                        <div class="size-it pep-button regular user-secondary"></div>
                    </span>
                </span>
                <span>
                    <span class="side-grid-col">
                        <h2 class="body-lg color-dimmed">Strong</h2>
                        <h3 class="body-sm color-dimmed">Default (State)</h3>
                        <div class="size-it state-is-strong"></div>
                        <h3 class="body-sm color-dimmed">Caution (State)</h3>
                        <div class="size-it pep-button strong caution"></div>
                        <h3 class="body-sm color-dimmed">Success (State)</h3>
                        <div class="size-it pep-button strong success"></div>
                        <hr>
                        <h3 class="body-sm color-dimmed">System (Color)</h3>
                        <div class="size-it pep-button strong system-primary"></div>
                        <h3 class="body-sm color-dimmed">Primary (Color)</h3>
                        <div class="size-it pep-button strong user-primary"></div>
                        <h3 class="body-sm color-dimmed">Secondary (Color)</h3>
                        <div class="size-it pep-button strong user-secondary"></div>
                    </span>
                </span>
            </div>
        </div>
    </section>
    <section id="buttons">
        <h1 class="color-dimmed">Buttons</h1>
        <div class="set-grid" style="gap: 0.5rem">
            <h2 class="body-lg color-dimmed">Strong</h2>
            <div class="side-grid" id="strong-button-set">
                <pep-button
                    value="Disabled"
                    styleType="strong"
                    sizeType="xs"
                    [disabled]="true"
                ></pep-button>
                <pep-button
                    value="XS"
                    styleType="strong"
                    sizeType="xs"
                ></pep-button>
                <pep-button
                    value="SM"
                    styleType="strong"
                    sizeType="sm"
                ></pep-button>
                <pep-button
                    value="MD"
                    styleType="strong"
                    sizeType="md"
                ></pep-button>
                <pep-button
                    value="LG"
                    styleType="strong"
                    sizeType="lg"
                ></pep-button>
                <pep-button
                    value="XL"
                    styleType="strong"
                    sizeType="xl"
                ></pep-button>
                <pep-button
                    value="Success"
                    styleType="strong"
                    sizeType="xl"
                    iconName="system_bolt"
                    iconPosition="start"
                    styleStateType="success"
                ></pep-button>
                <pep-button
                    value="Caution"
                    styleType="strong"
                    sizeType="xl"
                    iconName="system_bolt"
                    iconPosition="end"
                    styleStateType="caution"
                ></pep-button>
                <pep-button
                    styleType="strong"
                    sizeType="xl"
                    iconName="system_bolt"
                ></pep-button>
                <pep-button
                    styleType="strong"
                    sizeType="xl"
                    iconName="system_bolt"
                    [disabled]="true"
                ></pep-button>
                <pep-button
                    class="rotate3d"
                    value="W/ class"
                    styleType="strong"
                    sizeType="xl"
                    classNames="body-2xs"
                ></pep-button>
            </div>
            <h2 class="body-lg color-dimmed">Regular</h2>
            <div class="side-grid" id="regular-button-set">
                <pep-button
                    value="Disabled"
                    styleType="regular"
                    sizeType="xs"
                    [disabled]="true"
                ></pep-button>
                <pep-button
                    value="XS"
                    styleType="regular"
                    sizeType="xs"
                ></pep-button>
                <pep-button
                    value="SM"
                    styleType="regular"
                    sizeType="sm"
                ></pep-button>
                <pep-button
                    value="MD"
                    styleType="regular"
                    sizeType="md"
                ></pep-button>
                <pep-button
                    value="LG"
                    styleType="regular"
                    sizeType="lg"
                ></pep-button>
                <pep-button
                    value="XL"
                    styleType="regular"
                    sizeType="xl"
                ></pep-button>
                <pep-button
                    value="Success"
                    styleType="regular"
                    sizeType="xl"
                    iconName="system_bolt"
                    iconPosition="start"
                    styleStateType="success"
                ></pep-button>
                <pep-button
                    value="Caution"
                    styleType="regular"
                    sizeType="xl"
                    iconName="system_bolt"
                    iconPosition="end"
                    styleStateType="caution"
                ></pep-button>
                <pep-button
                    styleType="regular"
                    sizeType="xl"
                    iconName="system_bolt"
                ></pep-button>
                <pep-button
                    styleType="regular"
                    sizeType="xl"
                    iconName="system_bolt"
                    [disabled]="true"
                ></pep-button>
                <pep-button
                    class="rotate3d"
                    value="W/ class"
                    styleType="regular"
                    sizeType="xl"
                    classNames="body-2xs"
                ></pep-button>
            </div>
            <h2 class="body-lg color-dimmed">Weak</h2>
            <div class="side-grid" id="weak-button-set">
                <pep-button
                    value="Disabled"
                    styleType="weak"
                    sizeType="xs"
                    [disabled]="true"
                ></pep-button>
                <pep-button
                    value="XS"
                    styleType="weak"
                    sizeType="xs"
                ></pep-button>
                <pep-button
                    value="SM"
                    styleType="weak"
                    sizeType="sm"
                ></pep-button>
                <pep-button
                    value="MD"
                    styleType="weak"
                    sizeType="md"
                ></pep-button>
                <pep-button
                    value="LG"
                    styleType="weak"
                    sizeType="lg"
                ></pep-button>
                <pep-button
                    value="XL"
                    styleType="weak"
                    sizeType="xl"
                ></pep-button>
                <pep-button
                    value="Success"
                    styleType="weak"
                    sizeType="xl"
                    iconName="system_bolt"
                    iconPosition="start"
                    styleStateType="success"
                ></pep-button>
                <pep-button
                    value="Caution"
                    styleType="weak"
                    sizeType="xl"
                    iconName="system_bolt"
                    iconPosition="end"
                    styleStateType="caution"
                ></pep-button>
                <pep-button
                    styleType="weak"
                    sizeType="xl"
                    iconName="system_bolt"
                ></pep-button>
                <pep-button
                    styleType="weak"
                    sizeType="xl"
                    iconName="system_bolt"
                    [disabled]="true"
                ></pep-button>
                <pep-button
                    class="rotate3d"
                    value="W/ class"
                    styleType="weak"
                    sizeType="xl"
                    classNames="body-2xs"
                ></pep-button>
            </div>
            <h2 class="body-lg color-dimmed">Weak Invert</h2>
            <div class="side-grid" id="weak-invert-button-set">
                <pep-button
                    value="Disabled"
                    styleType="weak-invert"
                    sizeType="xs"
                    [disabled]="true"
                ></pep-button>
                <pep-button
                    value="XS"
                    styleType="weak-invert"
                    sizeType="xs"
                ></pep-button>
                <pep-button
                    value="SM"
                    styleType="weak-invert"
                    sizeType="sm"
                ></pep-button>
                <pep-button
                    value="MD"
                    styleType="weak-invert"
                    sizeType="md"
                ></pep-button>
                <pep-button
                    value="LG"
                    styleType="weak-invert"
                    sizeType="lg"
                ></pep-button>
                <pep-button
                    value="XL"
                    styleType="weak-invert"
                    sizeType="xl"
                ></pep-button>
                <pep-button
                    styleType="weak-invert"
                    sizeType="xl"
                    iconName="system_bolt"
                ></pep-button>
                <pep-button
                    styleType="weak-invert"
                    sizeType="xl"
                    iconName="system_bolt"
                    [disabled]="true"
                ></pep-button>
                <pep-button
                    class="rotate3d"
                    value="W/ class"
                    styleType="weak-invert"
                    sizeType="xl"
                    classNames="body-2xs"
                ></pep-button>
            </div>
            <!-- TODO -->
            <span style="display: none">
                <pep-button
                    [value]="'toggle menu'"
                    [classNames]="'pep-spacing-element'"
                    (click)="toggleMenu()"
                >
                </pep-button>
                <pep-button
                    [value]="'test 1'"
                    [sizeType]="'sm'"
                    [styleType]="'regular'"
                    [classNames]="'pep-spacing-element '"
                >
                </pep-button>
                <pep-button
                    [sizeType]="'sm'"
                    [classNames]="'pep-spacing-element '"
                    [value]="'Tomer test'"
                    [iconName]="'system_bolt'"
                >
                </pep-button>
                <pep-button
                    [value]="'toggle menu'"
                    [classNames]="'pep-spacing-element'"
                    (click)="toggleMenu()"
                >
                </pep-button>
                <button
                    class="pep-spacing-element pep-button sm pull-right flip"
                    mat-button
                >
                    Kof Examples
                </button>
                <button class="pep-button sm pep-spacing-element">
                    button
                </button>
                <pep-button
                    [value]="'test 2'"
                    [sizeType]="'sm'"
                    [classNames]="'pep-spacing-element '"
                    [iconName]="'system_settings'"
                >
                </pep-button
            ></span>
        </div>
    </section>
    <section id="typography">
        <h1 class="color-dimmed">Typography</h1>
        <!-- prettier-ignore -->
        <div class="side-by-side">
            <div class="set-grid" id="heading">
                <h2 class="body-lg color-dimmed">Heading by Class</h2>
                <p class="color-caution body-sm">This are just a span tag with class</p> 
                <span class="title-2xl">This is a <em>.title-2xl</em> class</span>
                <span class="title-xl">This is a <em>.title-xl</em> class</span>
                <span class="title-lg">This is a <em>.title-lg</em> class</span>
                <span class="title-md">This is a <em>.title-md</em> class</span>
                <span class="title-sm">This is a <em>.title-sm</em> class</span>
                <hr>
                <h2 class="body-lg color-dimmed">Heading by Tag</h2>
                <p class="color-caution body-sm">This are h1-through-6 tags </p>
                <h1>This is a <em>&#60;h1&#62;</em> without a class</h1>
                <h2>This is a <em>&#60;h2&#62;</em> without a class</h2>
                <h3>This is a <em>&#60;h3&#62;</em> without a class</h3>
                <h4>This is a <em>&#60;h4&#62;</em> without a class</h4>
                <h5>This is a <em>&#60;h5&#62;</em> without a class</h5>
                <h6>This is a <em>&#60;h6&#62;</em> without a class</h6>
            </div>
            <div class="set-grid" id="body">
                <h2 class="body-lg color-dimmed">Body by Class</h2>
                <p class="color-caution body-sm">These are spans with a class</p>
                <span class="body-2xl">This is a <em>.body-2xl</em> class</span>
                <span class="body-xl">This is a <em>.body-xl</em> class</span>
                <span class="body-lg">This is a <em>.body-lg</em> class</span>
                <span class="body-md">This is a <em>.body-md</em> class</span>
                <span class="body-sm">This is a <em>.body-sm</em> class</span>
                <span class="body-xs">This is a <em>.body-sm</em> class</span>
                <span class="body-2xs">This is a <em>.body-sm</em> class</span>
                <hr>
                <h2 class="body-lg color-dimmed">Body by Tag</h2>
                <p class="color-caution body-sm">This is just a p tag</p>
                <p class="">This is <em>&#60;p&#62;</em> without a class</p>
            </div>
            <div class="set-grid" id="classes">
                <h2 class="body-lg color-dimmed">Classes</h2>
                <p class="color-caution body-sm">Showing the different classes in typography.scss</p>
                <span class="body-md normal">This is using the <em>.normal</em> class</span>
                <span class="body-md bold">This is using the <em>.bold</em> class</span>
                <span class="body-md bolder">This is using the <em>.bolder</em> class</span>
                <span class="body-md font-family-title">This is using the <em>.font-family-title</em> class</span>
                <span class="body-md font-family-body">This is using the <em>.font-family-body</em> class</span>
                <span class="body-md ellipsis">This is using the <em>.ellipsis</em> class</span>
                <span class="body-md color-link">This is using the <em>.color-link</em> class</span>
                <a class="body-md color-link">This is an <em>&#60;a&#62;</em> tag using the <em>.color-link</em> class</a>
                <a class="body-md">This is an <em>&#60;a&#62;</em> tag not using any class</a>
            </div>
            <div class="set-grid" id="classes">
                <h2 class="body-lg color-dimmed">Color Classes</h2>
                <p class="color-caution body-sm">Showing the different color classes in typography.scss</p>
                <span class="body-md color-user-primary">This is using the <em>.color-user-primary</em> class</span>
                <span class="body-md background-color-user-primary">This is using the <em>.background-color-user-primary</em> class</span>
                <span class="body-md color-user-secondary">This is using the <em>.color-user-secondary</em> class</span>
                <span class="body-md background-color-user-secondary">This is using the <em>.background-color-user-secondary</em> class</span>
                <span class="body-md color-main">This is using the <em>.color-main</em> class</span>
                <span class="body-md background-color-main">This is using the <em>.background-color-main</em> class</span>
                <span class="body-md color-invert">This is using the <em>.color-invert</em> class</span>
                <span class="body-md background-color-invert">This is using the <em>.background-color-invert</em> class</span>
                <span class="body-md color-link">This is using the <em>.color-link</em> class</span>
                <span class="body-md background-color-link">This is using the <em>.background-color-link</em> class</span>
                <span class="body-md color-caution">This is using the <em>.color-caution</em> class</span>
                <span class="body-md background-color-caution">This is using the <em>.background-color-caution</em> class</span>
                <span class="body-md color-success">This is using the <em>.color-success</em> class</span>
                <span class="body-md background-color-success">This is using the <em>.background-color-success</em> class</span>
                <span class="body-md color-dimmed">This is using the <em>.color-dimmed</em> class</span>
                <span class="body-md background-color-dimmed">This is using the <em>.background-color-dimmed</em> class</span>
            </div>
        </div>
    </section>
    <section id="colors">
        <h1 class="color-dimmed">Colors</h1>
        <p class="body-sm">Here's 2 examples:</p>
        <p class="body-sm">
            <code
                >color: functions.get-pep-color(color-user-primary,
                color-tran-50);</code
            >
        </p>
        <p class="body-sm">
            <code
                >background-color: functions.get-pep-color(color-system-caution,
                color-base);</code
            >
        </p>
        <div class="set-grid" id="color-text">
            <h1 class="body-lg">color-text</h1>
            <div class="color-text-grid">
                <div class="color-text-color-main"></div>
                <div class="color-text-color-dimmed"></div>
                <div class="color-text-color-disabled"></div>
                <div class="color-text-color-invert"></div>
                <div class="color-text-color-link"></div>
                <div class="color-text-color-link-highlight"></div>
                <div class="color-text-color-link-focus"></div>
                <div class="color-text-color-success"></div>
                <div class="color-text-color-caution"></div>
            </div>
        </div>
        <div class="set-grid" id="color-system-primary-invert">
            <h1 class="body-lg">color-system-primary-invert</h1>
            <h2 class="body-sm">tran</h2>
            <div class="color-system-primary-invert-grid">
                <div class="t00"></div>
                <div class="t10"></div>
                <div class="t20"></div>
                <div class="t30"></div>
                <div class="t40"></div>
                <div class="t50"></div>
                <div class="t60"></div>
                <div class="t70"></div>
                <div class="t80"></div>
                <div class="t90"></div>
            </div>
            <h2 class="body-sm">flat</h2>
            <div class="color-system-primary-invert-grid">
                <div class="flat-l-20"></div>
                <div class="flat-l-10"></div>
                <div class="base"></div>
                <div class="flat-r-10"></div>
                <div class="flat-r-20"></div>
                <div class="flat-r-30"></div>
                <div class="flat-r-40"></div>
            </div>
        </div>
        <div class="set-grid" id="color-system-primary">
            <h1 class="body-lg">color-system-primary</h1>
            <h2 class="body-sm">tran</h2>
            <div class="color-system-primary-grid">
                <div class="t00"></div>
                <div class="t10"></div>
                <div class="t20"></div>
                <div class="t30"></div>
                <div class="t40"></div>
                <div class="t50"></div>
                <div class="t60"></div>
                <div class="t70"></div>
                <div class="t80"></div>
                <div class="t90"></div>
            </div>
            <h2 class="body-sm">flat</h2>
            <div class="color-system-primary-grid">
                <div class="flat-l-20"></div>
                <div class="flat-l-10"></div>
                <div class="base"></div>
                <div class="flat-r-10"></div>
                <div class="flat-r-20"></div>
                <div class="flat-r-30"></div>
                <div class="flat-r-40"></div>
            </div>
        </div>
        <div class="set-grid" id="color-system-success">
            <h1 class="body-lg">color-system-success</h1>
            <h2 class="body-sm">tran</h2>
            <div class="color-system-success-grid">
                <div class="t00"></div>
                <div class="t10"></div>
                <div class="t20"></div>
                <div class="t30"></div>
                <div class="t40"></div>
                <div class="t50"></div>
                <div class="t60"></div>
                <div class="t70"></div>
                <div class="t80"></div>
                <div class="t90"></div>
            </div>
            <h2 class="body-sm">flat</h2>
            <div class="color-system-success-grid">
                <div class="flat-l-20"></div>
                <div class="flat-l-10"></div>
                <div class="base"></div>
                <div class="flat-r-10"></div>
                <div class="flat-r-20"></div>
                <div class="flat-r-30"></div>
                <div class="flat-r-40"></div>
            </div>
        </div>
        <div class="set-grid" id="color-system-caution">
            <h1 class="body-lg">color-system-caution</h1>
            <h2 class="body-sm">tran</h2>
            <div class="color-system-caution-grid">
                <div class="t00"></div>
                <div class="t10"></div>
                <div class="t20"></div>
                <div class="t30"></div>
                <div class="t40"></div>
                <div class="t50"></div>
                <div class="t60"></div>
                <div class="t70"></div>
                <div class="t80"></div>
                <div class="t90"></div>
            </div>
            <h2 class="body-sm">flat</h2>
            <div class="color-system-caution-grid">
                <div class="flat-l-20"></div>
                <div class="flat-l-10"></div>
                <div class="base"></div>
                <div class="flat-r-10"></div>
                <div class="flat-r-20"></div>
                <div class="flat-r-30"></div>
                <div class="flat-r-40"></div>
            </div>
        </div>
        <div class="set-grid" id="color-user-primary">
            <h1 class="body-lg">color-user-primary</h1>
            <h2 class="body-sm">tran</h2>
            <div class="color-user-primary-grid">
                <div class="t00"></div>
                <div class="t10"></div>
                <div class="t20"></div>
                <div class="t30"></div>
                <div class="t40"></div>
                <div class="t50"></div>
                <div class="t60"></div>
                <div class="t70"></div>
                <div class="t80"></div>
                <div class="t90"></div>
            </div>
            <h2 class="body-sm">flat</h2>
            <div class="color-user-primary-grid">
                <div class="flat-l-20"></div>
                <div class="flat-l-10"></div>
                <div class="base"></div>
                <div class="flat-r-10"></div>
                <div class="flat-r-20"></div>
                <div class="flat-r-30"></div>
                <div class="flat-r-40"></div>
            </div>
        </div>
        <div class="set-grid" id="color-user-secondary">
            <h1 class="body-lg">color-user-secondary</h1>
            <h2 class="body-sm">tran</h2>
            <div class="color-user-secondary-grid">
                <div class="t00"></div>
                <div class="t10"></div>
                <div class="t20"></div>
                <div class="t30"></div>
                <div class="t40"></div>
                <div class="t50"></div>
                <div class="t60"></div>
                <div class="t70"></div>
                <div class="t80"></div>
                <div class="t90"></div>
            </div>
            <h2 class="body-sm">flat</h2>
            <div class="color-user-secondary-grid">
                <div class="flat-l-20"></div>
                <div class="flat-l-10"></div>
                <div class="base"></div>
                <div class="flat-r-10"></div>
                <div class="flat-r-20"></div>
                <div class="flat-r-30"></div>
                <div class="flat-r-40"></div>
            </div>
        </div>
        <div class="set-grid" id="color-weak">
            <h1 class="body-lg">color-weak</h1>
            <h2 class="body-sm">tran</h2>
            <div class="color-weak-grid">
                <div class="t00"></div>
                <div class="t10"></div>
                <div class="t20"></div>
                <div class="t30"></div>
                <div class="t40"></div>
                <div class="t50"></div>
                <div class="t60"></div>
                <div class="t70"></div>
                <div class="t80"></div>
                <div class="t90"></div>
            </div>
            <h2 class="body-sm">flat</h2>
            <div class="color-weak-grid">
                <div class="flat-l-20"></div>
                <div class="flat-l-10"></div>
                <div class="base"></div>
                <div class="flat-r-10"></div>
                <div class="flat-r-20"></div>
                <div class="flat-r-30"></div>
                <div class="flat-r-40"></div>
            </div>
        </div>
        <div class="set-grid" id="color-regular">
            <h1 class="body-lg">color-regular</h1>
            <h2 class="body-sm">tran</h2>
            <div class="color-regular-grid">
                <div class="t00"></div>
                <div class="t10"></div>
                <div class="t20"></div>
                <div class="t30"></div>
                <div class="t40"></div>
                <div class="t50"></div>
                <div class="t60"></div>
                <div class="t70"></div>
                <div class="t80"></div>
                <div class="t90"></div>
            </div>
            <h2 class="body-sm">flat</h2>
            <div class="color-regular-grid">
                <div class="flat-l-20"></div>
                <div class="flat-l-10"></div>
                <div class="base"></div>
                <div class="flat-r-10"></div>
                <div class="flat-r-20"></div>
                <div class="flat-r-30"></div>
                <div class="flat-r-40"></div>
            </div>
        </div>
        <div class="set-grid" id="color-em">
            <h1 class="body-lg">color-em</h1>
            <h2 class="body-sm">tran</h2>
            <div class="color-em-grid">
                <div class="t00"></div>
                <div class="t10"></div>
                <div class="t20"></div>
                <div class="t30"></div>
                <div class="t40"></div>
                <div class="t50"></div>
                <div class="t60"></div>
                <div class="t70"></div>
                <div class="t80"></div>
                <div class="t90"></div>
            </div>
            <h2 class="body-sm">flat</h2>
            <div class="color-em-grid">
                <div class="flat-l-20"></div>
                <div class="flat-l-10"></div>
                <div class="base"></div>
                <div class="flat-r-10"></div>
                <div class="flat-r-20"></div>
                <div class="flat-r-30"></div>
                <div class="flat-r-40"></div>
            </div>
        </div>
        <div class="set-grid" id="color-top-header">
            <h1 class="body-lg">color-top-header</h1>
            <h2 class="body-sm">tran</h2>
            <div class="color-top-header-grid">
                <div class="t00"></div>
                <div class="t10"></div>
                <div class="t20"></div>
                <div class="t30"></div>
                <div class="t40"></div>
                <div class="t50"></div>
                <div class="t60"></div>
                <div class="t70"></div>
                <div class="t80"></div>
                <div class="t90"></div>
            </div>
            <h2 class="body-sm">flat</h2>
            <div class="color-top-header-grid">
                <div class="flat-l-20"></div>
                <div class="flat-l-10"></div>
                <div class="base"></div>
                <div class="flat-r-10"></div>
                <div class="flat-r-20"></div>
                <div class="flat-r-30"></div>
                <div class="flat-r-40"></div>
            </div>
        </div>
        <div class="set-grid" id="color-qs">
            <h1 class="body-lg">color-qs</h1>
            <h2 class="body-sm">tran</h2>
            <div class="color-qs-grid">
                <div class="t00"></div>
                <div class="t10"></div>
                <div class="t20"></div>
                <div class="t30"></div>
                <div class="t40"></div>
                <div class="t50"></div>
                <div class="t60"></div>
                <div class="t70"></div>
                <div class="t80"></div>
                <div class="t90"></div>
            </div>
            <h2 class="body-sm">flat</h2>
            <div class="color-qs-grid">
                <div class="flat-l-20"></div>
                <div class="flat-l-10"></div>
                <div class="base"></div>
                <div class="flat-r-10"></div>
                <div class="flat-r-20"></div>
                <div class="flat-r-30"></div>
                <div class="flat-r-40"></div>
            </div>
        </div>
    </section>
    <section id="shadows">
        <h1 class="color-dimmed">Shadows</h1>
        <div class="set-grid" id="heading">
            <h2 class="body-lg color-dimmed">XS Shadows</h2>
            <div class="shadow-grid">
                <div class="shadow-xs-xsoft">
                    <p class="body-sm"><code>.shadow-xs-xsoft</code></p>
                </div>
                <div class="shadow-xs-soft">
                    <p class="body-sm"><code>.shadow-xs-soft</code></p>
                </div>
                <div class="shadow-xs-regular">
                    <p class="body-sm"><code>.shadow-xs-regular</code></p>
                </div>
                <div class="shadow-xs-hard">
                    <p class="body-sm"><code>.shadow-xs-hard</code></p>
                </div>
            </div>
            <h2 class="body-lg color-dimmed">SM Shadows</h2>
            <div class="shadow-grid">
                <div class="shadow-sm-xsoft">
                    <p class="body-sm"><code>.shadow-sm-xsoft</code></p>
                </div>
                <div class="shadow-sm-soft">
                    <p class="body-sm"><code>.shadow-sm-soft</code></p>
                </div>
                <div class="shadow-sm-regular">
                    <p class="body-sm"><code>.shadow-sm-regular</code></p>
                </div>
                <div class="shadow-sm-hard">
                    <p class="body-sm"><code>.shadow-sm-hard</code></p>
                </div>
            </div>
            <h2 class="body-lg color-dimmed">MD Shadows</h2>
            <div class="shadow-grid">
                <div class="shadow-md-xsoft">
                    <p class="body-sm"><code>.shadow-md-xsoft</code></p>
                </div>
                <div class="shadow-md-soft">
                    <p class="body-sm"><code>.shadow-md-soft</code></p>
                </div>
                <div class="shadow-md-regular">
                    <p class="body-sm"><code>.shadow-md-regular</code></p>
                </div>
                <div class="shadow-md-hard">
                    <p class="body-sm"><code>.shadow-md-hard</code></p>
                </div>
            </div>
            <h2 class="body-lg color-dimmed">LG Shadows</h2>
            <div class="shadow-grid">
                <div class="shadow-lg-xsoft">
                    <p class="body-sm text-align-center">
                        <code>.shadow-lg-xsoft</code>
                    </p>
                </div>
                <div class="shadow-lg-soft">
                    <p class="body-sm"><code>.shadow-lg-soft</code></p>
                </div>
                <div class="shadow-lg-regular">
                    <p class="body-sm"><code>.shadow-lg-regular</code></p>
                </div>
                <div class="shadow-lg-hard">
                    <p class="body-sm"><code>.shadow-lg-hard</code></p>
                </div>
            </div>
            <h2 class="body-lg color-dimmed">XL Shadows</h2>
            <div class="shadow-grid">
                <div class="shadow-xl-xsoft">
                    <p class="body-sm"><code>.shadow-xl-xsoft</code></p>
                </div>
                <div class="shadow-xl-soft">
                    <p class="body-sm"><code>.shadow-xl-soft</code></p>
                </div>
                <div class="shadow-xl-regular">
                    <p class="body-sm"><code>.shadow-xl-regular</code></p>
                </div>
                <div class="shadow-xl-hard">
                    <p class="body-sm"><code>.shadow-xl-hard</code></p>
                </div>
            </div>
        </div>
    </section>
</div>
