<div class="addon-page-container ui-test-container">
    <div class="main-content">
        <div class="content">
            <h1 class="text-color font-1">Hi Kof</h1>
            <h2 class="text-color font-2">Hi Kof</h2>
            <h3 class="text-color font-3">Hi Kof</h3>
            <h3 class="text-color font-4">Hi Kof</h3>
            <div class="that-grid">
                <div class="this-grid">
                    <div class="t00"></div>
                    <div class="t10"></div>
                    <div class="t20"></div>
                    <div class="t30"></div>
                    <div class="t40"></div>
                    <div class="t50"></div>
                    <div class="t60"></div>
                    <div class="t70"></div>
                    <div class="t80"></div>
                    <div class="t90"></div>
                </div>
                <div class="this-grid">
                    <div class="flat-l-20"></div>
                    <div class="flat-l-10"></div>
                    <div class="base"></div>
                    <div class="flat-r-10"></div>
                    <div class="flat-r-20"></div>
                    <div class="flat-r-30"></div>
                    <div class="flat-r-40"></div>
                </div>
            </div>
            <div class="this-grid">
                <div class="color-tran-00"></div>
                <div class="color-tran-10"></div>
                <div class="color-tran-20"></div>
                <div class="color-tran-30"></div>
                <div class="color-tran-40"></div>
                <div class="color-tran-50"></div>
                <div class="color-tran-60"></div>
                <div class="color-tran-70"></div>
                <div class="color-tran-80"></div>
                <div class="color-tran-90"></div>
            </div>
        </div>
    </div>
</div>