<div class="this-layout">
    <!-- <h1 class="text-color font-1">Hi Kof</h1>
    <h2 class="text-color font-2">Hi Kof</h2>
    <h3 class="text-color font-3">Hi Kof</h3>
    <h3 class="text-color font-4">Hi Kof</h3> -->
    <div class="color-set-grid" id="color-text">
        <h1 class="body-lg">color-text</h1>
        <div class="color-text-grid">
            <div class="color-text-color-main"></div>
            <div class="color-text-color-dimmed"></div>
            <div class="color-text-color-disabled"></div>
            <div class="color-text-color-invert"></div>
            <div class="color-text-color-link"></div>
            <div class="color-text-color-link-highlight"></div>
            <div class="color-text-color-link-focus"></div>
            <div class="color-text-color-success"></div>
            <div class="color-text-color-caution"></div>
        </div>
    </div>
    <div class="color-set-grid" id="color-system-primary-invert">
        <h1 class="body-lg">color-system-primary-invert</h1>
        <h2 class="body-sm">tran</h2>
        <div class="color-system-primary-invert-grid">
            <div class="t00"></div>
            <div class="t10"></div>
            <div class="t20"></div>
            <div class="t30"></div>
            <div class="t40"></div>
            <div class="t50"></div>
            <div class="t60"></div>
            <div class="t70"></div>
            <div class="t80"></div>
            <div class="t90"></div>
        </div>
        <h2 class="body-sm">flat</h2>
        <div class="color-system-primary-invert-grid">
            <div class="flat-l-20"></div>
            <div class="flat-l-10"></div>
            <div class="base"></div>
            <div class="flat-r-10"></div>
            <div class="flat-r-20"></div>
            <div class="flat-r-30"></div>
            <div class="flat-r-40"></div>
        </div>
    </div>
    <div class="color-set-grid" id="color-system-primary">
        <h1 class="body-lg">color-system-primary</h1>
        <h2 class="body-sm">tran</h2>
        <div class="color-system-primary-grid">
            <div class="t00"></div>
            <div class="t10"></div>
            <div class="t20"></div>
            <div class="t30"></div>
            <div class="t40"></div>
            <div class="t50"></div>
            <div class="t60"></div>
            <div class="t70"></div>
            <div class="t80"></div>
            <div class="t90"></div>
        </div>
        <h2 class="body-sm">flat</h2>
        <div class="color-system-primary-grid">
            <div class="flat-l-20"></div>
            <div class="flat-l-10"></div>
            <div class="base"></div>
            <div class="flat-r-10"></div>
            <div class="flat-r-20"></div>
            <div class="flat-r-30"></div>
            <div class="flat-r-40"></div>
        </div>
    </div>
    <div class="color-set-grid" id="color-system-success">
        <h1 class="body-lg">color-system-success</h1>
        <h2 class="body-sm">tran</h2>
        <div class="color-system-success-grid">
            <div class="t00"></div>
            <div class="t10"></div>
            <div class="t20"></div>
            <div class="t30"></div>
            <div class="t40"></div>
            <div class="t50"></div>
            <div class="t60"></div>
            <div class="t70"></div>
            <div class="t80"></div>
            <div class="t90"></div>
        </div>
        <h2 class="body-sm">flat</h2>
        <div class="color-system-success-grid">
            <div class="flat-l-20"></div>
            <div class="flat-l-10"></div>
            <div class="base"></div>
            <div class="flat-r-10"></div>
            <div class="flat-r-20"></div>
            <div class="flat-r-30"></div>
            <div class="flat-r-40"></div>
        </div>
    </div>
    <div class="color-set-grid" id="color-system-caution">
        <h1 class="body-lg">color-system-caution</h1>
        <h2 class="body-sm">tran</h2>
        <div class="color-system-caution-grid">
            <div class="t00"></div>
            <div class="t10"></div>
            <div class="t20"></div>
            <div class="t30"></div>
            <div class="t40"></div>
            <div class="t50"></div>
            <div class="t60"></div>
            <div class="t70"></div>
            <div class="t80"></div>
            <div class="t90"></div>
        </div>
        <h2 class="body-sm">flat</h2>
        <div class="color-system-caution-grid">
            <div class="flat-l-20"></div>
            <div class="flat-l-10"></div>
            <div class="base"></div>
            <div class="flat-r-10"></div>
            <div class="flat-r-20"></div>
            <div class="flat-r-30"></div>
            <div class="flat-r-40"></div>
        </div>
    </div>
    <div class="color-set-grid" id="color-user-primary">
        <h1 class="body-lg">color-user-primary</h1>
        <h2 class="body-sm">tran</h2>
        <div class="color-user-primary-grid">
            <div class="t00"></div>
            <div class="t10"></div>
            <div class="t20"></div>
            <div class="t30"></div>
            <div class="t40"></div>
            <div class="t50"></div>
            <div class="t60"></div>
            <div class="t70"></div>
            <div class="t80"></div>
            <div class="t90"></div>
        </div>
        <h2 class="body-sm">flat</h2>
        <div class="color-user-primary-grid">
            <div class="flat-l-20"></div>
            <div class="flat-l-10"></div>
            <div class="base"></div>
            <div class="flat-r-10"></div>
            <div class="flat-r-20"></div>
            <div class="flat-r-30"></div>
            <div class="flat-r-40"></div>
        </div>
    </div>
    <div class="color-set-grid" id="color-user-secondary">
        <h1 class="body-lg">color-user-secondary</h1>
        <h2 class="body-sm">tran</h2>
        <div class="color-user-secondary-grid">
            <div class="t00"></div>
            <div class="t10"></div>
            <div class="t20"></div>
            <div class="t30"></div>
            <div class="t40"></div>
            <div class="t50"></div>
            <div class="t60"></div>
            <div class="t70"></div>
            <div class="t80"></div>
            <div class="t90"></div>
        </div>
        <h2 class="body-sm">flat</h2>
        <div class="color-user-secondary-grid">
            <div class="flat-l-20"></div>
            <div class="flat-l-10"></div>
            <div class="base"></div>
            <div class="flat-r-10"></div>
            <div class="flat-r-20"></div>
            <div class="flat-r-30"></div>
            <div class="flat-r-40"></div>
        </div>
    </div>
    <div class="color-set-grid" id="color-weak">
        <h1 class="body-lg">color-weak</h1>
        <h2 class="body-sm">tran</h2>
        <div class="color-weak-grid">
            <div class="t00"></div>
            <div class="t10"></div>
            <div class="t20"></div>
            <div class="t30"></div>
            <div class="t40"></div>
            <div class="t50"></div>
            <div class="t60"></div>
            <div class="t70"></div>
            <div class="t80"></div>
            <div class="t90"></div>
        </div>
        <h2 class="body-sm">flat</h2>
        <div class="color-weak-grid">
            <div class="flat-l-20"></div>
            <div class="flat-l-10"></div>
            <div class="base"></div>
            <div class="flat-r-10"></div>
            <div class="flat-r-20"></div>
            <div class="flat-r-30"></div>
            <div class="flat-r-40"></div>
        </div>
    </div>
    <div class="color-set-grid" id="color-regular">
        <h1 class="body-lg">color-regular</h1>
        <h2 class="body-sm">tran</h2>
        <div class="color-regular-grid">
            <div class="t00"></div>
            <div class="t10"></div>
            <div class="t20"></div>
            <div class="t30"></div>
            <div class="t40"></div>
            <div class="t50"></div>
            <div class="t60"></div>
            <div class="t70"></div>
            <div class="t80"></div>
            <div class="t90"></div>
        </div>
        <h2 class="body-sm">flat</h2>
        <div class="color-regular-grid">
            <div class="flat-l-20"></div>
            <div class="flat-l-10"></div>
            <div class="base"></div>
            <div class="flat-r-10"></div>
            <div class="flat-r-20"></div>
            <div class="flat-r-30"></div>
            <div class="flat-r-40"></div>
        </div>
    </div>
    <div class="color-set-grid" id="color-strong">
        <h1 class="body-lg">color-strong</h1>
        <h2 class="body-sm">tran</h2>
        <div class="color-strong-grid">
            <div class="t00"></div>
            <div class="t10"></div>
            <div class="t20"></div>
            <div class="t30"></div>
            <div class="t40"></div>
            <div class="t50"></div>
            <div class="t60"></div>
            <div class="t70"></div>
            <div class="t80"></div>
            <div class="t90"></div>
        </div>
        <h2 class="body-sm">flat</h2>
        <div class="color-strong-grid">
            <div class="flat-l-20"></div>
            <div class="flat-l-10"></div>
            <div class="base"></div>
            <div class="flat-r-10"></div>
            <div class="flat-r-20"></div>
            <div class="flat-r-30"></div>
            <div class="flat-r-40"></div>
        </div>
    </div>
    <div class="color-set-grid" id="color-top-header">
        <h1 class="body-lg">color-top-header</h1>
        <h2 class="body-sm">tran</h2>
        <div class="color-top-header-grid">
            <div class="t00"></div>
            <div class="t10"></div>
            <div class="t20"></div>
            <div class="t30"></div>
            <div class="t40"></div>
            <div class="t50"></div>
            <div class="t60"></div>
            <div class="t70"></div>
            <div class="t80"></div>
            <div class="t90"></div>
        </div>
        <h2 class="body-sm">flat</h2>
        <div class="color-top-header-grid">
            <div class="flat-l-20"></div>
            <div class="flat-l-10"></div>
            <div class="base"></div>
            <div class="flat-r-10"></div>
            <div class="flat-r-20"></div>
            <div class="flat-r-30"></div>
            <div class="flat-r-40"></div>
        </div>
    </div>
    <div class="color-set-grid" id="color-qs">
        <h1 class="body-lg">color-qs</h1>
        <h2 class="body-sm">tran</h2>
        <div class="color-qs-grid">
            <div class="t00"></div>
            <div class="t10"></div>
            <div class="t20"></div>
            <div class="t30"></div>
            <div class="t40"></div>
            <div class="t50"></div>
            <div class="t60"></div>
            <div class="t70"></div>
            <div class="t80"></div>
            <div class="t90"></div>
        </div>
        <h2 class="body-sm">flat</h2>
        <div class="color-qs-grid">
            <div class="flat-l-20"></div>
            <div class="flat-l-10"></div>
            <div class="base"></div>
            <div class="flat-r-10"></div>
            <div class="flat-r-20"></div>
            <div class="flat-r-30"></div>
            <div class="flat-r-40"></div>
        </div>
    </div>
</div>
