@use '../../src/core/style/abstracts/variables';

.multi-select-options {
    margin: variables.$spacing-sm calc(#{variables.$spacing-xs} * -1) 0;
    
    &.with-no-search {
        margin: calc(#{variables.$spacing-sm} * -1) calc(#{variables.$spacing-xs} * -1) 0;
    }

    .no-options {
        display: flex;
        padding: variables.$spacing-sm variables.$spacing-md;
    }
    
    .flip-scroll {
        padding: variables.$spacing-sm variables.$spacing-xs;
        min-height: 3.25rem; // for 1 option
        max-height: 34.75rem; // for 15 options
        direction: rtl;
        
        virtual-scroller {
            direction: ltr;
        }

        &.rtl {
            direction: ltr;

            virtual-scroller {
                direction: rtl;
            }
        }
    }
    
    .pep-checkbox-container {
        height: 2.25rem;
        padding-inline-end: 0;

        ::ng-deep.mat-checkbox-layout {
            width: 100%;
            height: 100%;
            grid-template-columns: auto 1fr;

            .mat-checkbox-label {
                align-self: center;
            }
        }

        .title {
            display: grid;
            grid-auto-flow: column;
            justify-content: space-between;
            align-items: center;
            margin: 0 variables.$spacing-xs;
        }
    }

}