@import '../../src/core/style/abstracts/variables';
@import '../../src/core/style/abstracts/mixins';

.multi-select-options {
    margin: $spacing-sm calc(#{$spacing-xs} * -1) 0;
    
    .no-options {
        display: flex;
        padding: $content-padding $spacing-md;
    }
    
    .flip-scroll {
        padding: $spacing-sm $spacing-xs;
        min-height: 3.25rem; // for 1 option
        max-height: 34.75rem; // for 15 options
        direction: rtl;
        
        virtual-scroller {
            direction: ltr;
        }

        &.rtl {
            direction: ltr;

            virtual-scroller {
                direction: rtl;
            }
        }
    }
    
    .pep-checkbox-container {
        height: 2.25rem;
        padding-inline-end: 0;

        ::ng-deep.mat-checkbox-layout {
            width: 100%;
            height: 100%;
            grid-template-columns: auto 1fr;

            .mat-checkbox-label {
                align-self: center;
            }
        }

        .title {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin: 0 $spacing-xs;
        }
    }

}