@import '../src/core/style/abstracts/variables';
@import '../src/core/style/abstracts/mixins';

:host {
    display: block;
    // height: inherit;
}

signature-pad {
    display: grid;
    width: inherit;
    height: inherit;
}
