@import '../src/core/style/abstracts/mixins';
@import '../src/core/style/abstracts/variables';

:host {
    height: inherit;
    display: block;
}

.pepperi-textarea-container, .pep-textarea-container {
    ::ng-deep.mat-form-field-infix {
        margin-left: calc(#{$spacing-md} * -1);
    }

    &.right-alignment {
        ::ng-deep.mat-form-field-infix {
            margin-left: unset;
            margin-right: calc(#{$spacing-md} * -1);
        }
    }
}

.vertical-separator {
    display: none;
    // display: inline;
    // border-style: dashed;
    // margin: 0 4px;
    // border-top-width: 0;
    // border-bottom-width: 0;
    // border-right-width: 0;
    // border-left-width: 1px;
}

