<ng-container [formGroup]="form">
    <ng-template #pepTemplate let-isFormView="isFormView">
        <div class="pep-textarea-container pep-report-textarea" [ngClass]="{ 'stand-alone': standAlone,
            'right-alignment': xAlignment == 'right', 'one-row': !isFormView && rowSpan === 1,
            'pep-textarea-card-container': layoutType === 'card'}">
            <pep-field-title *ngIf="renderTitle && isFormView" [label]="label" [mandatory]="mandatory"
                [disabled]="disabled"
                [maxFieldCharacters]="inlineMode && !disabled && !readonly ? maxFieldCharacters : 0"
                [xAlignment]="xAlignment" [showTitle]="showTitle" [inputLength]="quillContent?.length">
            </pep-field-title>
            <mat-form-field appearance="outline" dir="{{ xAlignment == 'right' ? 'rtl' : 'ltr' }}"
                [ngClass]="{ 'pep-table-textarea': layoutType === 'table', 'active': active, 'ignore-disabled': disabled }">
                <textarea [hidden]="true" matInput [formControlName]="key"></textarea>

                <ng-container *ngIf="inlineMode; then inlineBlock; else notInlineBlock"></ng-container>

                <ng-template #inlineBlock>
                    <ng-container *ngTemplateOutlet="quilTemplate; context: {inDialog: false}"></ng-container>
                </ng-template>
                <ng-template #notInlineBlock>

                    <!-- We can use the quill-view-html
                    <quill-view-html class="body-sm rich-text-cont "
                    [ngStyle]="{ 'text-align': xAlignment == 'right' ? 'right' : 'left' }" [content]="value | pepSafeHtml"
                    theme="snow" [style.height]="fieldHeight"></quill-view-html> 
                -->

                    <div class="body-sm rich-text-cont "
                        [ngStyle]="{ 'text-align': xAlignment == 'right' ? 'right' : 'left' }"
                        [innerHtml]="value | pepSafeHtml" [style.height]="fieldHeight">
                    </div>
                </ng-template>
                <pep-textbox-icon *ngIf="renderEnlargeButton" matSuffix [value]="value" [label]="label" [type]="controlType"
                    [disabled]="disabled || readonly"
                    [ngClass]="{ 'card-one-row-icon': layoutType === 'card' && rowSpan === 1 }"
                    (iconClick)="openDialog()">
                </pep-textbox-icon>
                <mat-error>
                    <span class="body-xs"
                        [title]="mandatory && value.length == 0 ? ('MESSAGES.ERROR_IS_REQUIRED' | translate: { field: label }) : ('MESSAGES.ERROR_IS_NOT_VALID' | translate: { field: label })"
                        [innerText]="mandatory && value.length == 0 ? ('MESSAGES.ERROR_IS_REQUIRED' | translate: { field: label }) : ('MESSAGES.ERROR_IS_NOT_VALID' | translate: { field: label })"></span>
                </mat-error>

            </mat-form-field>
        </div>
    </ng-template>

    <ng-container *ngIf="layoutType === 'form'">
        <ng-container *ngTemplateOutlet="pepTemplate; context: { isFormView: true }"></ng-container>
    </ng-container>

    <ng-container *ngIf="layoutType === 'card'">
        <div class="pep-textarea-card-container card-flex-container"
            [ngClass]="{'one-row': rowSpan === 1, 'pep-button weak': isActive && !disabled}"
            [ngStyle]="{ '-webkit-line-clamp': rowSpan }" [class]="'text-align-' + xAlignment"
            (click)="!disabled ? cardTemplateClicked($event) : ''" [style.height]="fieldHeight">
            <span *ngIf="showTitle && label != ''" class="body-xs title no-shrink" title="{{ label }}">{{ label
                }}:&nbsp;</span>
            <span [id]="key" class="body-sm value wrap" [innerHtml]="value | pepSafeHtml"></span>
            <button *ngIf="isActive && !disabled" class="pep-button weak card-edit-button self-start"
                [ngClass]="{'self-end' : value && value !== ''}" mat-button>
                <mat-icon>
                    <pep-icon name="system_edit">
                    </pep-icon>
                </mat-icon>
            </button>
        </div>
    </ng-container>

    <ng-container *ngIf="layoutType === 'table'">
        <ng-container *ngIf="isActive && !disabled; then selectedBlock; else notSelectedBlock"></ng-container>
        <ng-template #selectedBlock>
            <ng-container *ngTemplateOutlet="pepTemplate; context: { isFormView: false }"></ng-container>
        </ng-template>
        <ng-template #notSelectedBlock>
            <ng-container *ngIf="value?.length > 0; then notEmptyBlock; else emptyBlock"></ng-container>
            <ng-template #notEmptyBlock>
                <div class="pep-textarea-card-container card-flex-container one-row">
                    <span [id]="key" class="wrap" [innerHtml]="value | pepSafeHtml"></span>
                </div>
            </ng-template>
            <ng-template #emptyBlock>
                <span>&nbsp;</span>
            </ng-template>
        </ng-template>
    </ng-container>
</ng-container>

<ng-template #richTextEditorDialogTemplate>
    <div class="rich-text-editor-container">
        <button mat-button [mat-dialog-close]="null" class="pep-button icon-button md weak pull-right flip">
            <mat-icon>
                <pep-icon name="system_close">
                </pep-icon>
            </mat-icon>
        </button>
        <ng-container *ngTemplateOutlet="quilTemplate; context: {inDialog: true}"></ng-container>
        <div mat-dialog-actions class=" pep-border-top">
            <div class="pep-spacing-element-negative">
                <button mat-button [mat-dialog-close]="null" class="pep-spacing-element pep-button md weak">
                    {{'ACTIONS.CANCEL' | translate}}
                </button>
                <button mat-button [mat-dialog-close]="quillContentDialog || ''" [disabled]="disabled"
                    class="pep-spacing-element pep-button md strong ">
                    {{'ACTIONS.SAVE' | translate}}
                </button>
            </div>
        </div>
    </div>
</ng-template>

<ng-template #quilTemplate let-inDialog="inDialog">
    <quill-editor id="{{inDialog ? 'quill-editor-dialog' : 'quill-editor-inline'}}"
        [class]="inDialog ? 'dialog-quill' : 'inline-quill'" [ngClass]="{ 'rich-text-cont': !inDialog }"
        placeholder="{{'RICH_TEXTAREA.HINT' | translate}}" [ngModel]="inDialog ? quillContentDialog : quillContent"
        [sanitize]="true" [readOnly]="disabled" [maxLength]="maxFieldCharacters" [required]="mandatory"
        (onEditorCreated)="onEditorCreated($event, inDialog)" (onContentChanged)="onContentChanged($event, inDialog)"
        (onBlur)="onBlur($event, inDialog)" (onFocus)="onFocus($event, inDialog)" theme="">
        <div *ngIf="!disabled" quill-editor-toolbar>
            <div class="pep-spacing-element-negative">
                <span class="ql-formats">
                    <select *ngIf="toolbarOptions?.font"
                        class="pep-spacing-element pep-button icon-button md weak ql-font select-arrow">
                        <option selected></option>
                        <option value="serif"></option>
                        <option value="monospace"></option>
                    </select>
                    <select *ngIf="toolbarOptions?.size"
                        class="pep-spacing-element pep-button icon-button md weak ql-size select-arrow">
                        <option value="small"></option>
                        <option selected></option>
                        <option value="large"></option>
                        <option value="huge"></option>
                    </select>
                </span>
                <span class="ql-formats">
                    <select *ngIf="toolbarOptions?.header"
                        class="pep-spacing-element pep-button icon-button md weak ql-header select-arrow">
                        <option value="1"></option>
                        <option value="2"></option>
                        <option value="3"></option>
                        <!-- 
                        <option value="4"></option>
                        <option value="5"></option>
                        <option value="6"></option> 
                        -->
                        <option value="false" selected></option>
                    </select>
                </span>
                <!-- <hr class="vertical-separator" /> -->
                <span class="ql-formats">
                    <button mat-button *ngIf="toolbarOptions?.bold"
                        class="pep-spacing-element pep-button icon-button md weak ql-bold"></button>
                    <button mat-button *ngIf="toolbarOptions?.italic"
                        class="pep-spacing-element pep-button icon-button md weak ql-italic"></button>
                    <button mat-button *ngIf="toolbarOptions?.underline"
                        class="pep-spacing-element pep-button icon-button md weak ql-underline"></button>
                    <button mat-button *ngIf="toolbarOptions?.strike"
                        class="pep-spacing-element pep-button icon-button md weak ql-strike"></button>
                </span>
                <span class="ql-formats">
                    <button mat-button *ngIf="toolbarOptions?.link"
                        class="pep-spacing-element pep-button icon-button md weak ql-link"></button>
                    <button mat-button *ngIf="toolbarOptions?.image"
                        class="pep-spacing-element pep-button icon-button md weak ql-image"></button>
                </span>
                <!-- <hr class="vertical-separator" /> -->
                <span class="ql-formats">
                    <button mat-button *ngIf="toolbarOptions?.ordered"
                        class="pep-spacing-element pep-button icon-button md weak ql-list" value="ordered"></button>
                    <button mat-button *ngIf="toolbarOptions?.bullet"
                        class="pep-spacing-element pep-button icon-button md weak ql-list" value="bullet"></button>
                </span>
                <!-- <hr class="vertical-separator" /> -->
                <span class="ql-formats">
                    <select *ngIf="toolbarOptions?.color"
                        class="pep-spacing-element pep-button icon-button md weak ql-color"></select>
                    <select *ngIf="toolbarOptions?.background"
                        class="pep-spacing-element pep-button icon-button md weak ql-background"></select>
                </span>
                <span class="ql-formats">
                    <select *ngIf="toolbarOptions?.align"
                        class="pep-spacing-element pep-button icon-button md weak ql-align">
                        <option selected></option>
                        <option value="center"></option>
                        <option value="right"></option>
                        <option value="justify"></option>
                    </select>
                </span>
            </div>
        </div>
    </quill-editor>
</ng-template>