@use '../src/core/style/abstracts/variables';

:host {
    height: inherit;
    display: block;
}

.pepperi-textarea-container, .pep-textarea-container {
    ::ng-deep.mat-form-field-infix {
        margin-left: calc(#{variables.$spacing-md} * -1);
    }

    &.right-alignment {
        ::ng-deep.mat-form-field-infix {
            margin-left: unset;
            margin-right: calc(#{variables.$spacing-md} * -1);
        }
    }
}

.vertical-separator {
    display: none;
}

