@import '../src/core/style/abstracts/variables';

.mat-slider-track-background {
    // height: 0 !important;
    display: none;
}
.mat-slider-horizontal .mat-slider-track-fill {
    // height: 0 !important;
    display: none;
}

.pepperi-color-picker-container {

    $color-width: 9.25rem;

    .mat-dialog-title {
        margin-bottom: 0;
    }

    .mat-dialog-content {
        padding-left: $spacing-sm;
        padding-right: $spacing-sm;
        padding-bottom: $spacing-sm;
    }

    .color-chooser-content {
        display: -ms-grid;
        display: grid;
        grid-template-columns: repeat(8, 1fr);
        grid-template-rows: repeat(3, 1fr);
        grid-column-gap: $spacing-xl;
        grid-row-gap: $spacing-sm;
        margin-top: $spacing-sm;

        .current-color {
            grid-row: 1 / span 3;
            grid-column: 6 / span 4;
            border-radius: $border-radius-md;
            width: $color-width;
            height: $color-width;
        }

        .slider-box { 
            // grid-row: 1 / span 3;
            grid-column: 1 / span 5;
        }
    }

    .color-value-content {
        display: -ms-grid;
        display: grid;
        grid-template-columns: repeat(8, 1fr);
        grid-template-rows: repeat(1, 1fr);
        grid-column-gap: $spacing-xl;
        grid-row-gap: $spacing-sm;
        margin-top: 1.5rem;
        
        .color-value {
            grid-row: 1 / span 1;
            grid-column: 1 / span 9;

            &.with-complient {
                grid-column: 1 / span 5;
            }
        }

        .color-complient-container {
            grid-column: 6 / span 4;
            
            .color-complient {
                display: flex;
                justify-content: center;
                align-items: center;
                border-radius: $border-radius-md;
                height: var(--pep-form-field-height, 2.5rem);
                width: $color-width;
            }
        }
    }
    

}

