@import '../src/core/style/abstracts/variables';
:host {
    display: grid;
}
.pepperi-color-container {
    .pepperi-color {
        padding: 0;
        display: grid;
        
        .btn-edit {
            width: $form-field-button-size;
            min-width: unset;
            padding: 0;
            margin: 0 $spacing-md;
            justify-self: end;
            align-self: center;
        }
    }

    &.right-alignment {
        .pepperi-color {
            .btn-edit {
                justify-self: start;
            }
        }
    }
}