<div class="pep-color-picker-container">
    <pep-dialog [title]="'COLOR.DIALOG_TITLE' | translate" (close)="closeDialog($event)">
        <ng-container pep-dialog-content>
            <div class="color-chooser-content">
                <div class="current-color" [ngStyle]="{ 'background': data?.value ? data.value : 'transparent' }"></div>

                <pep-slider class="slider-box" [label]="'COLOR.CHANGE_HUE' | translate" [minValue]="currentHueMin"
                    [maxValue]="currentHueMax" [value]="currentHue" [background]="currentHueBackground"
                    (valueChange)="onHueChange($event)">
                </pep-slider>
                <pep-slider class="slider-box" [label]="'COLOR.CHANGE_SATURATION' | translate"
                    [minValue]="currentSaturationMin" [maxValue]="currentSaturationMax" [value]="currentSaturation"
                    [background]="currentSaturationBackground" (valueChange)="onSaturationChange($event)">
                </pep-slider>
                <pep-slider class="slider-box" [label]="'COLOR.CHANGE_LIGHTNESS' | translate"
                    [minValue]="currentLightnessMin" [maxValue]="currentLightnessMax"
                    [value]="currentLightnessMax - currentLightness + currentLightnessMin"
                    [background]="currentLightnessBackground" (valueChange)="onLightnessChange($event)">
                </pep-slider>
            </div>
            <div class="color-value-content">
                <div class="color-value" [ngClass]="{ 'with-complient': checkAAComplient }">
                    <pep-textbox [key]="'colorValue'" [label]="'COLOR.ADD_VALUE_HERE' | translate "
                        [value]="data?.value" (valueChange)="onColorValueChange($event)">
                    </pep-textbox>
                </div>
                <div *ngIf="checkAAComplient" class="color-complient-container">
                    <pep-field-title [label]="'COLOR.AA_COMPLIENT' | translate ">
                    </pep-field-title>
                    <div class="color-complient" [ngStyle]="{ 'background': complientColor }">
                        <mat-icon *ngIf="isUserChooseAAComplientColor">
                            <pep-icon name="system_ok">
                            </pep-icon>
                        </mat-icon>
                    </div>
                </div>
            </div>
        </ng-container>
        <ng-container pep-dialog-actions>
            <div class="color-actions pep-spacing-element-negative">
                <mat-checkbox *ngIf="data.showAAComplient" class="pep-spacing-element" type="checkbox"
                    id="checkAAComplient" (change)="checkAAComplient = !checkAAComplient" [checked]="checkAAComplient">
                    <span class="body-xs ellipsis">{{ 'COLOR.AA_COMPLIENT' | translate }}</span>
                </mat-checkbox>
                <div>
                    <button mat-button [mat-dialog-close]="null" class="pep-spacing-element pep-button md weak">
                        {{'ACTIONS.CANCEL' | translate}}
                    </button>
                    <button mat-button class="pep-spacing-element pep-button md strong" (click)="onSave($event)">
                        {{'ACTIONS.OK' | translate}}
                    </button>
                </div>
            </div>
        </ng-container>
    </pep-dialog>
</div>