<pep-field-title *ngIf="renderTitle" [label]="label" [disabled]="disabled" [xAlignment]="xAlignment"
    [showTitle]="showTitle">
</pep-field-title>
<div [id]="key" class="pep-color-container" [ngClass]="{ 'right-alignment': xAlignment == 'right' }">
    <div pepRtlDirection (click)="!disabled ? chooseColor() : ''" class="pep-color pep-input"
        [ngClass]="{disable: disabled, 'one-row': rowSpan === 1}"
        style="background: {{ value ? value + '!important' : 'transparent' }}; opacity: {{ disabled && value ? 0.12 : 1}};">
        <button *ngIf="!disabled" class="pep-button icon-button xs weak special mat-button btn-edit" tabindex="-1"
            pepButtonBlur mat-button>
            <mat-icon>
                <pep-icon name="system_edit"></pep-icon>
            </mat-icon>
        </button>
    </div>
</div>