@use '../src/core/style/abstracts/variables';

.group-buttons-container {
    display: flex; // inline-flex;
    border-radius: variables.$border-radius-md;

    .dropdown-buttons,
    .split-buttons,
    .toggle-buttons  {
        .first-button {
            // This is only for .dropdown-buttons override in .split-buttons class
            margin-inline-end: 1px;
        }

        .first-button,
        .first-button:after {
            border-radius: variables.$border-radius-md 0 0 variables.$border-radius-md;
        }

        .last-button,
        .last-button:after {
            border-radius: 0 variables.$border-radius-md variables.$border-radius-md 0;
        }

        .pepperi-button, .pep-button {
            margin-top: 0 !important; // override material defaults.

            &.cdk-focused {
                z-index: variables.$z-index-lowest + 1;
            }
        }

        @media (max-width: variables.$screen-max-size-xs) {
            &.dropup {
                .first-button {
                    max-width: 200px;
                    padding: 0 0.25rem;
                }

                .last-button {
                    padding: 0;
                }
            }
        }
    }

    .split-buttons,
    .toggle-buttons {
        display: grid;
        grid-auto-flow: column;

        &.stretch {
            width: 100%;
        }

        .pep-button {
            max-width: unset;
            padding-inline: variables.$spacing-xs;
        }

        .first-button {
            margin-inline-end: -1px;
        }

        .middle-button {
            border-radius: 0;
            margin-inline-end: -1px;
        }
    }
}
