<div class="group-buttons-container" pepRtlDirection>
    <ng-container *ngIf="viewType == 'regular'">
        <button *ngFor="let button of buttons" [pepDataQa]="button.value"
            class="pep-button pep-spacing-element pull-left flip first-button mat-button {{ buttonsClass }}"
            [disabled]="buttonsDisabled" mat-button (click)="onButtonClicked($event, button)">
            <span [title]="button?.value">{{ button?.value }}</span>
        </button>
    </ng-container>

    <div *ngIf="viewType == 'dropdown'" class="dropdown-buttons pep-spacing-element"
        [ngClass]="{dropup: screenSize >= PepScreenSizeType.MD}">
        <button [pepDataQa]="buttons[0].value"
            class="pep-button pull-left flip first-button mat-button {{ buttonsClass }}"
            (click)="onButtonClicked($event, buttons[0])" [disabled]="buttonsDisabled" mat-button>
            <span class="ellipsis" [title]="buttons[0]?.value">{{ buttons[0]?.value }}</span>
        </button>
        <button class="pep-button icon-button pull-right flip last-button mat-button {{ buttonsClass }}"
            [matMenuTriggerFor]="actionsMenu" [disabled]="buttonsDisabled" pepMenuBlur mat-button>
            <mat-icon>
                <pep-icon name="{{ screenSize < PepScreenSizeType.MD ? 'arrow_down' : 'arrow_up' }}">
                </pep-icon>
            </mat-icon>
        </button>

        <mat-menu #actionsMenu="matMenu" xPosition="before">
            <ng-container *ngFor="let button of buttons; let i = index; first as isFirst">
                <button *ngIf="!isFirst" mat-menu-item [pepDataQa]="button.value"
                    (click)="onButtonClicked($event, button)">
                    <span [title]="button?.value">{{ button?.value }}</span>
                </button>
            </ng-container>
        </mat-menu>
    </div>
    <div *ngIf="viewType == 'split'" class="split-buttons">
        <button *ngFor="let button of buttons; let index; let isFirst = first; let isLast = last"
            [pepDataQa]="button.value"
            class="pep-button split-button mat-button {{ buttonsClass }} {{ button?.classNames }} pull-left flip"
            [ngClass]="{'first-button': isFirst, 'middle-button': !isFirst && !isLast, 'last-button': isLast, 'icon-button': button?.iconName && !button?.value}"
            [disabled]="buttonsDisabled" mat-button (click)="onButtonClicked($event, button)">

            <ng-container *ngTemplateOutlet="contentTemplate; context: {button: button}"></ng-container>
            <!-- <mat-icon *ngIf="button?.icon">
                <pep-icon name="{{button?.icon}}">
                </pep-icon>
            </mat-icon> -->
            <!-- <span *ngIf="button?.value" class="ellipsis" [title]="button?.value">{{ button?.value }}</span> -->
        </button>
    </div>
</div>

<ng-template #contentTemplate let-button="button">
    <mat-icon *ngIf="button.iconName && (!button.iconPosition || button.iconPosition === 'start')"
        [ngClass]="{ 'pull-left flip': button.value }">
        <pep-icon name="{{button.iconName}}"></pep-icon>
    </mat-icon>
    <span *ngIf="button.value" class="ellipsis pull-left flip"
        [ngClass]="{ 'button-title-with-icon': button.iconName, 'icon-before': button.iconPosition === 'start' }"
        [title]="button.value">
        {{button.value}}
    </span>
    <mat-icon *ngIf="button.iconName && button.iconPosition === 'end'" [ngClass]="{ 'pull-left flip': button.value }">
        <pep-icon name="{{button.iconName}}"></pep-icon>
    </mat-icon>
</ng-template>