<div class="addon-page-container ui-test-container">
    <pep-top-bar [title]="'Top bar title'">
        <div header-start-content>

        </div>
        <div header-end-content>
            <pep-menu class="pep-spacing-element" [items]="menuItems" [type]="'action-select'"
                [selectedItem]="selectedMenuItem" (menuItemClick)="onMenuItemClicked($event)">
            </pep-menu>
        </div>
        <pep-search [value]="searchString" (search)="onSearchChanged($event)" [triggerOn]="'click'"
            (autocompleteChange)="onSearchAutocompleteChanged($event)" (stateChange)="onSearchStateChanged($event)">
        </pep-search>
    </pep-top-bar>
    <div class="main-content ">
        <div class="content spacing-top">
            <div class="child1 child-container">
                <pep-group-buttons [buttons]="groupButtons" [buttonsClass]="'md regular'" [buttonsDisabled]="false"
                    [viewType]="'split'">
                </pep-group-buttons>
            </div>

            <div class="child2 child-container">
                <!-- Icons Examples -->
                <mat-icon>
                    <pep-icon name="system_spinner" [spin]="true"></pep-icon>
                </mat-icon>
                <mat-icon>
                    <pep-icon name="system_bolt"></pep-icon>
                </mat-icon>
                <mat-icon>
                    <pep-icon name="no_image"></pep-icon>
                </mat-icon>
            </div>

            <div class="child3 child-container">

            </div>

            <div class="child4 child-container">
                <!-- Color Picker Example -->
                <pep-color [key]="'color1'" [label]="'Pepperi Color Picker'" [value]="'hsl(77, 87%, 42%)'"
                    [xAlignment]="'right'" [showAAComplient]="true" [type]="'any'">
                </pep-color>
            </div>
        </div>
    </div>
</div>