<div [id]="containerId" class="pep-draggable-items-container" cdkDropList [cdkDropListData]="filteredItems$ | async"
    cdkDropListSortingDisabled [cdkDropListConnectedTo]="dropAreaIds">

    <div *ngIf="titleType !== 'none'" class="title-container"
        [ngClass]="{ 'pep-border-bottom': titleType === 'with-bottom-border'}">
        <label class="body-xl bold ellipsis">{{title}}</label>
        <pep-search *ngIf="showSearch && items?.length > numberItemsToShowSearch" sizeType="sm" shrink="always"
            [searchControl]="searchControl" triggerOn="keydown"></pep-search>
    </div>

    <pep-draggable-item *ngFor="let item of filteredItems$ | async; let i=index;" class="draggble-item"
        [title]="item.title" [data]="item.data" [disabled]="item.disabled" cdkDrag [cdkDragData]="item.data"
        [cdkDragDisabled]="item.disabled" (cdkDragStarted)="onDragStart($event)" (cdkDragEnded)="onDragEnd($event)">

        <ng-container *ngIf="itemPlaceholderType !== 'regular'">
            <div class="placeholder-item {{itemPlaceholderType}}" *cdkDragPlaceholder></div>
        </ng-container>
    </pep-draggable-item>
</div>