@use '../src/core/style/abstracts/variables';
@use '../src/core/style/abstracts/functions';
@use '../src/core/style/abstracts/mixins';

.pep-draggable-items-container {
    display: grid;
    grid-template-rows: auto 1fr;
    height: 100%;
    overflow: hidden;
    padding-inline-end: variables.$spacing-xs;
}

.draggable-items-overflow {
    overflow: auto;
    padding: variables.$content-padding 0;
}

.draggable-items-wrapper {
    display: flex;
    flex-direction: column;
    gap: variables.$spacing-sm;
    // overflow: auto;

    .draggble-item {
        cursor: grab; 
    
        &.cdk-drag-disabled { 
            cursor: not-allowed; 
        }
    }
}

.title-container {
    height: variables.$top-bar-field-height;
    display: flex;
    gap: variables.$spacing-sm;
    flex-flow: row;
    justify-content: space-between;

    .title {
        align-self:center;
    }

    .search-button {
        display: flex;
        align-self: center;
    }

    // &.pep-border-bottom {
    //     margin-bottom: variables.$content-margin;
    // }
}

.placeholder-item {
    height: variables.$draggable-item-height;
    border-radius: variables.$border-radius-md;
    width: 100%;
   
}