<div class="filter-section-container">
    <ng-container #sectionContainer>
        <ng-container [formGroup]="form">
            <div class="action-buttons-wrapper">
                <pep-button [value]="'Rule'" [sizeType]="'sm'" [styleType]="'regular'"
                    [classNames]="'pep-spacing-element '" (buttonClick)="onAddRuleClicked()">
                </pep-button>
                <pep-button [value]="'Rule Set'" [sizeType]="'sm'" [styleType]="'regular'"
                    [classNames]="'pep-spacing-element '" (buttonClick)="onAddRuleSetClicked()">
                </pep-button>
                <ng-container *ngIf="!isRoot">
                    <pep-button [value]="'Delete'" [sizeType]="'sm'" [styleType]="'regular'"
                        [classNames]="'pep-spacing-element '" (buttonClick)="onDeleteSectionClicked()">
                    </pep-button>
                </ng-container>
            </div>
            <input type="text" formControlName="operator">

        </ng-container>
    </ng-container>
</div>