//@import '../src/core/style/abstracts/variables';
@import '../../../src/core//style/abstracts/variables';


.filter-section-wrapper {
    width: 100%;
}

.filter-section-container {
    border-radius: $border-radius-md;
    /*border: 1px solid rgb(204, 204, 204);
    box-shadow: 0px 4px 16px 0px rgba(0, 0, 0, 0.08); */
    padding: .5rem;   
    width: 100%;
}

/*
:host::ng-deep {
    .pep-field {
        min-height: 0;
        margin-bottom: 0;
    }   
}  */