<div [formGroup]="form">
    <ng-container>
        <pep-select [key]="'typeOperator'" [value]="operator.id" [label]="'SMART_FILTERS.TYPE' | translate"
            [emptyOption]="false" [options]="chooseTypeOptions" (valueChange)="onOperatorChanged($event)">
        </pep-select>
    </ng-container>
    <div *ngIf="operator !== PepSmartFilterOperators.NumberRange">
        <!-- Amount -->
        <pep-textbox [form]="form" [key]="firstControlKey" [label]="'SMART_FILTERS.AMOUNT' | translate"
            [renderError]="false" [type]="field.type" [formattedValue]="firstControl.value" [value]="firstControl.value"
            (valueChange)="onValueChanged()">
        </pep-textbox>
    </div>
    <div *ngIf="operator === PepSmartFilterOperators.NumberRange" fxLayout="row" fxLayout.xs="column"
        fxLayoutGap="1rem">
        <!-- Min number -->
        <pep-textbox [form]="form" [key]="firstControlKey" [label]="'SMART_FILTERS.MIN' | translate"
            [renderError]="false" fxFlex="50%" [type]="field.type" [formattedValue]="firstControl.value"
            [value]="firstControl.value" [maxValue]="secondControl.value" (valueChange)="onValueChanged()">
        </pep-textbox>
        <!-- Max number -->
        <pep-textbox [form]="form" [key]="secondControlKey" [label]="'SMART_FILTERS.MAX' | translate"
            [renderError]="false" fxFlex="50%" [type]="field.type" [formattedValue]="secondControl.value"
            [value]="secondControl.value" [minValue]="firstControl.value" (valueChange)="onValueChanged()">
        </pep-textbox>
    </div>
</div>