<div [formGroup]="form" [fxLayout]="inline ? 'row' : 'column'" [fxLayoutGap]="inline ? '.5rem' : '0rem'">
    <ng-container>
        <pep-select [fxFlex]="inline ? operatorWidth : null" [key]="'typeOperator'" [value]="operator.id"
            [label]="'SMART_FILTERS.TYPE' | translate" [renderTitle]="renderTitle" [emptyOption]="false"
            [options]="chooseTypeOptions" (valueChange)="onOperatorChanged($event)">
        </pep-select>
    </ng-container>
    <ng-container *ngIf="operator === PepSmartFilterOperators.NumberRange">
        <div fxLayout="row" fxLayout.xs="column" [fxLayoutGap]="inline ? '.5rem' : '1rem'"
            [fxFlex]="inline ? fieldsWidth : null">
            <!-- Min number -->
            <pep-textbox [form]="form" [key]="firstControlKey" [label]="'SMART_FILTERS.MIN' | translate"
                [renderError]="false" [renderTitle]="renderTitle" [type]="field.type" fxFlex="50%"
                [value]="firstControl?.value || ''"
                [maxValue]="secondControl?.value || ''" (valueChange)="onValueChanged()">
            </pep-textbox>
            <!-- Max number -->
            <pep-textbox [form]="form" [key]="secondControlKey" [label]="'SMART_FILTERS.MAX' | translate"
                [renderError]="false" [renderTitle]="renderTitle" [type]="field.type" fxFlex="50%"
                [value]="secondControl?.value || ''"
                [minValue]="firstControl?.value || ''" (valueChange)="onValueChanged()">
            </pep-textbox>
        </div>
    </ng-container>
    <ng-container *ngIf="operator === PepSmartFilterVariableOperators.LessThanVariable || 
        operator === PepSmartFilterVariableOperators.GreaterThanVariable || 
        operator === PepSmartFilterVariableOperators.EqualsToVariable">
        <pep-select [fxFlex]="inline ? fieldsWidth : null" [key]="firstControlKey" [value]="firstControl?.value || ''"
            [label]="'SMART_FILTERS.TYPE' | translate" [renderTitle]="renderTitle" [emptyOption]="false"
            [options]="variableFieldOptions" (valueChange)="onVariableChanged($event)">
        </pep-select>
    </ng-container>
    <ng-container *ngIf="operator !== PepSmartFilterOperators.NumberRange && operator !== PepSmartFilterVariableOperators.LessThanVariable &&
        operator !== PepSmartFilterVariableOperators.GreaterThanVariable && 
        operator !== PepSmartFilterVariableOperators.EqualsToVariable">
        <div [fxFlex]="inline ? fieldsWidth : null">
            <!-- Amount -->
            <pep-textbox [form]="form" [key]="firstControlKey" [label]="'SMART_FILTERS.AMOUNT' | translate"
                [renderError]="false" [renderTitle]="renderTitle" [type]="field.type"
                [value]="firstControl?.value || ''"
                (valueChange)="onValueChanged()">
            </pep-textbox>
        </div>
    </ng-container>
</div>