@import '../src/core/style/abstracts/mixins';
@import '../src/core/style/abstracts/variables';

.smart-filters-container {
    .title {
        height: $top-bar-height-with-no-top;
        display: flex;
        flex-flow: wrap;
        align-items: center;
        justify-content: space-between;

        .clear-filter {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            margin: 0 $spacing-xs;
            padding:0 $spacing-md;

            &:after {
                background-color: transparent;
            }
        }
    }

    .smart-filter-title-container {
        display: grid;
        grid-auto-flow: column;
        grid-template-columns: auto 1fr auto;
        width: 100%;
        
        // To cancel the warning of this add > * instead
        // align-items: center;
        > * { 
            align-self: center 
        }

        .clear-filter {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            margin-inline-end: $spacing-sm;
            
            &:after {
                background-color: transparent;
            }
        }

        .mat-icon {
            pep-icon {
                height: 0.75rem;
                width: 0.75rem;
            }
        }
    }
}