@import '../src/core/style/abstracts/mixins';
@import '../src/core/style/abstracts/variables';

.smart-filters-container {
    // &.with-no-padding {
    //     padding: 0 !important;
    // }
    
    .title {
        height: $top-bar-height-with-no-top;
        display: flex;
        flex-flow: wrap;
        align-items: center;
        
        // height: calc(var(--pep-top-bar-spacing-bottom, 0.5rem) + var(--pep-top-bar-field-height, 2.5rem));
        // padding: $spacing-md $spacing-sm;
        // width: 100%;
    }

    .smart-filter-title-container {
        display: grid;
        grid-auto-flow: column;
        grid-template-columns: auto 1fr auto;
        width: 100%;
    
        .clear-filter {
            display: flex;
            flex-direction: row;
            align-items: center;
            margin: 0 $spacing-sm;
            padding:0 $spacing-xs;
            padding-inline-start: $spacing-sm;
            
            &:after {
                background-color: transparent;
            }
        }
    }

    .smart-filter-content {
        ::ng-deep.filter-actions {
            margin: $spacing-md 0;
            display: flex;
            justify-content: flex-end;
        }
    }
}