<ng-container [formGroup]="form">
    <ng-template #pepTemplate>
        <div #QSCont class="pep-quantity-selector-container {{ styleClass }}" [ngClass]="{
                'hide-qs-actions' : layoutType === 'card' && rowSpan <= 1,
                'pep-table-quantity-selector': layoutType === 'table',
                'one-row': rowSpan === 1,
                caution: isCaution,
                'matrix-qs': type === 'qsForMatrix',
                'zero-quantity': formattedValue === '0'
            }">
            <pep-field-title *ngIf="layoutType !== 'table' && layoutType !== 'card'" [label]="label"
                [required]="required" [disabled]="disabled" [showTitle]="showTitle" [xAlignment]="xAlignment">
            </pep-field-title>

            <ng-container *ngIf="type == 'qs'">
                <ng-container *ngIf="readonly; then readonlyBlock; else editableQSBlock"></ng-container>
                <ng-template #readonlyBlock>
                    <button [id]="key" mat-button class="pep-button {{ styleClass }} disable ellipsis"
                        [ngClass]="{caution: isCaution, md: rowSpan !== 1, xs: rowSpan === 1}"
                        title="{{ formattedValue }}" disabled="true">
                        {{ formattedValue }}
                    </button>
                </ng-template>
                <ng-template #editableQSBlock>
                    <mat-form-field appearance="outline">
                        <input type="decimalNumber" inputmode="decimal" matInput #QSInput name="{{ key }}"
                            class="body-lg ellipsis" title="{{ formattedValue }}" autocomplete="off" [id]="key"
                            [formControlName]="key"
                            [value]="isFocus ? (value | pepQuantitySelectorNumber: alowDecimal) : formattedValue"
                            [disabled]="disabled" (keypress)="onKeyPress($event)"
                            (click)="$event.target.setSelectionRange(0, 999)" (blur)="onBlur($event)"
                            (focus)="onFocus($event)" />
                        <button *ngIf="showQsBtn" mat-button matPrefix (click)="decrement($event)"
                            class="pep-button icon-button sm weak qs-action" [disabled]="disabled" [ngClass]="{ disable: disabled, caution: isCaution && styleClass !== 'strong',
                                'keep-background-on-focus': styleClass === 'strong'}">
                            <mat-icon>
                                <pep-icon name="number_minus">
                                </pep-icon>
                            </mat-icon>
                        </button>
                        <button *ngIf="showQsBtn" mat-button matSuffix (click)="increment($event)"
                            class="pep-button icon-button sm weak qs-action" [disabled]="disabled" [ngClass]="{ disable: disabled, caution: isCaution && styleClass !== 'strong',
                                'keep-background-on-focus': styleClass === 'strong'}">
                            <mat-icon>
                                <pep-icon name="number_plus">
                                </pep-icon>
                            </mat-icon>
                        </button>
                        <mat-error *ngIf="messages?.length > 0">
                            <span class="qs-error body-xs" *ngFor="let msg of messages"> {{ msg.Key | translate }} :
                                {{ msg.Value }} </span>
                        </mat-error>
                    </mat-form-field>
                </ng-template>
            </ng-container>

            <ng-container *ngIf="type == 'qsForMatrix'">
                <ng-container *ngIf="readonly; then readonlyBlock; else editableQSBlock"></ng-container>
                <ng-template #readonlyBlock>
                    <button [id]="key" mat-button class="pep-button {{ styleClass }} disable" disabled="true"
                        [ngClass]="{caution: isCaution, md: rowSpan !== 1, xs: rowSpan === 1}">
                        X
                    </button>
                </ng-template>
                <ng-template #editableQSBlock>
                    <span *ngIf="xAlignment == 'right'" class="body-sm additional-value prefix"
                        matBadge="{{ additionalValue }}" matBadgePosition="before"
                        matBadgeSize="rowSpan === 1 ? small : medium" [@showHide]="getAdditionalValue"></span>

                    <mat-form-field appearance="outline" (mouseleave)="!isFocus ? onMatrixMouseleave($event) : null">
                        <input type="decimalNumber" inputmode="decimal" matInput #QSInput name="{{ key }}"
                            title="{{ formattedValue }}" class="body-sm ellipsis" autocomplete="off" [id]="key"
                            [formControlName]="key"
                            [value]="isFocus ? (value | pepQuantitySelectorNumber: alowDecimal) : formattedValue"
                            [disabled]="disabled" (keypress)="onKeyPress($event)"
                            (click)="onMatrixClick($event); $event.target.setSelectionRange(0, 999)"
                            (blur)="onMatrixBlur($event)" (focus)="onMatrixMouseEnter($event); onFocus($event)"
                            (mouseenter)="onMatrixMouseEnter($event)" />

                        <mat-error *ngIf="messages?.length > 0">
                            <span class="qs-error body-xs" *ngFor="let msg of messages"> {{ msg.Key | translate }} :
                                {{ msg.Value }} </span>
                        </mat-error>
                    </mat-form-field>

                    <span *ngIf="xAlignment != 'right'" class="body-sm additional-value suffix"
                        matBadge="{{ additionalValue }}" matBadgePosition="before"
                        matBadgeSize="rowSpan === 1 ? small : medium" [@showHide]="getAdditionalValue"></span>
                </ng-template>
            </ng-container>

            <ng-container *ngIf="type == 'button'">
                <ng-container *ngIf="(value | pepToNumber) == 0; then regularBlock; else withBadgeBlock">
                </ng-container>
                <ng-template #regularBlock>
                    <button mat-button [disabled]="disabled" class="pep-button {{ styleClass }} ellipsis" [id]="key"
                        name="{{ key }}"
                        [ngClass]="{ disable: disabled, caution: isCaution, md: rowSpan !== 1, xs: rowSpan === 1}"
                        [title]="'QS.ORDER' | translate" (click)="enterChildren($event)">
                        {{ 'QS.ORDER' | translate }}
                    </button>
                </ng-template>
                <ng-template #withBadgeBlock>
                    <button mat-button matBadge="{{ formattedValue }}"
                        matBadgePosition="{{xAlignment == 'right' ? 'before' : 'after'}}"
                        [matBadgeSize]="layoutType === 'card' && rowSpan === 1 ? 'small' : 'medium'"
                        class="pep-button {{ styleClass }} ellipsis" [id]="key" name="{{ key }}" [ngClass]="{ disable: disabled, caution: isCaution, md: rowSpan !== 1, xs: rowSpan === 1,
                            'right-alignment': xAlignment == 'right', 'left-alignment': xAlignment != 'right'}"
                        [title]="'QS.ORDER' | translate" (click)="enterChildren($event)" [disabled]="disabled">
                        {{ 'QS.ORDER' | translate }}
                    </button>
                </ng-template>
            </ng-container>
            <ng-container *ngIf="type == 'packageButton'">
                <button mat-button class="pep-button {{ styleClass }} ellipsis" [id]="key" name="{{ key }}"
                    [ngClass]="{ disable: disabled, caution: isCaution, md: rowSpan !== 1, xs: rowSpan === 1}"
                    [title]="'QS.ORDER' | translate" (click)="enterPackage($event)" [disabled]="disabled">
                    {{ 'QS.ORDER' | translate }} &#40;{{ formattedValue }}&#41;
                </button>
            </ng-container>
        </div>
    </ng-template>

    <ng-container *ngIf="layoutType === 'form'">
        <ng-container *ngTemplateOutlet="pepTemplate"></ng-container>
    </ng-container>

    <ng-container *ngIf="layoutType === 'card'">
        <ng-container *ngTemplateOutlet="pepTemplate"></ng-container>
    </ng-container>

    <ng-container *ngIf="layoutType === 'table'">
        <ng-container *ngTemplateOutlet="pepTemplate"></ng-container>
    </ng-container>
</ng-container>