// ******************************************************************************
//                       QS styles declerations
// ******************************************************************************
@mixin pep-qs-action-state-button($pepperi-theme, $style, $color-name: color-qs) {
    @include pep-button-states($pepperi-theme, $style, $color-name);

    &.qs-action {
        @include pep-button-states($pepperi-theme, weak, $color-name);
        box-shadow: unset;
        border: unset;
        @include fix-inline-z-index();
    }
}

@mixin pep-qs-states($pepperi-theme, $style) {
    .mat-form-field {
        @include pep-form-field-states($pepperi-theme, $style, color-qs);
    }

    // .pepperi-button:not(.qs-action), .pep-button:not(.qs-action) {
    .pepperi-button, .pep-button {
        @include pep-qs-action-state-button($pepperi-theme, $style);
    }

    &.caution {
        .mat-form-field {
            @include pep-form-field-states($pepperi-theme, $style, color-system-caution);
        }

        .pepperi-button, .pep-button {
            @include pep-qs-action-state-button($pepperi-theme, $style, color-system-caution);
        }
    }
}

@mixin pep-quantity-selector-component-theme($pepperi-theme) {
    .pepperi-quantity-selector-container, .pep-quantity-selector-container {
        &:not(.strong) {
            .mat-form-field {
                .mat-input-element {
                    color: get-pep-color($pepperi-theme, color-text, color-main);
                }
            }

            &.zero-quantity {
                .mat-form-field {
                    .mat-input-element {
                        color: get-pep-color($pepperi-theme, color-text, color-dimmed);
                    }
                }

                button {
                    color: get-pep-color($pepperi-theme, color-text, color-dimmed);
                }
            }
        }

        &.weak {
            @include pep-qs-states($pepperi-theme, weak);
        }

        &.regular {
            @include pep-qs-states($pepperi-theme, regular);
        }

        &.strong {
            @include pep-qs-states($pepperi-theme, strong);
        }

        &.matrix-qs {
            .additional-value {
                @include pep-badge($pepperi-theme);
            }
        }

    }
}
