@use '../../src/core/style/abstracts/variables';
@use '../../src/core/style/abstracts/functions';
@use '../../src/core/style/abstracts/mixins';

:host {
    display: block;
}

.pep-draggable-item-container {
    // opacity: 0.75;
    min-height: variables.$draggable-item-height;
    height: variables.$draggable-item-height;
    width: 100%;
    display: grid;
    grid-template-columns: auto 1fr auto;
    align-items: center;
    border-radius: variables.$border-radius-md;
    padding-inline: variables.$spacing-sm;
    
    &.shadow {
        box-shadow: functions.get-pep-shadow(shadow-xs, regular);
    }
    
    &.regular {
        @include mixins.state-regular-default(true);
    }
    
    &.weak {
        @include mixins.state-weak-default();
    }
    
    &.disable {
        // @include mixins.state-regular-disable(true);
        opacity: 0.35;
        pointer-events: none;
    }
    
    &.toggle-content {
        .item-title-container:hover {
            cursor: s-resize;
        }

        &.toggle-content-open {
            height: unset;
            padding-top: variables.$spacing-sm;

            .item-title-container:hover {
                cursor: n-resize; 
            }
        }
    }

    .item-title-container {
        height: 100%;
        display: flex;
        align-items: center;
        overflow-x: hidden;
        margin-inline: variables.$spacing-sm;

        .item-title {
            display: block;
        }
    }

    .actions {
        display: inline-flex;
        gap: variables.$spacing-xs;
    }

    .toggle-container {
        padding: variables.$spacing-md 0;
        grid-column: 1 / -1;
        display: grid;
        gap: variables.$spacing-lg;
    }
}
