@use '~@angular/material' as mat;
$material-nature-primary: mat.define-palette(mat.$brown-palette, 700, 300, 900);
$material-nature-accent: mat.define-palette(mat.$deep-purple-palette, 300);
$material-nature-warn: mat.define-palette(mat.$red-palette, 600);

$material-nature-theme: mat.define-light-theme($material-nature-primary, $material-nature-accent, $material-nature-warn);
$user-nature-theme-color: #650ec9;
