<div class="mat-form-title" [ngClass]="{disable: disabled}" [ngStyle]="{'text-align': xAlignment }">
    <ng-container *ngIf="xAlignment == 'right' then rightTemplate else leftTemplate">
    </ng-container>
    <ng-template #rightTemplate>
        <ng-container *ngTemplateOutlet="hintTemplate"></ng-container>
        <ng-container *ngTemplateOutlet="titleTemplate"></ng-container>
        <ng-container *ngTemplateOutlet="requiredTemplate"></ng-container>
    </ng-template>
    <ng-template #leftTemplate>
        <ng-container *ngTemplateOutlet="requiredTemplate"></ng-container>
        <ng-container *ngTemplateOutlet="titleTemplate"></ng-container>
        <ng-container *ngTemplateOutlet="hintTemplate"></ng-container>
    </ng-template>

    <ng-template #requiredTemplate>
        <mat-icon *ngIf="mandatory" class="pep-spacing-element">
            <pep-icon name="system_must"></pep-icon>
        </mat-icon>
        <!-- For the grid template () -->
        <span *ngIf="!mandatory"></span>
    </ng-template>
    <ng-template #titleTemplate>
        <mat-label *ngIf="showTitle" [title]="label" class="body-xs">
            {{ label }}
        </mat-label>
        <!-- For the grid template () -->
        <span *ngIf="!showTitle"></span>
    </ng-template>
    <ng-template #hintTemplate>
        <span class="body-xs color-dimmed">
            <ng-container *ngIf="hint?.length > 0 then hintTextTemplate else maxCharactersTemplate"></ng-container>
            <ng-template #hintTextTemplate>
                &nbsp;{{ hint }}
            </ng-template>
            <ng-template #maxCharactersTemplate>
                <ng-container *ngIf="maxFieldCharacters > 0">
                    &nbsp;{{ inputLength || 0 }}/{{ maxFieldCharacters }}
                </ng-container>
            </ng-template>
        </span>
    </ng-template>
</div>