<ng-template #pepTemplate>
    <mat-form-field [formGroup]="form" appearance="outline">
        <div class="pep-file-wrapper">
            <div class="pep-file body-sm" [style.height]="fieldHeight" [ngClass]="{
                    'one-row': rowSpan == 1,
                    disable: disabled
                }">
                <ng-container *ngIf="src != ''; then withImg; else noImg"></ng-container>
                <ng-template #withImg>
                    <button *ngIf="!disabled" mat-button (click)="deleteFile()"
                        class="pep-button icon-button weak md delete" tabindex="-1"
                        [ngClass]="{ 'right-alignment': xAlignment == 'right' }">
                        <mat-icon>
                            <pep-icon name="system_bin"></pep-icon>
                        </mat-icon>
                    </button>
                    <div class="pep-file-preview" (click)="onElementClicked($event)">
                        <img *ngIf="controlType === 'image'" #imagePreview [src]="src" class="pep-file-preview-img"
                            [style.max-height]="fieldHeight" (error)="errorHandler($event)" [alt]="label"
                            [ngClass]="['text-align-' + xAlignment]" />
                        <div *ngIf="controlType === 'attachment'" class="ellipsis pep-file-message">
                            <a *ngIf="src != ''" href="javascript:void(0)">
                                <mat-icon class="spacing-element">
                                    <pep-icon name="system_attach"></pep-icon>
                                </mat-icon>
                                <span class="body-sm ellipsis">{{ 'FILE.SEE_ORIGINAL' | translate }}</span>
                            </a>
                        </div>
                    </div>
                </ng-template>
                <ng-template #noImg>
                    <div class="ellipsis pep-file-message">
                        <mat-icon *ngIf="controlType === 'attachment'" class="spacing-element">
                            <pep-icon name="system_attach"></pep-icon>
                        </mat-icon>
                        <mat-icon *ngIf="controlType === 'image'" class="spacing-element">
                            <pep-icon name="system_file_upload_cloud"></pep-icon>
                        </mat-icon>
                        <span class="body-sm ellipsis" *ngIf="progress == 0">
                            {{ (disabled ? (controlType === 'image' ? 'MESSAGES.INFO_MISSING_IMAGE' :
                            'MESSAGES.INFO_MISSING_FILE') : 'FILE.HINT') | translate }}
                        </span>
                        <!-- <p *ngIf="progress != 0" class="pull-left flip"
                            [ngClass]="{ 'pull-left flip': rowSpan == 1, image: controlType == 'image', attachment: controlType == 'attachment' }">
                            {{ 'FILE.UPLOADING_FILE' | translate }}
                        </p> -->
                    </div>
                    <ng-container *ngIf="!disabled">
                        <input #fileInput id="pep-file-{{ key }}" tabindex="-1" type="file" accept="acceptedExtensions"
                            ng2FileSelect [uploader]="uploader" autocomplete="off" />
                        <button *ngIf="progress != 0" mat-button class="pep-button icon-button weak md delete"
                            [ngClass]="{ 'right-alignment': xAlignment == 'right' }">
                            <mat-icon>
                                <pep-icon name="system_processing" [spin]="true">
                                </pep-icon>
                            </mat-icon>
                        </button>
                    </ng-container>
                </ng-template>
            </div>
            <input [id]="key" matInput [name]="key" [formControlName]="key" class="hidden-input" type="text"
                [value]="src" [disabled]="disabled" (click)="onClick_ChooseFile($event)"
                (keypress)="onKeyPress_ChooseFile($event)" autocomplete="off" />
        </div>

        <mat-error><span class="body-xs"
                [title]="required && src.length == 0 ? ('MESSAGES.ERROR_IS_REQUIRED' | translate: { field: label }) : ('MESSAGES.ERROR_IS_NOT_VALID' | translate: { field: label })"
                [innerText]="required && src.length == 0 ? ('MESSAGES.ERROR_IS_REQUIRED' | translate: { field: label }) : ('MESSAGES.ERROR_IS_NOT_VALID' | translate: { field: label })"></span>
        </mat-error>
    </mat-form-field>
</ng-template>

<ng-container *ngIf="layoutType === 'form'">
    <ng-container *ngTemplateOutlet="pepTemplate"></ng-container>
</ng-container>

<ng-container *ngIf="layoutType === 'card'">
    <!-- <ng-container *ngTemplateOutlet="pepTemplate"></ng-container> -->
</ng-container>

<ng-container *ngIf="layoutType === 'table'">
    <!-- <ng-container *ngTemplateOutlet="pepTemplate"></ng-container> -->
</ng-container>