<div pepRtlDirection [hidden]="isHidden" class="top-bar-container" [ngClass]="{ inline: inline }">
    <div class="header-content">
        <div class="main-layout">
            <div class="content pep-border-bottom">
                <div class="left-container pep-spacing-element-negative">
                    <ng-container *ngTemplateOutlet="listActionsTemplate"></ng-container>
                    <ng-container *ngTemplateOutlet="titleTemplate"></ng-container>
                    <ng-container *ngTemplateOutlet="listChooserTemplate"></ng-container>
                    <ng-container *ngTemplateOutlet="leftContentTemplate"></ng-container>
                    <ng-container *ngTemplateOutlet="listTotalTemplate"></ng-container>
                </div>
                <div class="pep-spacing-element"></div>
                <div class="right-container pep-spacing-element-negative">
                    <ng-container *ngTemplateOutlet="searchTemplate"></ng-container>
                    <ng-container *ngTemplateOutlet="sortingTemplate"></ng-container>
                    <ng-container *ngTemplateOutlet="viewsTemplate"></ng-container>
                    <ng-container *ngTemplateOutlet="rightContentTemplate"></ng-container>
                </div>
            </div>
        </div>
    </div>

    <div #footer *ngIf="!inline" class="footer" [hidden]="!showFooter"
        [style.height.rem]="customizationService.footerHeight">
        <div class="content pep-border-top">
            <div #footerStartContent class="left-container pep-spacing-element-negative flex-wrapper">
                <ng-content select="[footer-start-content]"></ng-content>
            </div>
            <div #footerEndContent class="right-container pep-spacing-element-negative flex-wrapper">
                <ng-content select="[footer-end-content]"></ng-content>
            </div>
        </div>
        <ng-container *ngIf="showFooter && screenSize >= PepScreenSizeType.MD; then footerBlock; else noFooterBlock">
        </ng-container>
        <ng-template #footerBlock>
            {{ customizationService.showFooter() }}
        </ng-template>
        <ng-template #noFooterBlock>
            {{ customizationService.hideFooter() }}
        </ng-template>
    </div>

</div>

<!-- Left side templates -->
<ng-template #listActionsTemplate>
    <div class="list-actions-wrapper">
        <ng-content *ngIf="!searchIsOpenAndSmallDevice" select="pep-list-actions"></ng-content>
    </div>
</ng-template>

<ng-template #titleTemplate>
    <div *ngIf="title?.length > 0" class="pep-spacing-element title {{ inline ? 'title-md' : 'title-lg' }}">
        <span [title]="title">{{ title }}</span>
    </div>
</ng-template>

<ng-template #listChooserTemplate>
    <div *ngIf="!searchIsOpenAndSmallDevice" [ngClass]="{ 'pep-spacing-element': listChooserComp }">
        <ng-content select="pep-list-chooser"></ng-content>
    </div>
</ng-template>

<ng-template #leftContentTemplate>
    <div *ngIf="!searchIsOpenAndSmallDevice" class="flex-wrapper">
        <ng-content select="[header-start-content]"></ng-content>
    </div>
</ng-template>

<ng-template #listTotalTemplate>
    <div *ngIf="!searchIsOpenAndSmallDevice" [ngClass]="{ 'pep-spacing-element': listTotalComp }">
        <ng-content select="pep-list-total"></ng-content>
    </div>
</ng-template>

<!-- Right side templates -->
<ng-template #searchTemplate>
    <div [ngClass]="{ 'pep-spacing-element': searchComp }">
        <ng-content select="pep-search"></ng-content>
    </div>
</ng-template>

<ng-template #sortingTemplate>
    <div *ngIf="!searchIsOpenAndSmallDevice" [ngClass]="{ 'pep-spacing-element': listSortingComp }">
        <ng-content select="pep-list-sorting"></ng-content>
    </div>
</ng-template>

<ng-template #viewsTemplate>
    <div *ngIf="!searchIsOpenAndSmallDevice" [ngClass]="{ 'pep-spacing-element': listViewsComp }" class="flex-wrapper">
        <ng-content select="pep-list-views"></ng-content>
    </div>
</ng-template>

<ng-template #rightContentTemplate>
    <div *ngIf="!searchIsOpenAndSmallDevice" class="flex-wrapper">
        <ng-content select="[header-end-content]"></ng-content>
    </div>
</ng-template>