@use '../src/core/style/abstracts/variables';
@use '../src/core/style/abstracts/mixins';

.pep-top-bar-container {
    display: grid;
    height: variables.$top-bar-height;
    z-index: variables.$z-index-medium + 1;
    
    .title {
        @include mixins.align-center();
    }

    .header-content {
        height: variables.$top-bar-height-with-no-top;
        margin-top: variables.$top-bar-spacing-top;
        
        .main-layout {
            width: inherit;
            height: inherit;
            padding: 0;

            .content {
                display: flex;
                justify-content: space-between;
                height: inherit;
                
                .left-container,
                .right-container {
                    height: inherit;
                }
            }
        }

    }

    .footer {
        position: fixed;
        bottom: 0;
        left: 0;
        right: 0;
        height: variables.$footer-bar-height;

        .content {
            display: flex;
            justify-content: space-between;
            margin-inline: variables.$double-content-margin;
            padding-top: variables.$footer-bar-spacing-top;
        }

        @media (max-width: variables.$screen-max-size-xs) {
            .content {
                margin-inline: variables.$content-margin;
            }
        }
    }

    .left-container {
        display: flex;
        align-items: center;
    }

    .right-container {
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }
    
    .flex-wrapper {
        ::ng-deep > * {
            display: flex;
        }
    }

    .list-actions-wrapper {
        ::ng-deep.pep-button {
            @include mixins.pep-spacing-element(false);
        }
    }

    &:not(.inline) {
        ::ng-deep .pepperi-button,
        ::ng-deep .pep-button,
        .pepperi-button, .pep-button {
            @include mixins.pep-top-bar-button();
        }
    }

    &.inline {
        position: inherit;
        height: calc(#{variables.$top-bar-spacing-bottom} + #{variables.$top-bar-field-height});
        width: 100%;
        
        .header-content {
            margin-top: 0;
            height: variables.$top-bar-field-height;
            padding: 0;
            position: inherit;
            width: inherit;

            .main-layout {
                width: inherit;
                height: inherit;
                padding: 0;

                .content {
                    height: inherit;
                    margin: 0;
                }
            }
        }
    }
}

