@import '../src/core/style/abstracts/variables';
@import '../src/core/style/abstracts/mixins';

.pep-search-container {
    .pep-search-input {
        .mat-form-field {
            display: inherit;
        }

        .pep-v-separator {
            padding: $spacing-xs 0;
            height: 100%;
        }

        .pep-text-icon {
            &.pep-pointer {
                cursor: pointer;
            }
        }
    }

    &.pep-floating-search {
        display: inline-flex; // flex;
        // justify-content: flex-start;

        &.pep-is-action-button-visable {
            width: calc('100% -' (#{$spacing-sm} * 2 + #{$spacing-xl})); // content spacing in both sides + 1.5 rem is the action-button width.
        }
    }

    @media (max-width: $screen-max-size-xs) {
        ::ng-deep .mat-button-wrapper {
            max-width: 3.125rem;
        }
    }
}