@use '../src/core/style/abstracts/variables';

.pep-search-container {
    .pep-search-input {
        .mat-form-field {
            display: inherit;
        }

        .pep-v-separator {
            padding: variables.$spacing-xs 0;
            height: 100%;
        }

        .pep-text-icon {
            &.pep-pointer {
                cursor: pointer;
            }
        }
        .hide-clear-icon { 
            visibility: hidden;
        }
    }

    &.pep-floating-search {
        display: inline-block; // inline-flex;

        &.pep-is-action-button-visable {
            width: calc(100% - (#{variables.$spacing-sm} * 2 + #{variables.$spacing-xl})); // content spacing in both sides + 1.5 rem is the action-button width.
        }
    }

    @media (max-width: variables.$screen-max-size-xs) {
        ::ng-deep .mat-button-wrapper {
            max-width: 3.125rem;
        }
    }
}