<div pepRtlClass class="search-container pull-right flip" [ngClass]="{ 'floating-search': isFloating}"
    [@fadeInOut]="fadeState">

    <div class="search-input spacing-element pull-left flip">
        <mat-form-field class="search-field" appearance="outline">
            <input id="searchInput" #searchInput class="body-sm search-input" matInput autocomplete="off"
                [ngStyle]="{ textAlign: isRtl ? 'right' : 'left' }" [@slideInOut]="state"
                (keyup)="onEnterSearchClicked($event)" (@slideInOut.done)="animateSearchDone()" type="search"
                results="5" [formControl]="searchControl" placeholder="{{ 'SEARCH.HINT' | translate }}..."
                [matAutocomplete]="auto" />
            <mat-autocomplete #auto="matAutocomplete" class="pep-select">
                <mat-option *ngFor="let value of autoCompleteValues" [value]="value" (click)="triggerSearch()">
                    {{value}}
                </mat-option>
                <mat-option *ngIf="autoCompleteValues?.length > autoCompleteTop - 1" [value]="value"
                    (click)="triggerSearch()">{{ 'SEARCH.MORE_RESULTS' | translate }}</mat-option>
            </mat-autocomplete>
            <div matSuffix>
                <mat-icon class="text-icon pull-right flip " (click)="onSearchClicked()">
                    <pep-icon name="system_search"></pep-icon>
                </mat-icon>
                <span
                    *ngIf="(state == 'open' && searchInput?.value?.length > 0) || (isFloating && fadeState == 'fadeIn')"
                    class="text-icon pull-right flip v-separator">|</span>
                <mat-icon
                    *ngIf="(state == 'open' && searchInput?.value?.length > 0) || (isFloating && fadeState == 'fadeIn')"
                    class="text-icon pull-right flip" (click)="onClearClicked($event)">
                    <pep-icon name="system_close"></pep-icon>
                </mat-icon>
            </div>
        </mat-form-field>
    </div>
</div>

<button *ngIf="isFloating && fadeState !='fadeIn' && showFloatSrcBtn"
    class="spacing-element pep-button icon-button md weak pull-right flip" mat-button (click)="animateSearch()">
    <mat-icon>
        <pep-icon name="system_search"></pep-icon>
    </mat-icon>
</button>