<div [formGroup]="form" [fxLayout]="inline ? 'row' : 'column'" [fxLayoutGap]="inline ? '.5rem' : '0rem'">
    <pep-select [fxFlex]="inline ? operatorWidth : null" [key]="'typeOperator'" [value]="operator.id"
        [label]="'SMART_FILTERS.TYPE' | translate" [renderTitle]="renderTitle" [emptyOption]="false"
        [options]="chooseTypeOptions" (valueChange)="onOperatorChanged($event)">
    </pep-select>
    <ng-container *ngIf="operator !== PepSmartFilterVariableOperators.EqualsToVariable">
        <pep-textbox [fxFlex]="inline ? firstControlWidth : null" [form]="form" [key]="firstControlKey"
            [label]="'SMART_FILTERS.VALUE' | translate" [renderError]="false" [renderTitle]="renderTitle"
            [type]="field.type" [value]="firstControl?.value || ''"
            (valueChange)="onValueChanged()">
        </pep-textbox>
    </ng-container>
    <ng-container *ngIf="operator === PepSmartFilterVariableOperators.EqualsToVariable">
        <pep-select [fxFlex]="inline ? firstControlWidth : null" [key]="firstControlKey"
            [value]="firstControl?.value || ''" [label]="'SMART_FILTERS.TYPE' | translate" [renderTitle]="renderTitle"
            [emptyOption]="false" [options]="variableFieldOptions" (valueChange)="onVariableChanged($event)">
        </pep-select>
    </ng-container>
</div>