<div [formGroup]="form">
    <ng-container>
        <pep-select [key]="'typeOperator'" [value]="operator.id" [label]="'SMART_FILTERS.TYPE' | translate"
            [emptyOption]="false" [options]="chooseTypeOptions" (valueChange)="onOperatorChanged($event)">
        </pep-select>
    </ng-container>
    <div>
        <pep-textbox [form]="form" [key]="firstControlKey" [label]="'SMART_FILTERS.AMOUNT' | translate"
            [renderError]="false" [type]="field.type" [formattedValue]="firstControl.value" [value]="firstControl.value"
            (valueChange)="onValueChanged()">
        </pep-textbox>
    </div>
</div>