<ng-container [formGroup]="form">
    <ng-template #pepTemplate let-isFormView="isFormView" let-hasParent="hasParent">
        <pep-field-title *ngIf="renderTitle && isFormView && !hasParent" [label]="label" [mandatory]="mandatory"
            [disabled]="disabled" [maxFieldCharacters]="maxFieldCharacters" [xAlignment]="xAlignment"
            [showTitle]="showTitle" [inputLength]="value.length">
        </pep-field-title>
        <mat-form-field appearance="outline">
            <input #input pepTextboxValidation [id]="key" [name]="key" class=" body-sm " matInput autocomplete="off"
                maxlength="{{ maxFieldCharacters > 0 ? maxFieldCharacters : 99999 }}"
                [placeholder]="hasParent && !disabled ? placeholder : ''"
                [ngStyle]="{ color: textColor, 'text-align': xAlignment == 'center' ? 'center' : xAlignment == 'right' ? 'right' : 'left' }"
                title="{{ formattedValue }}" [formControlName]="key" [type]="type" [value]="displayValue"
                (keyup.enter)="$event?.currentTarget?.blur()" (focus)="onFocus($event)" (blur)="onBlur($event)"
                (change)="onChange($event)" [ngClass]="{'disable-hidden': disabled && formattedValue?.length > 0}" />

            <span *ngIf="disabled && formattedValue?.length > 0" class="dis-grid">
                <a href="javascript:void(0)" (click)="anchorClicked()" [id]="key" [name]="key"
                    class="color-link body-sm ">
                    {{formattedValue}}</a>
            </span>
            <mat-error *ngIf="renderError">
                <ng-container *ngIf="mandatory && input.value.length == 0 then requiredError else otherError">
                </ng-container>
                <ng-template #requiredError>
                    <span class="body-xs" [title]="('MESSAGES.ERROR_IS_REQUIRED' | translate: { field: label })"
                        [innerText]="('MESSAGES.ERROR_IS_REQUIRED' | translate: { field: label })">
                    </span>
                </ng-template>
                <ng-template #otherError>
                    <!-- TODO: Show error if it's not a valid link -->
                    <!-- <span class="body-xs" [title]="(input.value | pepToNumber) > this.maxValue || (input.value | pepToNumber) < this.minValue ?
                            ('MESSAGES.ERROR_RANGE_IS_NOT_VALID' | translate: { min: minValue, max: maxValue }) :
                            ('MESSAGES.ERROR_IS_NOT_VALID' | translate: { field: label })" [innerText]="(input.value | pepToNumber) > this.maxValue || (input.value | pepToNumber) < this.minValue ?
                            ('MESSAGES.ERROR_RANGE_IS_NOT_VALID' | translate: { min: minValue, max: maxValue }) :
                            ('MESSAGES.ERROR_IS_NOT_VALID' | translate: { field: label })">
                    </span> -->
                </ng-template>
            </mat-error>

            <pep-textbox-icon *ngIf="renderSymbol && isFormView && xAlignment == 'right'" matPrefix [value]="value"
                [label]="label" [type]="type" [disabled]="disabled">
            </pep-textbox-icon>
            <pep-textbox-icon *ngIf="renderSymbol && isFormView && (xAlignment == 'left')" matSuffix [value]="value"
                [label]="label" [type]="type" [disabled]="disabled">
            </pep-textbox-icon>
        </mat-form-field>
    </ng-template>

    <ng-container *ngIf="layoutType === 'form'">
        <ng-container *ngTemplateOutlet="pepTemplate; context: { isFormView: true, hasParent: false }">
        </ng-container>
    </ng-container>

    <ng-container *ngIf="layoutType === 'card'">
        <ng-container *ngIf="isInEditMode; then editBlock; else readOnlyBlock"></ng-container>
        <ng-template #editBlock>
            <div [ngClass]="{'one-row': rowSpan === 1}">
                <ng-container *ngTemplateOutlet="pepTemplate; context: { isFormView: false, hasParent: false }">
                </ng-container>
            </div>
        </ng-template>
        <ng-template #readOnlyBlock>
            <div class="pep-card-input card-flex-container" [ngStyle]="{ color: textColor }"
                [class]="'text-align-' + xAlignment" [ngClass]="{'one-row': rowSpan === 1,
                            'multi-rows': rowSpan > 1,
                            'pep-button weak': isActive && !disabled}"
                (click)="!disabled ? cardTemplateClicked($event) : ''">
                <span *ngIf="showTitle && label != ''" class="body-xs title" title="{{ label }}">{{ label
                    }}&nbsp;</span>
                <span [id]="key" title="{{ formattedValue }}" class="body-sm value"
                    [ngClass]="{'multi-rows-text': rowSpan > 1}" [ngStyle]="{ '-webkit-line-clamp': rowSpan }">{{
                    formattedValue }}</span>
                <button *ngIf="isActive && !disabled" class="pep-button weak card-edit-button" mat-button>
                    <mat-icon>
                        <pep-icon name="system_edit">
                        </pep-icon>
                    </mat-icon>
                </button>
            </div>
        </ng-template>

    </ng-container>

    <ng-container *ngIf="layoutType === 'table'">
        <ng-container *ngIf="isActive && !disabled; then selectedBlock; else notSelectedBlock"></ng-container>
        <ng-template #selectedBlock>
            <ng-container *ngTemplateOutlet="pepTemplate; context: { isFormView: false, hasParent: false }">
            </ng-container>
        </ng-template>
        <ng-template #notSelectedBlock>
            <ng-container *ngIf="formattedValue?.length > 0; then notEmptyBlock; else emptyBlock"></ng-container>
            <ng-template #notEmptyBlock>
                <a *ngIf="formattedValue != null && (value ? value : formattedValue) | isUrl" [id]="key"
                    class="color-link body-sm pep-report-input"
                    [ngClass]="{'disable': (disabled && value === '')}" title="{{ formattedValue }}"
                    target="_blank" href="{{ value ? value : formattedValue }}" (click)="onClick()">{{
                    formattedValue }}</a>
                <a *ngIf="formattedValue != null && !((value ? value : formattedValue) | isUrl)" [id]="key"
                    class="color-link body-sm pep-report-input"
                    [ngClass]="{'disable': (disabled && value === '')}" title="{{ formattedValue }}"
                    href="javascript:void(0)" (click)="onClick()">{{
                    formattedValue }}</a>
            </ng-template>
            <ng-template #emptyBlock>
                <span [id]="key">&nbsp;</span>
            </ng-template>
        </ng-template>
    </ng-container>

</ng-container>