@use '../src/core/style/abstracts/variables';

:host {
    height: inherit;
    display: grid;
    // align-items: center;
}
:host > * { 
    align-self: center; // instead of  align-items: center; in the :host
    align-items: baseline;
}

.disable-hidden {
    display:none;
}

.disable-link{
    text-decoration: none;
    color: inherit !important;
    cursor: inherit;
}

.dis-grid {
    display:grid;
    grid-auto-flow: column;
    align-items: center;
}

.multi-rows-text {
    display: -webkit-box; 
    -webkit-box-orient: vertical; 
    overflow: hidden; 
    text-overflow: ellipsis;
    white-space: normal !important;
}