@import '../abstracts/mixins';

@mixin pep-radio-button-size($size) {
    @if $size == 'xl' {
        $size: 2rem;
    }
    @else if $size == 'lg' {
        $size: 1.5rem;
    }
    @else if $size == 'md' {
        $size: 1.25rem;
    }
    @else if $size == 'sm' {
        $size: 1rem;
    }
    @else if $size == 'xs' {
        $size: 0.75rem;
    }

    &.mat-radio-button {
        .mat-radio-container,
        .mat-radio-outer-circle,
        .mat-radio-inner-circle {
            width: $size;
            height: $size;
        }
    }
}

// -----------------------------------------------------
//  Override material style
// -----------------------------------------------------
.pepperi-radio-button, .pep-radio-button {
    @include pep-radio-button-size('lg');
    &.xl {
        @include pep-radio-button-size('xl');
    }
    &.lg {
        @include pep-radio-button-size('lg');
    }
    &.md {
        @include pep-radio-button-size('md');
    }
    &.sm {
        @include pep-radio-button-size('sm');
    }
    &.xs {
        @include pep-radio-button-size('xs');
    }

    &.mat-radio-button {
        .mat-radio-label {
            @include fix-inline-z-index();
            margin: 0;
        }

        &.mat-radio-checked {
            .mat-radio-inner-circle {
                transform: scale(0.45);
            }
        }
    }
}

@mixin pep-radio-button-theme($pepperi-theme) {
    .pepperi-radio-button, .pep-radio-button {
        // @include state-weak-default($pepperi-theme);
        // &.no-default-background {
        //     background: unset;
        // }
        
        // &:hover:not(.disable) {
        //     @include state-weak-hover($pepperi-theme);
        // }
        // &:focus:not(.disable) {
        //     @include state-weak-focus($pepperi-theme);
        // }
        // // &:active {
        // //     @include state-weak-active($pepperi-theme);
        // // }
        // &.disable,
        // &:disabled {
        //     @include state-weak-disable($pepperi-theme);
        // }
        
        &.mat-radio-button {
            .mat-radio-inner-circle,
            .mat-radio-outer-circle {
                @include state-regular-default($pepperi-theme, true);
            }

            &:hover {
                .mat-radio-inner-circle,
                .mat-radio-outer-circle {
                    @include state-regular-hover($pepperi-theme, true);
                }
            }

            &:active {
                .mat-radio-inner-circle,
                .mat-radio-outer-circle {
                    @include state-regular-active($pepperi-theme, true);
                }
            }

            // checked
            &.mat-radio-checked {
                .mat-radio-inner-circle {
                    border: unset;
                    background: get-pep-color($pepperi-theme, color-system-primary, color-flat-l-10);
                }

                .mat-radio-outer-circle {
                    @include state-regular-active($pepperi-theme, true);
                    background: get-pep-color($pepperi-theme, color-system-primary, color-flat-r-30);
                }

                &:hover {
                    .mat-radio-outer-circle {
                        @include state-regular-hover($pepperi-theme, true);
                    }

                    .mat-radio-inner-circle {
                        background: get-pep-color($pepperi-theme, color-text, color-dimmed);
                    }
                }
            }

            // focused
            &.cdk-focused {
                &:hover {
                    .mat-radio-outer-circle {
                        @include state-regular-hover($pepperi-theme, true);
                        // @include focus($pepperi-theme);
                    }

                    .mat-radio-inner-circle {
                        background: get-pep-color($pepperi-theme, color-text, color-dimmed);
                    }
                }

                &:active {
                    .mat-radio-outer-circle {
                        @include state-regular-active($pepperi-theme, true);
                        // @include focus($pepperi-theme);
                    }
                }

                .mat-radio-outer-circle {
                    @include state-regular-focus($pepperi-theme, true);
                }
            }

            // disabled
            &.mat-radio-disabled {
                pointer-events: none;

                .mat-radio-inner-circle {
                    background: get-pep-color($pepperi-theme, color-text, color-disabled);
                }

                .mat-radio-outer-circle {
                    @include state-regular-disable($pepperi-theme, true);
                }
            }
        }
    }
}
