@import '../src/core/style/abstracts/variables';
@import '../src/core/style/abstracts/mixins';

:host {
    &.pep-page-layout {
        display: grid;
        grid-template-columns: auto 1fr;
        grid-template-rows: auto 1fr;
        grid-template-areas: 
            "header-layout  header-layout"
            "side-layout    main-layout";

        height: 100%;
        width: 100%;
        overflow: hidden;

        .pep-page-header-layout {
            grid-area: header-layout;
        }

        .pep-page-side-layout {
            grid-area: side-layout;
            overflow: hidden;
            height: 100%;
        }

        .pep-page-main-layout {
            grid-area: main-layout;
            overflow: hidden;
            // overflow: auto;
            height: 100%;
            padding-inline: $content-padding;
            padding-bottom: $footer-bar-height; // In case that the fixed footer is shown (the footer is in the top bar component).
            
            display: grid;
            grid-template-rows: auto 1fr;
            grid-template-areas: "top-area"
                                "main-area";

            .pep-top-area {
                grid-area: top-area;
            }
        
            .pep-main-area {
                grid-area: main-area;
                overflow: auto;
                height: 100%;
                display: block;
                
                > * {
                    height: inherit;
                }
            }
        }
    }
}

// ::ng-deep.list-container {
//     overflow: auto;
//     height: 100%;
// }