@use '../../src/core/style/abstracts/variables';

.filter-actions {
    margin: variables.$content-margin 0 calc(#{variables.$content-margin} / 2);
    display: flex;
    justify-content: flex-end;
}