@import '../../src/core/style/abstracts/variables';
@import '../../src/core/style/abstracts/mixins';

.filter-actions {
    margin: $content-margin 0 calc(#{$content-margin} / 2);
    display: flex;
    justify-content: flex-end;
}