@import '../src/core/style/abstracts/mixins';
@import '../src/core/style/abstracts/variables';

:host {
    width: 100%;
    height: inherit;
    display: grid;
    // align-items: center;
}
:host > * {
    align-self: center; // instead of  align-items: center; in the :host
}

.img-wrapper {
    display: flex;
    align-items: center;
    height: 100%;
    max-width: 100%;

    &.left-alignment {
        justify-content: flex-start;
    }
    &.center-alignment {
        justify-content: center;
    }
    &.right-alignment {
        justify-content: flex-end;
    }

    img {
        max-width: 100%;
        height: 100%;
        // width: 100%;
        object-fit: contain;
    }
}

.pepperi-file-container, .pep-file-container {
    height: 100%;

    .img-wrapper {
        @include calc(height, '100% - 1.5rem');
    }

    img {
        cursor: pointer;
    }
}

.indicators-container {
    padding: 0 !important;

    mat-icon {
        height: 100%;
        width: 100%;
        padding: 0.4rem;

        pep-icon {
            height: 0.75rem !important;
            width: 0.75rem !important;
            margin: 0.05rem;
        }
    }
}

.floating-field {
    width: 2.5rem;
    height: 2.5rem;
    border-radius: $border-radius-md;
    padding: 0.5rem;
    // margin: 0.5rem 0;
    cursor: pointer;
    position: absolute !important;
}

.top {
    top: 0;
}

.bottom {
    bottom: 0;
}

.left {
    left: 0;
}

.right {
    right: 0;
}
