@use '../src/core/style/abstracts/mixins';
@use '../src/core/style/abstracts/functions';
@use '../src/core/style/components/file';

@include file.pep-file-theme();

.indicators-container {
    .circle {
        box-shadow: functions.get-pep-shadow(shadow-xs, soft);
        @include mixins.inline(functions.get-pep-color(color-system-primary, color-flat-r-10), 1px, solid, true);
    }
}

.floating-field {
    &.has-active-campaign {
        .svg-icon {
            fill: functions.get-pep-color(color-system-caution, color-base);
        }
    }

    &.indicators-container {
        @include mixins.state-weak-invert-default();
        
        &:hover {
            cursor: inherit;
        }
    }
}

.image-container {
    ::ng-deep.mat-form-field-disabled { 
        .mat-form-field-flex {
            background: transparent !important;
        }
    }
}