<!-- <button mat-button [pepDataQa]="key ? key : value"
    class="pep-button {{ sizeType }} {{ styleType }} {{ styleStateType }} {{ classNames }}"
    [ngClass]="{ 'icon-button': iconName && !value }" [disabled]="disabled" (click)="onButtonClicked($event)">
    <ng-container *ngTemplateOutlet="contentTemplate">
    </ng-container>
</button>

<ng-template #contentTemplate>
    <mat-icon *ngIf="iconName && iconPosition === 'start'" [ngClass]="{ 'pull-left flip': value }">
        <pep-icon name="{{iconName}}"></pep-icon>
    </mat-icon>
    <span *ngIf="value" class="ellipsis pull-left flip"
        [ngClass]="{ 'button-title-with-icon': iconName, 'icon-before': iconPosition === 'start' }" [title]="value">
        {{value}}
    </span>
    <mat-icon *ngIf="iconName && iconPosition === 'end'" [ngClass]="{ 'pull-left flip': value }">
        <pep-icon name="{{iconName}}"></pep-icon>
    </mat-icon>
</ng-template> -->



    <pep-field-title *ngIf="label !== ''" [label]="label" [mandatory]="mandatory"
        [disabled]="disabled" [showTitle]="label !== ''">
    </pep-field-title>
    <!-- <mat-form-field appearance="outline"> -->
        <div #selectPanel class="select-panel">
            <div class="optCont" [title]="option.value"  *ngFor="let option of options">
                <ng-container *ngTemplateOutlet="isMultiSelect == true ? multiBlock : singleBlock; context: { option }"></ng-container>
            </div>
        </div>
<!-- </mat-form-field> -->

    <ng-template #singleBlock let-option="option">
        <input type="radio" [disabled]="disabled" name="avner"  value="option.key" (change)="selectionChange($event)">
        <label class="ellipsis">{{option.value}}</label>
    </ng-template>

    <ng-template #multiBlock let-option="option">
        <input type="checkbox" [disabled]="disabled" name="vehicle1" value="{{option.key}}" (change)="selectionChange($event)">
        <label class="ellipsis">{{option.value}}</label>   
    </ng-template>



