<ng-container [formGroup]="form">
    <pep-field-title *ngIf="renderTitle" 
        [label]="label" 
        [mandatory]="mandatory"
        [disabled]="disabled" 
        [xAlignment]="xAlignment" 
        [showTitle]="showTitle">
    </pep-field-title>
    <div #selectPanel class="select-panel" [ngClass]="{'disable': disabled }">
        <div class="optCont" [title]="option.value"  *ngFor="let option of optionsMap">
            <ng-container *ngTemplateOutlet="isMultiSelect == true ? multiBlock : singleBlock; context: { option }"></ng-container>
        </div>
    </div>
</ng-container>

    <ng-template #singleBlock let-option="option">
        <mat-radio-button 
            [name]="groupName"
            [class]="'pep-radio-button md'" 
            [disabled]="disabled"
            [checked]="option?.isChecked"
            (change)="selectionChange(option, $event)">
            {{option.value}}
        </mat-radio-button>
    </ng-template>

    <ng-template #multiBlock let-option="option">
        <mat-checkbox
            [name]="groupName"
            [class]="'md'"
            [disabled]="disabled" 
            [checked]="option.isChecked"
            (change)="selectionChange(option, $event)">
            {{option.value}}
        </mat-checkbox>
    </ng-template>




