
@use '../src/core/style/abstracts/variables';
@use '../src/core/style/abstracts/mixins';


:host {
    display: flex;
    flex-direction: column;
}

.select-panel {
    width: inherit;
    padding: variables.$spacing-md;
    font-size: variables.$fs-sm;
    line-height: variables.$lh-md;
    border-radius: variables.$border-radius-md;
    
    .optCont {
        display: flex;
        height: 2rem;
        line-height: 2rem;
        align-items: center;
        
        label {
            height: variables.$lh-md;
        }

        ::ng-deep.mat-checkbox-layout {
            display: flex !important;
        }
    }

    .optCont:last-child {
        margin-bottom: 0;
    }
}