@import '../src/core/style/abstracts/variables';
@import '../src/core/style/abstracts/mixins';

// :host {
//     // display: grid;
//     // height: 10rem;
// }

.header {
    // margin-top: 0.45rem;
    grid-column: 1 / span 3;
}

.pep-address-container {
    // padding: 0.75rem 1rem 0.5rem 1rem;
    padding: 0.875rem $spacing-md;
    border-radius: $border-radius-md;
    // margin-top: 0.5rem;
    // margin-bottom: 0.5rem;
    display: -ms-grid;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: $spacing-md;
    grid-row-gap: $spacing-md;

    // .header {
    //     margin-top: 0.45rem;
    //     grid-column: 1 / span 3;
    // }

    // .columns-1 {
    //     grid-column: 1fr;
    // }

    .columns-2 {
        grid-column: 1 / span 2;
    }

    .columns-3 {
        grid-column: 1 / span 3;
    }
}

@media screen and (max-width: 630px) {
    // .pep-address-container {
    //     display: block;
    // }
}
