.radio-group {
    display: flex;
    flex-direction: column;

    .pep-radio-button {
        
        &.pep-input {
            height: 2.25rem;
            display: flex;
        }
    }
}