<ng-container *ngIf="inline; then inlineBlock; else notInlineBlock"></ng-container>
<ng-template #inlineBlock>
    <ng-container *ngIf="variableFieldOptions?.length">
        <div fxLayout="row" fxLayoutGap=".5rem">
            <pep-select [fxFlex]="operatorWidth" [key]="'typeOperator'" [value]="operator.id"
                [label]="'SMART_FILTERS.TYPE' | translate" [renderTitle]="renderTitle" [emptyOption]="false"
                [options]="chooseTypeOptions" (valueChange)="onOperatorChanged($event)">
            </pep-select>
            <ng-container *ngIf="operator === PepSmartFilterVariableOperators.EqualsToVariable || 
                operator === PepSmartFilterVariableOperators.NotEqualsToVariable">
                <pep-select [fxFlex]="valueWidth" [key]="firstControlKey" [value]="firstControl?.value || ''"
                    [label]="'SMART_FILTERS.TYPE' | translate" [renderTitle]="renderTitle" [emptyOption]="false"
                    [options]="variableFieldOptions" (valueChange)="onValueChanged($event)">
                </pep-select>
            </ng-container>
            <ng-container *ngIf="operator !== PepSmartFilterVariableOperators.EqualsToVariable && 
                operator !== PepSmartFilterVariableOperators.NotEqualsToVariable">
                <pep-select [fxFlex]="valueWidth" [value]="firstControl?.value || ''" xAlignment="left"
                    [options]="options" [renderTitle]="renderTitle" [emptyOption]="false"
                    (valueChange)="onValueChanged($event)">
                </pep-select>
            </ng-container>
        </div>
    </ng-container>
    <ng-container *ngIf="!variableFieldOptions || !variableFieldOptions.length">
        <pep-select [fxFlex]="valueWidth" [value]="firstControl?.value || ''" xAlignment="left" [options]="options"
            [renderTitle]="renderTitle" [emptyOption]="false" (valueChange)="onValueChanged($event)">
        </pep-select>
    </ng-container>
</ng-template>
<ng-template #notInlineBlock>
    <div [formGroup]="form">
        <mat-radio-group class="radio-group " [formControlName]="firstControlKey">
            <mat-radio-button class="pep-radio-button md pep-input no-default-background" value="true">
                <span class="body-sm ellipsis">{{ 'CHECKBOX.TRUE' | translate }}</span>
            </mat-radio-button>
            <mat-radio-button class="pep-radio-button md pep-input no-default-background" value="false">
                <span class="body-sm ellipsis">{{ 'CHECKBOX.FALSE' | translate }}</span>
            </mat-radio-button>
        </mat-radio-group>
    </div>
</ng-template>