<!--
    This code is for stand alon addon, if this addon should be under webapp remove all
    except the <router-outlet></router-outlet>
-->
<!-- <router-outlet></router-outlet> -->

<div class="pep-layout" dir="{{ layoutService.isRtl() ? 'rtl' : 'ltr' }}">
    <header class="pep-header-layout">
        <div id="header" pepRtlClass>
            <nav class="navbar {{ getTopBarStyle() }} navbar-light bg-faded menuCont"
                [ngStyle]="{'background-color': customizationService.getBrandingMainColor() }">
                <div class="pep-spacing-element-negative">
                    <button id="btnMenuHome" (click)="navigateHome()"
                        class="pep-spacing-element pep-button icon-button sm weak pull-left flip "
                        [ngClass]="getButtonClassName()" mat-button>
                        <mat-icon>
                            <pep-icon name="system_home"></pep-icon>
                        </mat-icon>
                    </button>
                </div>
                <div class="pep-spacing-element-negative">
                    <button id="btnToggleSettings"
                        class="pep-spacing-element pep-button icon-button sm weak pull-right flip "
                        [ngClass]="getButtonClassName()" mat-button>
                        <mat-icon>
                            <pep-icon name="system_menu"></pep-icon>
                        </mat-icon>
                    </button>
                    <button [routerLink]="['carousel-example']"
                        class="pep-spacing-element pep-button sm strong pull-right flip "
                        [ngClass]="getButtonClassName()" mat-button>
                        carousel
                    </button>
                    <button [routerLink]="['draggable-example']"
                        class="pep-spacing-element pep-button sm strong pull-right flip "
                        [ngClass]="getButtonClassName()" mat-button>
                        draggable
                    </button>
                    <button [routerLink]="['form-fields-example']"
                        class="pep-spacing-element pep-button sm strong pull-right flip "
                        [ngClass]="getButtonClassName()" mat-button>
                        components
                    </button>
                    <button [routerLink]="['other-fields-example']"
                        class="pep-spacing-element pep-button sm strong pull-right flip "
                        [ngClass]="getButtonClassName()" mat-button>
                        other components
                    </button>
                    <button [routerLink]="['inline-list-example']"
                        class="pep-spacing-element pep-button sm strong pull-right flip "
                        [ngClass]="getButtonClassName()" mat-button>
                        inline list
                    </button>
                    <button [routerLink]="['list-example']"
                        class="pep-spacing-element pep-button sm strong pull-right flip "
                        [ngClass]="getButtonClassName()" mat-button>
                        list
                    </button>
                    <button [routerLink]="['top-bar-example']"
                        class="pep-spacing-element pep-button sm strong pull-right flip "
                        [ngClass]="getButtonClassName()" mat-button>
                        top bar
                    </button>
                    <button [routerLink]="['query-builder-example']"
                        class="pep-spacing-element pep-button sm strong pull-right flip "
                        [ngClass]="getButtonClassName()" mat-button>
                        filter builder
                    </button>
                    <button [routerLink]="['kof-example']"
                        class="pep-spacing-element pep-button sm strong pull-right flip "
                        [ngClass]="getButtonClassName()" mat-button>
                        Kof Examples
                    </button>
                    <button [routerLink]="['dialog-playground']"
                        class="pep-spacing-element pep-button sm strong pull-right flip "
                        [ngClass]="getButtonClassName()" mat-button>
                        Dialog playground
                    </button>
                </div>
            </nav>
        </div>
        <div id="loadingSpinnerModal" [hidden]="!showLoader" pepRtlClass>
            <div id="loadingSpinner">
                <div class="pep-loading-spinner" *ngFor="let number of [0, 1, 2, 3, 4]"
                    [ngStyle]="{ 'background-color': customizationService?.getLoadingSpinnerColor() }"></div>
            </div>
        </div>
    </header>
    <main class="pep-main-layout" [ngClass]="{ 'add-padding': addPadding }">
        <aside *ngIf="showSidebar" class="pep-side-layout">
        </aside>
        <div class="pep-center-layout">
            <router-outlet></router-outlet>
        </div>
    </main>
</div>
<pep-size-detector></pep-size-detector>