@use 'ngx-lib/src/core/style/abstracts/mixins';
@use 'ngx-lib/src/core/style/abstracts/functions';

#header {
    background-color: functions.get-pep-color(color-system-primary-invert, color-base);

    .navbar {
        box-shadow: functions.get-pep-shadow(shadow-sm, regular);
        
        &.weak ::ng-deep {
            @include mixins.state-weak-default(color-top-header);
        }
        
        &.regular ::ng-deep {
            @include mixins.state-regular-default(true, color-top-header);
        }
        
        &.strong ::ng-deep {
            @include mixins.state-strong-default(color-top-header);

            .icon-button.regular,
            .icon-button.weak {
                $color: functions.get-pep-color(color-text, color-main);

                .svg-icon {
                    @include mixins.svg-icon-color($color);
                }
            }
        }
        
        border-right: none !important;
        border-left: none !important;
    }
}