@use 'ngx-lib/src/core/style/abstracts/variables';

#header {
    height: variables.$header-height;

    .navbar {
        // border: none !important;
        border-radius: 0;
        // @include box-sizing(border-box);
        box-sizing: border-box;
        height: inherit;
        width: 100%;
        padding: variables.$spacing-lg variables.$double-content-padding;
        margin: 0;
        max-width: variables.$max-scr-width;

        @media (max-width: variables.$screen-max-size-xs) {
            padding-left: variables.$content-padding;
            padding-right: variables.$content-padding;
        }

        .navbar-default {
            background-color: transparent;
            border-bottom-color: transparent;
        }
    }
}

#mainCont {
    flex-grow: 1;
    min-height: 100%;
}

#loadingSpinnerModal {
    z-index: variables.$z-index-high + 101;
    height: 1rem;
    width: 100%;
    // position: fixed;
    // left: 0;
    background-color: transparent;
    opacity: 1;
    position: absolute;
    overflow: hidden;

    &.no-top-bar {
        top: variables.$header-height !important;
    }
}

#loadingSpinner {
    z-index: variables.$z-index-high;
    width: 100%;
    margin-top: 5px;

    div {
        width: 7px;
        height: 7px;
        position: absolute;
        left: -20px;
        border-radius: 50%;
        animation: move 4s infinite cubic-bezier(0.2, 0.64, 0.81, 0.23);
    }

    div:nth-child(2) {
        animation-delay: 150ms;
    }

    div:nth-child(3) {
        animation-delay: 300ms;
    }

    div:nth-child(4) {
        animation-delay: 450ms;
    }

    div:nth-child(5) {
        animation-delay: 600ms;
    }
}

@keyframes move {
    0% {
        left: 0%;
    }
    50% {
        left: 100%;
    }
    75% {
        left: 100%;
    }
    100% {
        left: 100%;
    }
}

[dir='rtl'] {
    #loadingSpinner {
        div {
            animation: moveOpp 4s infinite cubic-bezier(0.2, 0.64, 0.81, 0.23);
        }

        div:nth-child(2) {
            animation-delay: 150ms;
        }
        div:nth-child(3) {
            animation-delay: 300ms;
        }
        div:nth-child(4) {
            animation-delay: 450ms;
        }
        div:nth-child(5) {
            animation-delay: 600ms;
        }
    }

    @keyframes moveOpp {
        0% {
            left: 100%;
        }
        50% {
            left: -2%;
        }
        75% {
            left: -2%;
        }
        100% {
            left: -2%;
        }
    }
}

.pep-layout {
    display: grid;
    grid-template-rows: variables.$header-height 1fr;
    grid-template-areas: "header"
                         "main";
    height: 100vh;
    width: 100%;
    padding: 0;
    
    .pep-header-layout {
        grid-area: header;
        display: block;
        z-index: variables.$z-index-high + 1;
    }

    .pep-main-layout {
        grid-area: main;
        display: grid;
        grid-template-columns: auto 1fr;
        grid-template-areas: "side   center";
        overflow: hidden;
        
        &.add-padding {
            padding-inline: variables.$content-padding;

            @media (max-width: variables.$screen-max-size-xs) {
                padding-inline: 0;
            }
        }

        .pep-side-layout {
            grid-area: side;
            display: block;
            overflow: hidden;
            width: auto;
        }

        .pep-center-layout {
            grid-area: center;
            display: block;
            overflow: hidden;
        }
    }
    
    // .pep-footer-layout {
    //     grid-area: footer;
    //     display: block;
    // }
}
