<ng-container *ngIf="layoutType === 'form'">
    <div class="pep-separator-field wrap pep-border-bottom align-{{ xAlignment }}" title="{{ label }}">
        <span class="block-with-text body-md">{{ label }}</span>
    </div>
</ng-container>

<ng-container *ngIf="layoutType === 'card'">
    <div class="pep-separator-field pep-small-separator-field pep-border-bottom text-align-{{ xAlignment }}"
        dir="{{ xAlignment == 'right' ? 'rtl' : 'ltr' }}" title="{{ label }}">
        <span class="small-block-with-text body-sm">{{ label }}</span>
    </div>
</ng-container>

<ng-container *ngIf="layoutType === 'table'">
    <label class="cl" title="{{ label }}">{{ label }}</label>
</ng-container>