<div class="addon-page-container ">
    <pep-top-bar [title]="''">
        <div header-start-content>
            <pep-bread-crumbs class="pep-spacing-element" [items]="breadCrumbsItems" [displayType]="'items'"
                (itemClick)="onBreadCrumbItemClick($event)">

            </pep-bread-crumbs>
            <pep-menu class="pep-spacing-element" [styleType]="'regular'" [text]="'open menu'" [iconName]="'arrow_down'"
                [items]="menuItems" (menuItemClick)="onMenuItemClicked($event)">
            </pep-menu>
        </div>
        <div header-end-content>

        </div>
        <pep-search [autoCompleteValues]="searchAutoCompleteValues" [value]="searchString"
            (search)="onSearchChanged($event)" (autocompleteChange)="onSearchAutocompleteChanged($event)"
            (stateChange)="onSearchStateChanged($event)">
        </pep-search>
    </pep-top-bar>
    <div class="main-content ">
        <div class="content">
            <pep-list-carousel [layout]="uiControl" [items]="items" (itemClick)="onItemClicked($event)"
                [itemSize]="'xs'">
            </pep-list-carousel>
        </div>
    </div>
</div>