@use '../src/core/style/abstracts/mixins';
@use '../src/core/style/abstracts/functions';

.pep-side-bar-container {
    .toggle-side-bar-container {
        .toggle-button-border {
            @include mixins.pep-border(border-inline-end);
        }
    }

    .mat-sidenav-container {
        // background-color: transparent;
        ::ng-deep.mat-drawer-backdrop.mat-drawer-shown {
            background-color: functions.get-pep-color(color-system-primary, color-tran-50);
        }
    }

    .side-layout {
        background: functions.get-pep-color(color-system-primary-invert, color-base);

        .header-content {
            background: functions.get-pep-color(color-system-primary-invert, color-base);
        }
    }
}
