<div class="pep-side-bar-container">
    <ng-container *ngIf="isLargeScreen; then largeScreensBlock; else notLargeScreensBlock">
    </ng-container>
    <ng-template #largeScreensBlock>
        <div class="toggle-side-bar-container"
            [ngClass]="{ 'is-open-state': state === 'open', 'show-shadow': showShadow }">
            <ng-container *ngTemplateOutlet="sideLayoutTemplate"></ng-container>
            <div class="toggle-button-border"></div>
            <button mat-button class="toggle-button pep-button xs regular icon-button " (click)="toggleSideWrapper()">
                <mat-icon>
                    <pep-icon [name]="toggleButtonArrowName">
                    </pep-icon>
                </mat-icon>
            </button>
        </div>
    </ng-template>
    <ng-template #notLargeScreensBlock>
        <mat-sidenav-container [hasBackdrop]="true">
            <mat-sidenav #sidenav mode="over" autoFocus="false" fixedInViewport="false"
                (openedChange)="toggleSidenav($event)">
                <ng-container *ngTemplateOutlet="sideLayoutTemplate"></ng-container>
            </mat-sidenav>
        </mat-sidenav-container>
    </ng-template>
</div>

<ng-template #sideLayoutTemplate>
    <div class="side-layout">
        <div *ngIf="showHeader" class="header-content">
            <div class="content pep-border-bottom body-lg ellipsis">
                <ng-container *ngTemplateOutlet="headerTemplate"></ng-container>
            </div>
        </div>
        <div class="main-content">
            <div class="content">
                <ng-container *ngTemplateOutlet="startContentTemplate"></ng-container>
                <ng-container *ngTemplateOutlet="filtersTemplate"></ng-container>
                <ng-container *ngTemplateOutlet="smartFiltersTemplate"></ng-container>
                <ng-container *ngTemplateOutlet="contentTemplate"></ng-container>
                <ng-container *ngTemplateOutlet="endContentTemplate"></ng-container>
            </div>
        </div>
        <div *ngIf="showFooter" class="footer-content">
            <div class="content pep-border-top body-lg ellipsis">
                <ng-container *ngTemplateOutlet="footerTemplate"></ng-container>
            </div>
        </div>
    </div>
</ng-template>


<ng-template #headerTemplate>
    <ng-content select="[header-content]"></ng-content>
</ng-template>

<ng-template #startContentTemplate>
    <ng-content select="[start-content]"></ng-content>
</ng-template>

<ng-template #contentTemplate>
    <ng-content></ng-content>
</ng-template>

<ng-template #endContentTemplate>
    <ng-content select="[end-content]"></ng-content>
</ng-template>

<ng-template #filtersTemplate>

</ng-template>

<ng-template #smartFiltersTemplate>
    <ng-content select="pep-smart-filters"></ng-content>
</ng-template>

<ng-template #footerTemplate>
    <ng-content select="[footer-content]"></ng-content>
</ng-template>