@mixin pep-side-bar-component-theme($pepperi-theme) {
    .pep-side-bar-container {
        .toggle-side-bar-container {
            .toggle-button-border {
                @include pep-border(border-inline-end, $pepperi-theme);
            }
        }

        .mat-sidenav-container {
            // background-color: transparent;

            .mat-drawer-backdrop.mat-drawer-shown {
                background-color: get-pep-color($pepperi-theme, color-system-primary, color-tran-50);
            }
        }

        .side-layout {
            background: get-pep-color($pepperi-theme, color-system-primary-invert, color-base);

            .header-content {
                background: get-pep-color($pepperi-theme, color-system-primary-invert, color-base);
            }
        }
    }
}
