<div #sideBarCont class="side-bar-container" pepRtlDirection>
    <ng-container *ngIf="screenSize < PepScreenSizeType.MD; then largeScreensBlock; else notLargeScreensBlock">
    </ng-container>
    <ng-template #largeScreensBlock>
        <div class="side-layout pull-left flip" [ngStyle]="{ overflow: isMouseIn ? 'unset' : 'visible' }"
            (mouseenter)="setSideBarHeight($event)" [style.height]="sideBarHeight"
            (mouseleave)="mouseLeaveSideBar($event)">
            <div class="content">
                <!-- Start content -->
                <ng-container *ngTemplateOutlet="startContentTemplate"></ng-container>

                <!-- New Filters -->
                <ng-container *ngTemplateOutlet="filtersTemplate"></ng-container>

                <!-- Smart filters -->
                <ng-container *ngTemplateOutlet="smartFiltersTemplate"></ng-container>

                <!-- Custom -->
                <ng-container *ngTemplateOutlet="customTemplate"></ng-container>

                <!-- End content -->
                <ng-container *ngTemplateOutlet="endContentTemplate"></ng-container>
            </div>
        </div>
    </ng-template>
    <ng-template #notLargeScreensBlock>
        <mat-sidenav-container class="sidenav-container" [hasBackdrop]="true">
            <mat-sidenav #sidenav mode="over" autoFocus="false" class="sidenav" fixedInViewport="false"
                (openedChange)="openedChange($event)"
                [ngClass]="{'hide-header': !showHeader, 'hide-footer': !showFooter}">
                <div *ngIf="showHeader" class="sidenav-header pep-border-bottom">
                    <ng-content select="[header-content]"></ng-content>
                </div>

                <div class="sidenav-main">
                    <!-- Start content -->
                    <ng-container *ngTemplateOutlet="startContentTemplate"></ng-container>

                    <!-- New Filters -->
                    <ng-container *ngTemplateOutlet="filtersTemplate"></ng-container>

                    <!-- Smart filters -->
                    <ng-container *ngTemplateOutlet="smartFiltersTemplate"></ng-container>

                    <!-- Custom -->
                    <ng-container *ngTemplateOutlet="customTemplate"></ng-container>

                    <!-- End content -->
                    <ng-container *ngTemplateOutlet="endContentTemplate"></ng-container>
                </div>

                <div *ngIf="showFooter" class="sidenav-footer pep-border-top">
                    <ng-content select="[footer-content]"></ng-content>
                </div>
            </mat-sidenav>
        </mat-sidenav-container>
    </ng-template>
</div>

<ng-template #startContentTemplate>
    <ng-content select="[start-content]"></ng-content>
</ng-template>

<ng-template #filtersTemplate>

</ng-template>

<ng-template #smartFiltersTemplate>
    <ng-content select="pep-smart-filters"></ng-content>
</ng-template>

<ng-template #customTemplate>
    <ng-content></ng-content>
</ng-template>

<ng-template #endContentTemplate>
    <ng-content select="[end-content]"></ng-content>
</ng-template>