@import '../abstracts/variables';

//  Layout - General
// -----------------------------------------------------

header, // This is for the menu header that open chooser dialog.
main {
    .side-layout,
    .main-layout { // This is for break the last versions that use this with value - erase (unset) the value.
        .content {
            margin-right: unset;
            margin-left: unset;
        }
    }

    .main-content {
        padding-top: unset;
    }

    // This is for the ng 10 with ngxlib - addoon
    .plugin-page-container,
    .settings-page-container,
    .addon-page-container {
        display: block;
        width: 100%;

        .header-content {
            z-index: $z-index-medium + 1;
            width: 100%;

            height: $top-bar-height;
            padding-top: $top-bar-spacing-top;
            
            position: unset;
            padding-inline: unset;

            .content {
                height: $top-bar-height-with-no-top;
                margin-inline: unset;
                display: flex;
                justify-content: space-between;

                .title {
                    height: 100%;
                    display: flex;
                    align-items: center;
                    @include font-body($fs-md, $lh-md);
                }
            }

            // @media (max-width: $screen-max-size-xs) {
            //     .content {
            //         margin-right: 0;
            //         margin-left: 0;
            //     }
            // }
        }

        .main-content {
            display: block;
            // padding-right: $content-padding;
            // padding-left: $content-padding;
            padding-inline: unset;

            .content {
                // height: auto;
                // margin-right: $content-margin;
                // margin-left: $content-margin;
                margin-inline: unset;

                &.spacing-top {
                    margin-top: $content-margin;
                }
            }

            // @media (max-width: $screen-max-size-xs) {
            //     .content {
            //         margin-right: 0;
            //         margin-left: 0;
            //     }
            // }

            &.limit-max-width {
                max-width: 896px;
            }
        }

        //  Tabs.
        // -----------------------------------------------------
        .mat-tab-group {
            &.fixed-header {
                .mat-tab-header {
                    width: 100%;
                    // @include mat-tabs-fixed-header-width($settings-bar-width);
                }
            }
        }
    }

    .addon-page-container {
        .header-content {
            padding-top: unset;
        }
    }
}
