@use '../src/core/style/abstracts/variables';

@mixin gallery-arrows() {
    .gallery-arrow {
        position: absolute;
        top: 50%;
        transform: translate(0%, -50%);
        z-index: variables.$z-index-lowest + 1;

        &.start-arrow { 
            left: 0;
        }
        
        &.end-arrow {
            right: 0;
        }
    }
}

:host {
    width: 100%;
    height: inherit;
    display: block;
    // align-items: center;
}
:host > * {
    align-self: center; // instead of  align-items: center; in the :host
}

.gallery-dialog {
    height: inherit;
}

.images-filmstrip-container {
    height: 100%;

    .img-wrapper {
        height: 100%;
        position: relative;
    }

    .gallery-arrow {
        padding: 0.5rem;
    }
    
    @include gallery-arrows();
}

gallery {
   // Don't remove the direction - the gallery don't work on RTL cultures
    direction: ltr;
    height: 100%;
    min-height: 100%;
}

.gallery-dialog-content {
    position: relative;

    @include gallery-arrows();

    gallery {
        min-width:  65vw;
        // height: 427px;
    }

    ::ng-deep gallery-item {
        gallery-image {
            .g-image-item {
                background-size: content !important;
                // background-image: unset !important;
            }
        }
    }
}

::ng-deep gallery-thumbs {
    margin: 0 variables.$spacing-lg 0 variables.$spacing-sm;

    gallery-thumb {
        padding: 0 !important;
        border-radius: variables.$border-radius-md;
        margin: variables.$spacing-sm 0;

        .g-image-item {
            background-size: cover !important;
        }
    }
}

::ng-deep gallery-item {
    gallery-image {
        .g-image-item {
            border-radius: variables.$border-radius-lg;
        }
    }

    &:hover{
        cursor: pointer;
    }
}

::ng-deep gallery-dots {
    position: absolute !important;
    border-radius: variables.$border-radius-md;

    &.pepperi-button, &.pep-button {
        display: flex !important;
    }
}

::ng-deep .img-container {
    display: flex;
    align-items: center;
}

::ng-deep gallery-nav {
    display: none;
}
// ::ng-deep .g-nav-prev,
// ::ng-deep .g-nav-next {
//     width: 2rem !important;
//     height: 2rem !important;
//     padding: 0.25rem;
//     border-radius: variables.$border-radius-md;

//     .mat-icon {
//         display: inline-block !important;
//     }

//     svg:not(.svg-icon) {
//         display: none;
//     }

//     svg {
//         filter: unset;
//         opacity: unset;
//     }
// }

// ::ng-deep .g-nav-prev {
//     transform: translateY(-50%) perspective(1px) !important;
// }

.vertical-gallery {
    ::ng-deep gallery-thumbs {
        margin: variables.$spacing-lg 0 variables.$spacing-sm 0; /* todo set on horizental mode */

        gallery-thumb {
            margin: 0 variables.$spacing-sm;
        }
    }
}
