@mixin pep-images-filmstrip-component-theme($pepperi-theme) {

    gallery {
        background-color: transparent;
    }
    
    gallery-thumb {
        box-shadow: get-pep-shadow($pepperi-theme, shadow-sm, hard);
    }
    
    .g-nav-prev,
    .g-nav-next  {
        @include state-weak-invert-default($pepperi-theme);
                
        &:hover {
            @include state-weak-invert-hover($pepperi-theme);
        }
        &:focus {
            @include state-weak-invert-focus($pepperi-theme);
        }
        &:active {
            @include state-weak-invert-active($pepperi-theme);
        }
        &:disabled {
            @include state-weak-invert-disable($pepperi-theme);
        }

    }
    gallery-dots {
        @include state-weak-default($pepperi-theme);
    }
}
