<ng-container *ngIf="inDialog; then galleryDialogTemplate; else regularTemplate"></ng-container>
<ng-template #regularTemplate>
    <ng-container [formGroup]="form">
        <div class="images-filmstrip-container">
            <pep-field-title [label]="label" [xAlignment]="xAlignment" [showTitle]="showTitle">
            </pep-field-title>
            <div #galleryCont class="img-wrapper" [ngClass]="isVertical ? 'vertical-gallery' : 'horizontal-gallery'"
                [style.height]="fieldHeight">
                <gallery id="{{key}}-{{uid}}-gallery" (itemClick)="enlargeImage($event);" [imageSize]="'contain'"
                    (indexChange)="indexChange($event)" (error)="onError($event)">
                </gallery>
            </div>
        </div>
    </ng-container>
</ng-template>

<ng-template #galleryDialogTemplate>
    <div class="gallery-dialog">
        <pep-dialog [title]="label" [showFooter]="false">
            <div pep-dialog-content #galleryDialogCont class="gallery-dialog-content"
                [ngClass]="isVertical ? 'vertical-gallery' : 'horizontal-gallery'">
                <gallery id="{{key}}-{{uid}}-dlgGallery" [imageSize]="'contain'" (indexChange)="indexChange($event)"
                    (error)="onError($event)">
                </gallery>
            </div>
        </pep-dialog>
    </div>
</ng-template>

<!-- Add custom template to image items -->
<ng-template #itemTemplate let-index="index" let-type="type" let-data="data" let-currIndex="currIndex">
    <ng-container *ngIf="index === currIndex">
        <ngx-imageviewer [src]="data.src">
        </ngx-imageviewer>
    </ng-container>
</ng-template>