// // Define pep lib theme and include theme styles for pep components.
// // @import '~@pepperi-addons/ngx-lib/theming';
// @import '../projects/ngx-lib/theming';
// @include pepperi-theme();

// // Get the theme object.
// // $pepperi-theme: get-pepperi-theme();

.docs-story {
    height: 100%;
    div:first-child {
        padding: 0;
        div:first-child {
            height: unset;
        }
    }
}

div[id^="story"] {
    div:first-child {
        height: 100% !important;
    }
}

iframe[id^="iframe"] {
    height: 16rem !important;
    display: flow-root;
}

body {
    // background-color: lightgray !important;
}
