<!-- <ng-container [formGroup]="form"> -->
  <pep-field-title *ngIf="renderTitle" 
      [label]="label" 
      [mandatory]="mandatory"
      [disabled]="disabled" 
      [xAlignment]="xAlignment" 
      [showTitle]="showTitle">
  </pep-field-title>
  <div class="pep-chips-container" [ngClass]="[type === 'input' ? 'input-type-state' : '', chips?.length > 0 ? 'need-gap' : '' ]" [ngStyle]="{ 'height': inline === true ? '100%' : 'auto' }">
  <!-- <mat-form-field  class="pep-chips-container keep-background-on-focus" [ngClass]="type === 'select' ? 'not-mat-form-state' : ''" appearance="outline"> -->
    <mat-chip-list #chipList [ngClass]="{'mat-chip-list-stacked': orientation === 'vertical'}" [multiple]="multiSelect">
      <mat-chip *ngFor="let chip of chips" class="pep-chips {{ styleType }} {{ classNames }}" [disabled]="chip.disabled || disabled"
        [selected]="chip.selected" [removable]="chip.removable" [selectable]="chip.selectable"
        (removed)="onChipRemoved(chip)" (selectionChange)="onSelectionChanged($event.selected, chip)">
        <span class="ellipsis pull-left flip noSelect" title="{{chip.value}}">{{chip.value}}</span>
        <pep-button *ngIf="chip.removable" matChipRemove styleType="weak" styleStateType="system" sizeType="xs" iconName="system_close"></pep-button>
      </mat-chip>
    </mat-chip-list>
    <input *ngIf="type === 'input' && !disabled" matInput autocomplete="off" class="chip-input"
    [placeholder]="placeholder || 'CHIPS.ADD_CHIP' | translate" [matChipInputFor]="chipList"
    [matChipInputAddOnBlur]="true" (matChipInputTokenEnd)="onChipAdded($event)">
    <pep-button *ngIf="type === 'select' && !disabled"  [value]="placeholder || 'CHIPS.ADD_CHIP' | translate" styleType="weak" styleStateType="system" sizeType="xs" iconName="number_plus"
    iconPosition="end" (buttonClick)="onChipsSelectClicked()"></pep-button>
  <!-- </mat-form-field> -->
  </div>
<!-- </ng-container> -->