<ng-container *ngIf="type !== 'none'">
  <mat-form-field class="pep-chips-container" appearance="outline">
    <mat-chip-list #chipList aria-label="Chip selection"
      [ngClass]="{'mat-chip-list-stacked': orientation === 'vertical'}" [multiple]="multiSelect">
      <mat-chip *ngFor="let chip of chips" class="pep-chips {{ styleType }}" [disabled]="chip.disabled"
        [selected]="chip.selected" [removable]="chip.removable" [selectable]="chip.selectable"
        (removed)="onChipRemoved(chip)" (selectionChange)="onSelectionChanged($event.selected, chip)">
        <span class="ellipsis pull-left flip" title="{{chip.value}}">{{chip.value}}</span>
        <pep-button *ngIf="chip.removable" matChipRemove sizeType="xs" iconName="system_close"
          [disabled]="chip.disabled">
        </pep-button>
      </mat-chip>
      <input *ngIf="type === 'input'" matInput [placeholder]="placeholder" [matChipInputFor]="chipList"
        [matChipInputAddOnBlur]="true" (matChipInputTokenEnd)="onChipAdded($event)">
      <div *ngIf="type === 'select'" class="chips-select" (click)="onChipsSelectClicked()">{{ placeholder
        }}</div>
    </mat-chip-list>
  </mat-form-field>
</ng-container>

<div *ngIf="type === 'none'" class="pep-chips-container pep-list-static">
  <mat-chip-list #chipList aria-label="Chip selection"
    [ngClass]="{'mat-chip-list-stacked': orientation === 'vertical'}" [multiple]="multiSelect">
    <mat-chip *ngFor="let chip of chips" class="pep-chips {{ styleType }}" [disabled]="chip.disabled"
      [selected]="chip.selected" [removable]="chip.removable" [selectable]="chip.selectable"
      (removed)="onChipRemoved(chip)" (selectionChange)="onSelectionChanged($event.selected, chip)">
      <span class="ellipsis pull-left flip" title="{{chip.value}}">{{chip.value}}</span>
      <!-- <pep-button *ngIf="chip.removable" matChipRemove sizeType="xs" iconName="system_close" [disabled]="chip.disabled">
      </pep-button> -->
    </mat-chip>
  </mat-chip-list>
</div>