<ng-container [ngSwitch]="field.controlType" [formGroup]="form">

    <pep-address *ngSwitchCase="'address'" [form]="form" [key]="field.key" [formattedValue]="field.formattedValue"
        [label]="field.label" [required]="field.required" [disabled]="field.disabled" [readonly]="field.readonly"
        [xAlignment]="field.xAlignment" [rowSpan]="field.rowSpan" [groupFields]="field.groupFields"
        [layoutType]="layoutType" (valueChange)="onValueChanged($event)">
    </pep-address>

    <pep-attachment *ngSwitchCase="'attachment'" [form]="form" [key]="field.key" [src]="field.value"
        [label]="field.label" [required]="field.required" [disabled]="field.disabled" [readonly]="field.readonly"
        [xAlignment]="field.xAlignment" [rowSpan]="field.rowSpan" [isActive]="isActive" [showTitle]="showTitle"
        [layoutType]="layoutType" (elementClick)="onClick($event)" (valueChange)="onValueChanged($event)">
    </pep-attachment>

    <pep-checkbox *ngSwitchCase="'checkbox'" [form]="form" [key]="field.key" [value]="field.value" [label]="field.label"
        [type]="field.type" [required]="field.required" [disabled]="field.disabled" [readonly]="field.readonly"
        [xAlignment]="field.xAlignment" [rowSpan]="field.rowSpan" [additionalValue]="field.additionalValue"
        [showTitle]="showTitle" [layoutType]="layoutType" (valueChange)="onValueChanged($event)" [isActive]="isActive">
    </pep-checkbox>

    <pep-date *ngSwitchCase="'date'" [form]="form" [key]="field.key" [value]="field.value"
        [formattedValue]="field.formattedValue" [label]="field.label" [type]="field.type" [required]="field.required"
        [disabled]="field.disabled" [readonly]="field.readonly" [textColor]="field.textColor"
        [xAlignment]="field.xAlignment" [rowSpan]="field.rowSpan" [minValue]="field.minValue"
        [maxValue]="field.maxValue" [showTitle]="showTitle" [layoutType]="layoutType"
        (valueChange)="onValueChanged($event)" [isActive]="isActive">
    </pep-date>

    <pep-images-filmstrip *ngSwitchCase="'images'" [uid]="uid" [form]="form" [key]="field.key" [label]="field.label"
        [showTitle]="showTitle" [rowSpan]="field.rowSpan" [value]="field.value" [layoutType]="layoutType">
    </pep-images-filmstrip>

    <pep-image *ngSwitchCase="'image'" [uid]="uid" [form]="form" [key]="field.key" [src]="field.formattedValue"
        [srcLarge]="field.value" [options]="field.options" [label]="field.label" [required]="field.required"
        [disabled]="field.disabled" [readonly]="field.readonly" [xAlignment]="field.xAlignment"
        [rowSpan]="field.rowSpan" [indicatorsField]="field.indicatorsField" [menuField]="field.menuField"
        [hasCampaignField]="field.hasCampaignField" [sizeLimitMB]="field.sizeLimitMB" [isActive]="isActive"
        [layoutType]="layoutType" (elementClick)="onClick($event)" (valueChange)="onValueChanged($event)">
    </pep-image>

    <pep-quantity-selector *ngSwitchCase="'qs'" [form]="form" [key]="field.key" [value]="field.value"
        [formattedValue]="field.formattedValue" [label]="field.label" [type]="field.type" [required]="field.required"
        [disabled]="field.disabled" [readonly]="field.readonly" [textColor]="field.textColor"
        [xAlignment]="field.xAlignment" [rowSpan]="field.rowSpan" [lastFocusField]="field.lastFocusField"
        [alowDecimal]="field.alowDecimal" [additionalValue]="field.additionalValue"
        [notificationInfo]="field.notificationInfo" [isActive]="isActive" [layoutType]="layoutType"
        [showTitle]="showTitle" (valueChange)="onValueChanged($event)"
        (formValidationChange)="onFormValidationChanged($event)" (elementClick)="onClick($event)">
    </pep-quantity-selector>

    <pep-rich-html-textarea *ngSwitchCase="'richhtmltextarea'" [form]="form" [key]="field.key" [value]="field.value"
        [label]="field.label" [required]="field.required" [disabled]="field.disabled" [readonly]="field.readonly"
        [maxFieldCharacters]="field.maxFieldCharacters" [xAlignment]="field.xAlignment" [rowSpan]="field.rowSpan"
        [showTitle]="showTitle" [layoutType]="layoutType" (valueChange)="onValueChanged($event)" [isActive]="isActive">
    </pep-rich-html-textarea>

    <pep-select *ngSwitchCase="'select'" [form]="form" [key]="field.key" [value]="field.value" [label]="field.label"
        [type]="field.type" [required]="field.required" [disabled]="field.disabled" [readonly]="field.readonly"
        [xAlignment]="field.xAlignment" [rowSpan]="field.rowSpan" [options]="field.options" [showTitle]="showTitle"
        [layoutType]="layoutType" (valueChange)="onValueChanged($event)"
        (formValidationChange)="onFormValidationChanged($event)" [isActive]="isActive">
    </pep-select>

    <pep-separator *ngSwitchCase="'separator'" [form]="form" [key]="field.key" [label]="field.label"
        [xAlignment]="field.xAlignment" [layoutType]="layoutType">
    </pep-separator>

    <pep-signature *ngSwitchCase="'signature'" [form]="form" [key]="field.key" [src]="field.value" [label]="field.label"
        [required]="field.required" [disabled]="field.disabled" [readonly]="field.readonly"
        [xAlignment]="field.xAlignment" [rowSpan]="field.rowSpan" [isActive]="isActive" [layoutType]="layoutType"
        (valueChange)="onValueChanged($event)">
    </pep-signature>

    <pep-textarea *ngSwitchCase="'textarea'" [form]="form" [key]="field.key" [value]="field.value" [label]="field.label"
        [required]="field.required" [disabled]="field.disabled" [readonly]="field.readonly"
        [maxFieldCharacters]="field.maxFieldCharacters" [textColor]="field.textColor" [xAlignment]="field.xAlignment"
        [rowSpan]="field.rowSpan" [lastFocusField]="field.lastFocusField" [showTitle]="showTitle"
        [layoutType]="layoutType" (valueChange)="onValueChanged($event)" [isActive]="isActive">
    </pep-textarea>

    <pep-textbox *ngSwitchCase="'textbox'" [form]="form" [key]="field.key" [value]="field.value"
        [formattedValue]="field.formattedValue" [label]="field.label" [placeholder]="field.placeholder"
        [type]="field.type" [required]="field.required" [disabled]="field.disabled" [readonly]="field.readonly"
        [maxFieldCharacters]="field.maxFieldCharacters" [textColor]="field.textColor" [xAlignment]="field.xAlignment"
        [rowSpan]="field.rowSpan" [lastFocusField]="field.lastFocusField" [showTitle]="showTitle"
        [layoutType]="layoutType" (valueChange)="onValueChanged($event)"
        (formValidationChange)="onFormValidationChanged($event)" [isActive]="isActive">
    </pep-textbox>

    <pep-indicators *ngSwitchCase="'indicators'" [key]="field.key" [value]="field.value" [layoutType]="layoutType">
    </pep-indicators>
    <pep-internal-button *ngSwitchCase="'button'" [form]="form" [key]="field.key" [value]="field.value"
        [formattedValue]="field.formattedValue" [label]="field.label"
        [referenceObjectInternalType]="field.referenceObjectInternalType" [type]="field.type"
        [disabled]="field.disabled" [readonly]="field.readonly" [xAlignment]="field.xAlignment"
        [layoutType]="layoutType" (elementClick)="onClick($event)" (valueChange)="onValueChanged($event)">
    </pep-internal-button>
    <pep-internal-menu *ngSwitchCase="'menu'" [key]="field.key" [label]="field.label" [disabled]="field.disabled"
        [xAlignment]="field.xAlignment" [options]="field.options" [layoutType]="layoutType"
        (elementClick)="onClick($event)">
    </pep-internal-menu>
    <pep-internal-page *ngSwitchCase="'internalPage'" [field]="field" [layoutType]="layoutType"
        (childClick)="onChildClick($event)" (childChange)="onChildChanged($event)">
    </pep-internal-page>

    <ng-container *ngSwitchCase="'placeholder'">
    </ng-container>
</ng-container>