:host {
    height: inherit;
    display: grid;
    // align-items: center;
}
:host > * { 
    align-self: center; // instead of  align-items: center; in the :host
}

.indicators-container {
    height: 2.5rem;
    
    pep-icon {
        height: 1rem;
        width: 1rem;
        margin: 0.05rem;
    }

    &.is-inside-table {
        height: 1rem;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}
