@import '../src/core/style/abstracts/variables';

:host {
    height: inherit;
    display: grid;
    // align-items: center;
}
:host > * {
    align-self: center; // instead of  align-items: center; in the :host
}

.pepperi-button-container, .pep-button-container {
    //display: grid;
    height: fit-content;
    // margin-bottom: 1rem;

    .center-alignment {
        position: absolute;
        left: 50%;
        transform: translate(-50%, 0);
    }

    &.reference-button {
        ::ng-deep.split-buttons,
        .split-buttons {
            float: left;

            button:last-of-type {
                width: 1.5rem;
                padding: 0;
            }
        }

        // .pepperi-button, .pep-button,
        // ::ng-deep .pepperi-button, ::ng-deep .pep-button {
        //     .mat-button-wrapper {
        //         display: grid !important;
        //         grid-auto-flow: column;
        //         grid-template-rows: auto;
        //     }

        //     mat-icon {
        //         margin-left: $spacing-md;

        //         &.rtl {
        //             margin-left: unset;
        //             margin-right: $spacing-md;
        //         }
        //     }

        //     &.last-button {
        //         mat-icon {
        //             margin: 0;
        //         }
        //     }
        // }
    }
}
