<ng-container *ngIf="options?.length > 0; then subMenuBlock; else noSubMenuBlock"></ng-container>
<ng-template #noSubMenuBlock>
    <button (click)="menuClicked($event)" title="{{ label }}" mat-button
        class="pep-button icon-button weak special {{ layoutType === 'table' ? 'sm' : 'md' }}" [ngClass]="{
            'lock-events': disabled,
            'left-alignment': xAlignment == 'left',
            'right-alignment': xAlignment == 'right',
            'center-alignment': xAlignment == 'center'
        }">
        <mat-icon>
            <pep-icon name="system_menu">
            </pep-icon>
        </mat-icon>
    </button>
</ng-template>

<ng-template #subMenuBlock>
    <button mat-button [matMenuTriggerFor]="menu" menu-blur
        class="pep-button icon-button weak {{ layoutType === 'table' ? 'sm' : 'md' }}" [ngClass]="{
            'left-alignment': xAlignment == 'left',
            'right-alignment': xAlignment == 'right',
            'center-alignment': xAlignment == 'center',
            'invert': invertClass
        }" title="{{ label }}">
        <mat-icon>
            <pep-icon name="system_menu">
            </pep-icon>
        </mat-icon>
    </button>

    <mat-menu #menu="matMenu" xPosition="{{xAlignment == 'right' ? 'after' : 'before'}}"
        [ngClass]="{ rtlMenu: xAlignment == 'right' }">
        <button *ngFor="let option of options" mat-menu-item (click)="menuItemClicked(option.key)">
            <span>{{ option.value | translate }}</span>
        </button>
    </mat-menu>

</ng-template>