<ng-container *ngIf="totalRows == 0">
    <div class="pep-border-bottom">
        <p class="title-xl no-data">
            {{ (noDataFoundMsg ? noDataFoundMsg : 'LIST.NO_DATA_FOUND') | translate}}
        </p>
    </div>
    <div class="no-data-suggestions">
        <p class="suggestions-title title-lg">
            {{ 'LIST.NO_DATA_FOUND_SUGGESTIONS_TITLE' | translate}}
        </p>
        <ul class="suggestions-list body-lg" [innerHtml]="'LIST.NO_DATA_FOUND_SUGGESTIONS_LIST' | translate"></ul>
    </div>
</ng-container>
<ng-container *ngIf="totalRows > 0">
    <div *ngIf="isTable" #tableHeader class="table-header" (mouseup)="onListResizeEnd($event)"
        (mouseenter)="onListHeaderMouseEnter($event)" (mouseleave)="onListHeaderMouseLeave($event)"
        (mousemove)="onListResize($event)">

        <div class="table-header-padding-top"></div>
        <fieldset class="table-header-fieldset">
            <fieldset>
                <div *ngFor="let field of uiControl?.ControlFields; let j = index" class="header-column pull-left flip"
                    [ngStyle]="{ width: field.calcTitleColumnWidthString }" [ngClass]="{
                            'is-resizing': field.ApiName === pressedColumn,
                            'is-first': j === 0,
                            'is-last': j === uiControl?.ControlFields?.length - 1
                        }">
                    <label *ngIf="field.Title != ''" id="{{ field.ApiName }}"
                        class="header-label body-sm pull-left flip text-align-{{ field.Layout.XAlignment }}"
                        title="{{ field.Title }}">
                        {{ field.Title }}
                    </label>
                    <label *ngIf="field.Title == ''" id="{{ field.ApiName }}"
                        class="header-label body-sm pull-left flip">&nbsp;</label>

                    <div *ngIf="supportResizing" class="resize-box pull-right flip"
                        (mousedown)="onListResizeStart($event, field.ApiName)">
                        <div class="splitter"></div>
                    </div>
                </div>
            </fieldset>
        </fieldset>
    </div>

    <div #noVirtualScrollCont [ngClass]="{ 'table-body': isTable, 'cards-body': !isTable }">
        <ng-container *ngTemplateOutlet="listData"></ng-container>
    </div>
    <ng-container *ngTemplateOutlet="listTotals"></ng-container>
</ng-container>

<ng-template #listData>
    <ng-container *ngFor="let item of scrollItems; let i = index; let isFirst = first; trackBy: trackByFunc">
        <ng-container *ngIf="isTable">
            <div class="table-row" (mouseenter)="onTableRowMouseEnter($event, item?.UID, item?.Type)"
                (mouseleave)="onTableRowMouseLeave($event, item?.UID, item?.Type)" [ngClass]="{
                        selected: getIsItemSelected(item?.UID, item?.Type),
                        highlighted: item?.UID + SEPARATOR + item?.Type === selectedItemId
                    }"
                [ngStyle]="{ height: calculatedObjectHeight, visibility: showItems || item ? 'visible' : 'hidden' }">
                <fieldset class="table-row-fieldset" [ngStyle]="{ 'background-color': item?.BackgroundColor }">
                    <!-- [canEditObject]="!disabled && item?.IsEditable" -->
                    <pep-form [checkForChanges]="checkForChanges" [layout]="uiControl"
                        [firstFieldAsLink]="firstFieldAsLink" [data]="item" [canEditObject]="!disabled"
                        [objectId]="objectId" [parentId]="parentId" [searchCode]="searchCode"
                        [lockEvents]="disableSelectionItems" [layoutType]="'table'" [listType]="listType" [isActive]="
                                (item?.UID + SEPARATOR + item?.Type === selectedItemId ||
                                item?.UID + SEPARATOR + item?.Type === hoveredItemId) && deviceHasMouse
                            " (valueChange)="onValueChanged($event)" (fieldClick)="onCustomizeFieldClick($event)"
                        (click)="itemClicked($event, item)" [pageType]="pageType">
                    </pep-form>
                </fieldset>
            </div>
        </ng-container>

        <ng-container *ngIf="!isTable">
            <div [class]="itemClass" (mouseenter)="onCardMouseEnter($event, item?.UID, item?.Type)"
                (mouseleave)="onCardMouseLeave($event, item?.UID, item?.Type)" [ngClass]="{
                        selected: getIsItemSelected(item?.UID, item?.Type),
                        highlighted: item?.UID + SEPARATOR + item?.Type === selectedItemId,
                        'card-view': viewType === 'cards',
                        'line-view': viewType === 'lines'
                    }" class="pull-left flip"
                [ngStyle]="{ height: calculatedObjectHeight, visibility: showItems || item ? 'visible' : 'hidden' }">
                <!-- [canEditObject]="!disabled && item?.IsEditable" -->
                <pep-form [checkForChanges]="checkForChanges" [layout]="uiControl" [data]="item"
                    [canEditObject]="!disabled" [objectId]=" objectId" [parentId]="parentId" [searchCode]="searchCode"
                    [lockEvents]="disableSelectionItems" [layoutType]="'card'" [listType]="listType" [isActive]="
                            (item?.UID + SEPARATOR + item?.Type === selectedItemId ||
                            item?.UID + SEPARATOR + item?.Type === hoveredItemId) && deviceHasMouse
                        " (valueChange)="onValueChanged($event)" (fieldClick)="onCustomizeFieldClick($event)"
                    (click)="itemClicked($event, item)" [pageType]="pageType">
                </pep-form>
            </div>
        </ng-container>
    </ng-container>
</ng-template>

<ng-template #listTotals>
    <div *ngIf="totalsRow?.length > 0 && totalsRow.length <= uiControl?.ControlFields.length" class="table-total">
        <fieldset class="table-header-fieldset">
            <div *ngFor="let field of uiControl?.ControlFields; let j = index" class="total-column pull-left flip"
                [ngStyle]="{ width: field.calcTitleColumnWidthString }">
                <label class="total-label body-sm text-align-{{ field.Layout.XAlignment }}">
                    {{ totalsRow[j] }}
                </label>
            </div>
        </fieldset>
    </div>
</ng-template>