<button mat-button [pepDataQa]="key ? key : value"
    class="pep-button {{ sizeType }} {{ styleType }} {{ styleStateType }} {{ classNames }}"
    [ngClass]="{ 'icon-button': iconName && !value }" [disabled]="disabled" (click)="onButtonClicked($event)">
    <ng-container *ngTemplateOutlet="contentTemplate">
    </ng-container>
</button>

<ng-template #contentTemplate>
    <mat-icon *ngIf="iconName && iconPosition === 'start'" [ngClass]="{ 'pull-left flip': value }">
        <pep-icon name="{{iconName}}"></pep-icon>
    </mat-icon>
    <span *ngIf="value" class="ellipsis pull-left flip"
        [ngClass]="{ 'button-title-with-icon': iconName, 'icon-before': iconPosition === 'start' }" [title]="value">
        {{value}}
    </span>
    <mat-icon *ngIf="iconName && iconPosition === 'end'" [ngClass]="{ 'pull-left flip': value }">
        <pep-icon name="{{iconName}}"></pep-icon>
    </mat-icon>
</ng-template>