:host {
    height: inherit;
    display: grid;
    // align-items: center;
}
:host > * { 
    align-self: center; // instead of  align-items: center; in the :host
}

.disable-text-div {
    display: inline-block;
    vertical-align: middle;
    margin: 0;
    padding: 0.5rem 1.5rem 0.5rem 0;
    overflow-y: hidden;
}

.right-alignment {
    .disable-text-div {
        padding: 0.5rem 0 0.5rem 1.5rem;
    }
}

.dialog-textarea-container {
    textarea {
        border: none;
        resize: none;
        width: 25rem;
        height: 13rem;
        
        &:focus {
            outline: none;
        }
    }
}