@use '../src/core/style/abstracts/variables';

.mat-menu-item-submenu-trigger::after {
    display: none;
}

.mat-menu-item {
    
    .title {
        margin: 0 variables.$spacing-xs;

        &.spacing-from-icon {
            margin: 0 variables.$spacing-sm;
        }

        &.spacing-from-submenu-trigger {
            padding-inline-end: variables.$spacing-lg;
        }
    }

    .mat-icon {
        margin: 0;
    }

    .submenu-trigger {
        position: absolute;
        right: variables.$spacing-sm;
        width: 1rem;
    
        &.rotate {
            transform: rotate(180deg);
        }
    }

    &.splitter {
        height: 1px !important;
        margin: variables.$spacing-sm 0;
    }

    &[dir='rtl'] {
        .submenu-trigger {
            right: unset;
            left: variables.$spacing-sm;
            transform: rotate(180deg);

            &.rotate {
                transform: rotate(0deg);
            }
        }
    }
}

.mat-menu-item-submenu-trigger::after {
    width: unset;
    height: unset;
    transform: unset;
}