<div class="menu-container" [ngClass]="{ 'spacing-element': state === 'visible' }"
    dir="{{ layoutService.isRtl() ? 'rtl' : 'ltr' }}">
    <ng-container *ngIf="showAnimation then animationTemplate else regularTemplate">
    </ng-container>
    <ng-template #animationTemplate>
        <button mat-button class="pep-button icon-button {{ sizeType }} {{ styleType }} {{ classNames }}"
            pepRtlDirection [matMenuTriggerFor]="menu.childMenu" pepMenuBlur [@slideInOut]="state"
            (@slideInOut.done)="animationDone()" (@slideInOut.start)="animationStart()"
            (menuClick)="onMenuClicked($event)">
            <ng-container *ngTemplateOutlet="itemTemplate; context: { itemIconName: iconName, itemTitle: title }">
            </ng-container>
        </button>
    </ng-template>
    <ng-template #regularTemplate>
        <ng-container *ngIf="items then menuTemplate else buttonTemplate"></ng-container>
        <ng-template #menuTemplate>
            <button mat-button class="pep-button icon-button {{ sizeType }} {{ styleType }} {{ classNames }}"
                pepRtlDirection [matMenuTriggerFor]="menu.childMenu" pepMenuBlur (menuClick)="onMenuClicked($event)"
                [disabled]="disabled" [ngClass]="{ disabled: disabled }">
                <ng-container *ngTemplateOutlet="itemTemplate; context: { itemIconName: iconName, itemTitle: title }">
                </ng-container>
            </button>
        </ng-template>
        <ng-template #buttonTemplate>
            <button mat-button class="pep-button icon-button {{ sizeType }} {{ styleType }} {{ classNames }}"
                pepRtlDirection pepMenuBlur (menuClick)="onMenuClicked($event)" [disabled]="disabled"
                [ngClass]="{ disabled: disabled }">
                <ng-container *ngTemplateOutlet="itemTemplate; context: { itemIconName: iconName, itemTitle: title }">
                </ng-container>
            </button>
        </ng-template>
    </ng-template>

    <pep-menu-item #menu [items]="items" (menuItemClick)="onMenuItemClicked($event)"></pep-menu-item>
</div>

<ng-template #itemTemplate let-itemIconName="itemIconName" let-itemTitle="itemTitle">
    <mat-icon *ngIf="itemIconName">
        <pep-icon name="{{itemIconName}}"></pep-icon>
    </mat-icon>
    <span *ngIf="itemTitle" class="ellipsis" [ngClass]="{ 'button-title-with-icon': itemIconName }" [title]="itemTitle">
        {{ itemTitle}}
    </span>
</ng-template>