@import '../src/core/style/abstracts/variables';
@import '../src/core/style/abstracts/mixins';

.mat-menu-item-submenu-trigger::after {
    display: none;   
}

.mat-menu-item {
    padding: 0 $spacing-sm;
    display: flex;
    align-items: center;
    
    .title {
        margin: 0 $spacing-sm;

        &.padding-from-submenu-trigger {
            padding-right: $spacing-lg;
        }
    }

    .mat-icon {
        margin: 0;
    }

    .submenu-trigger {
        position: absolute;
        right: $spacing-sm;
        width: 1rem;
    
        &.rotate {
            @include rotate(180deg);
        }
    }

    &[dir='rtl'] {
        .title {
            &.padding-from-submenu-trigger {
                padding-right: unset;
                padding-left: $spacing-lg;
            }
        }

        .submenu-trigger {
            right: unset;
            left: $spacing-sm;
            @include rotate(180deg);

            &.rotate {
                @include rotate(0deg);
            }
        }
    }
}
