<mat-menu #childMenu="matMenu" xPosition="{{ xPosition }}" class="pep-{{type}}-menu">
    <ng-container *ngFor="let menuItem of items">
        <ng-container *ngIf="!menuItem.hidden">
            <ng-container *ngIf="menuItem.type === 'splitter'; then splitterBlock; else buttonBlock"></ng-container>
            <ng-template #splitterBlock>
                <div mat-menu-item class="splitter"></div>
            </ng-template>

            <ng-template #buttonBlock>
                <ng-container
                    *ngIf="type !== 'select' && menuItem.children?.length > 0; then childrenBlock; else regularBlock">
                </ng-container>
                <ng-template #childrenBlock>
                    <button mat-menu-item (click)="onMenuItemClicked(menuItem)" [matMenuTriggerFor]="menu.childMenu"
                        title="{{ menuItem.text }}" pepRtlDirection [disabled]="menuItem.disabled"
                        [ngClass]="{ selected: type === 'action-select' && menuItem.selected, disabled: menuItem.disabled }">
                        <ng-container *ngTemplateOutlet="itemTemplate; context: {
                            itemIconName: menuItem.iconName,
                            itemIconPosition: menuItem.iconPosition,
                            itemText: menuItem.text,
                            itemType: menuItem.type,
                            hasChildren: true
                        }"></ng-container>
                    </button>
                    <pep-menu-item #menu [type]="type" [items]="menuItem.children" [parent]="menuItem"
                        (menuItemClick)="onChildClicked($event)">
                    </pep-menu-item>
                </ng-template>
                <ng-template #regularBlock>
                    <button mat-menu-item (click)="onMenuItemClicked(menuItem)" title="{{ menuItem.text }}"
                        pepRtlDirection [disabled]="menuItem.disabled"
                        [ngClass]="{ selected: (type === 'select' || type === 'action-select') && menuItem.selected, disabled: menuItem.disabled }">
                        <ng-container *ngTemplateOutlet="itemTemplate; context: {
                            itemIconName: menuItem.iconName,
                            itemIconPosition: menuItem.iconPosition,
                            itemText: menuItem.text,
                            itemType: menuItem.type,
                            hasChildren: false
                        }"></ng-container>
                    </button>
                </ng-template>
            </ng-template>
        </ng-container>
    </ng-container>
</mat-menu>

<ng-template #itemTemplate let-itemIconName="itemIconName" let-itemIconPosition="itemIconPosition" let-itemText="itemText" let-itemType="itemType"
    let-hasChildren="hasChildren">
    <ng-container>
        <mat-icon *ngIf="itemIconName && itemIconPosition === 'before'" class="pull-left flip">
            <pep-icon name="{{itemIconName}}"></pep-icon>
        </mat-icon>
        <span *ngIf="itemText" class="pull-left flip title ellipsis"
            [ngClass]="{ 'spacing-from-icon': itemIconName, 'spacing-from-submenu-trigger': hasChildren }"
            [title]="itemText">
            {{ itemText }}
        </span>
        <mat-icon *ngIf="itemIconName && itemIconPosition === 'after'" class="pull-left flip">
            <pep-icon name="{{itemIconName}}"></pep-icon>
        </mat-icon>
        <mat-icon *ngIf="hasChildren" class="pull-left flip submenu-trigger"
            [ngClass]="{ 'rotate': xPosition === 'before' }">
            <pep-icon name="{{ subMenuIconName }}"></pep-icon>
        </mat-icon>
    </ng-container>
</ng-template>