<mat-menu #childMenu="matMenu" xPosition="{{ xPosition }}">
    <ng-container *ngFor="let menuItem of items">
        <ng-container *ngIf="!menuItem.hidden">
            <ng-container *ngIf="menuItem.children?.length > 0; then childrenBlock; else regularBlock"></ng-container>
            <ng-template #childrenBlock>
                <button mat-menu-item [matMenuTriggerFor]="menu.childMenu" title="{{ menuItem.title }}" pepRtlDirection
                    [disabled]="menuItem.disabled"
                    [ngClass]="{ 'splitter': menuItem.type === 'splitter', disabled: menuItem.disabled }">
                    <ng-container *ngTemplateOutlet="itemTemplate; context: {
                        itemIconName: menuItem.iconName,
                        itemTitle: menuItem.title,
                        itemType: menuItem.type,
                        hasChildren: true
                    }"></ng-container>
                </button>
                <pep-menu-item #menu [items]="menuItem.children" (menuItemClick)="onChildClicked($event)">
                </pep-menu-item>
            </ng-template>
            <ng-template #regularBlock>
                <button mat-menu-item (click)="onMenuItemClicked(menuItem)" title="{{ menuItem.title }}" pepRtlDirection
                    [disabled]="menuItem.disabled"
                    [ngClass]="{ 'splitter': menuItem.type === 'splitter', disabled: menuItem.disabled }">
                    <ng-container *ngTemplateOutlet="itemTemplate; context: {
                        itemIconName: menuItem.iconName,
                        itemTitle: menuItem.title,
                        itemType: menuItem.type,
                        hasChildren: false
                    }"></ng-container>
                </button>
            </ng-template>
        </ng-container>
    </ng-container>
</mat-menu>

<ng-template #itemTemplate let-itemIconName="itemIconName" let-itemTitle="itemTitle" let-itemType="itemType"
    let-hasChildren="hasChildren">

    <ng-container *ngIf="itemType !== 'splitter'">
        <mat-icon *ngIf="itemIconName" class="pull-left flip">
            <pep-icon name="{{itemIconName}}"></pep-icon>
        </mat-icon>
        <span *ngIf="itemTitle" class="pull-left flip title ellipsis"
            [ngClass]="{ 'padding-from-submenu-trigger': hasChildren }" [title]="itemTitle">
            {{ itemTitle }}
        </span>
        <mat-icon *ngIf="hasChildren" class="pull-left flip submenu-trigger"
            [ngClass]="{ 'rotate': xPosition === 'before' }">
            <pep-icon name="{{ subMenuIconName }}"></pep-icon>
        </mat-icon>
    </ng-container>
</ng-template>