<!-- <main> -->
<div class="addon-page-container">
    <pep-top-bar [title]="'List_Example_Title' | translate">
        <div header-start-content>

        </div>
        <div header-end-content>
            <button class="mat-button pep-button weak md spacing-element" (click)="toggleMenu()">
                toggle menu
            </button>
        </div>
        <div footer-start-content>
            <pep-button [value]="'test 1'" [sizeType]="'sm'" [styleType]="'regular'"
                [classNames]="'spacing-element pull-right flip'"></pep-button>
            <pep-button [value]="'test 2'" [sizeType]="'sm'" [classNames]="'spacing-element pull-right flip'"
                [icon]="'system_bolt'">
            </pep-button>
        </div>
        <div footer-end-content>
            <button class="mat-button pep-button weak md spacing-element" (click)="toggleMenu()">
                toggle menu
            </button>
        </div>
        <pep-list-actions [actions]="menuItems"></pep-list-actions>
    </pep-top-bar>
    <div class="main-content ">
        <div class="content">
            <div class="list-container" #listContainer>
                <pep-list [firstFieldAsLink]="false" [isReport]="false" [supportSorting]="false"
                    [supportResizing]="false" [selectionTypeForActions]="'multi'" [noDataFoundMsg]="'No data'"
                    [parentScroll]="listContainer" (notifyListChanged)="onListChange($event)"
                    (notifyFieldClicked)="onCustomizeFieldClick($event)"
                    (notifySelectedItemsChanged)="selectedRowsChanged($event)">
                </pep-list>
            </div>

            <div class="inline-top-bar-container">
                <pep-top-bar [title]="'inline top bar'" [inline]="true">
                    <div header-end-content>
                        <button class="mat-button pep-button weak sm spacing-element">
                            button
                        </button>
                        <pep-button [value]="'test 1'" [sizeType]="'sm'" [styleType]="'regular'"
                            [classNames]="'spacing-element pull-right flip'"></pep-button>
                        <pep-button [value]="'test 2'" [sizeType]="'sm'"
                            [classNames]="'spacing-element pull-right flip'" [icon]="'system_bolt'">
                        </pep-button>
                    </div>
                    <pep-list-actions [actions]="menuItems" [sizeType]="'sm'"></pep-list-actions>
                    <pep-list-chooser [options]="options" [sizeType]="'sm'"></pep-list-chooser>
                </pep-top-bar>
                <pep-textbox [key]="'Number'" [label]="'Pepperi Number'" [type]="'real'" [xAlignment]="'left'"
                    [value]="'9399371'" [required]="true" [formattedValue]="'9,399,371'">
                </pep-textbox>
                <pep-textbox [key]="'Email'" [label]="'Pepperi Email'" [type]="'email'" [xAlignment]="'left'"
                    [value]="'email@pepperi.com'">
                </pep-textbox>
            </div>

        </div>
    </div>
</div>