.addon-page-container {
    display: flex !important;
    flex-direction: row;

    .main-layout {
        padding: 0;
    }
    // .content {
    //     width: 100%;
    // }
}

.list-wrapper {
    // overflow: auto;
    // height: 250px;
}

