<ng-container *ngIf="!inDialog">
    <ng-container *ngTemplateOutlet="remoteLoaderTemplate"></ng-container>
</ng-container>

<ng-template #dialogTemplate let-data>
    <pep-dialog [showClose]="data?.showClose" [showHeader]="data?.showHeader" [showFooter]="data?.showFooter" [title]="data?.title">
        <ng-container pep-dialog-content>
            <ng-container *ngTemplateOutlet="remoteLoaderTemplate"></ng-container>
        </ng-container>
    </pep-dialog>
</ng-template>

<ng-template #remoteLoaderTemplate>
    <pep-remote-loader *ngIf="remotePathOptions"
        [options]="remotePathOptions"
        [hostObject]="hostObject"
        (hostEvents)="onHostEvents($event);"
        (load)="onBlockLoad()">
    </pep-remote-loader>
</ng-template>