<ng-container [formGroup]="_form">
    <div class="filter-item-container">
        <pep-select [key]="'filtering'" [value]="_selectedField?.id" [label]="'Test Filter'" [emptyOption]="false"
            [options]="_options" (valueChange)="onFieldChanged($event)">
        </pep-select>
        is valid - {{_form.valid}}
        <ng-container *ngIf="_selectedField?.componentType">
            <ng-container [ngSwitch]="_selectedField.componentType">
                <ng-container *ngSwitchCase="'text'">
                    <pep-text-filter [showActionButtons]="false" [field]="_selectedField" [filter]="_filter"
                        [parentForm]="_form" [emitOnChange]="true" [inline]="true" (filterChange)="onFilterChanged()">
                    </pep-text-filter>
                </ng-container>
                <ng-container *ngSwitchCase="'boolean'">
                    <pep-boolean-filter [showActionButtons]="false" [field]="_selectedField" [filter]="_filter"
                        [parentForm]="_form" [emitOnChange]="true" [inline]="true" (filterChange)="onFilterChanged()">
                    </pep-boolean-filter>
                </ng-container>
                <ng-container *ngSwitchCase="'date'">
                    <pep-date-filter [showActionButtons]="false" [field]="_selectedField" [filter]="_filter"
                        [parentForm]="_form" [emitOnChange]="true" [inline]="true" (filterChange)="onFilterChanged()">
                    </pep-date-filter>
                </ng-container>
                <ng-container *ngSwitchCase="'multi-select'">
                    <pep-multi-select-filter [showActionButtons]="false" [field]="_selectedField" [filter]="_filter"
                        [parentForm]="_form" [emitOnChange]="true" [inline]="true" (filterChange)="onFilterChanged()">
                    </pep-multi-select-filter>
                </ng-container>
                <ng-container *ngSwitchCase="'number'">
                    <pep-number-filter [showActionButtons]="false" [field]="_selectedField" [filter]="_filter"
                        [parentForm]="_form" [emitOnChange]="true" [inline]="true" (filterChange)="onFilterChanged()">
                    </pep-number-filter>
                </ng-container>
            </ng-container>
        </ng-container>
        <pep-button [value]="'Delete'" [sizeType]="'sm'" [styleType]="'regular'" [classNames]="'pep-spacing-element '"
            (buttonClick)="onDeleteItemClicked()">
        </pep-button>
    </div>
</ng-container>