<ng-container [formGroup]="_form">
    <div class="filter-item-container">
        <pep-select [key]="'filtering'" [value]="_selectedField?.id" [label]="'Test Filter'" [emptyOption]="false"
            [options]="_options" (valueChange)="onFieldChanged($event)">
        </pep-select>
        is valid - {{_form.valid}}
        <ng-container *ngIf="_selectedField?.componentType">
            <ng-container [ngSwitch]="_selectedField.componentType">
                <ng-container *ngSwitchCase="'text'">
                    <pep-text-filter [field]="_selectedField" [filter]="_filter" [parentForm]="_form"
                        [emitOnChange]="true" [inline]="true" (filterChange)="onFilterChanged($event)"
                        (filterClear)="onFilterClear(_selectedField)">
                    </pep-text-filter>
                </ng-container>
                <ng-container *ngSwitchCase="'boolean'">
                    <pep-boolean-filter [field]="_selectedField" [filter]="_filter" [parentForm]="_form"
                        [emitOnChange]="true" [inline]="true" (filterChange)="onFilterChanged($event)"
                        (filterClear)="onFilterClear(_selectedField)">
                    </pep-boolean-filter>
                </ng-container>
                <ng-container *ngSwitchCase="'date'">
                    <pep-date-filter [field]="_selectedField" [filter]="_filter" [parentForm]="_form"
                        [emitOnChange]="true" [inline]="true" (filterChange)="onFilterChanged($event)"
                        (filterClear)="onFilterClear(_selectedField)">
                    </pep-date-filter>
                </ng-container>
                <ng-container *ngSwitchCase="'multi-select'">
                    <pep-multi-select-filter [field]="_selectedField" [filter]="_filter" [parentForm]="_form"
                        [emitOnChange]="true" [inline]="true" (filterChange)="onFilterChanged($event)"
                        (filterClear)="onFilterClear(_selectedField)">
                    </pep-multi-select-filter>
                </ng-container>
                <ng-container *ngSwitchCase="'number'">
                    <pep-number-filter [field]="_selectedField" [filter]="_filter" [parentForm]="_form"
                        [emitOnChange]="true" [inline]="true" (filterChange)="onFilterChanged($event)"
                        (filterClear)="onFilterClear(_selectedField)">
                    </pep-number-filter>
                </ng-container>
            </ng-container>
        </ng-container>
    </div>
</ng-container>