<ng-container *ngIf="totalRows == 0">
    <ng-container *ngIf="noDataFoundMsg; then noDataMsgInputBlock; else noDataMsgDefaultBlock"></ng-container>
    <ng-template #noDataMsgInputBlock>
        <div class="pep-border-bottom">
            <p class="title-xl no-data">
                {{ noDataFoundMsg }}
            </p>
        </div>
    </ng-template>
    <ng-template #noDataMsgDefaultBlock>
        <div class="pep-border-bottom">
            <p class="title-xl no-data">
                {{ 'LIST.NO_DATA_FOUND' | translate}}
            </p>
        </div>
        <div class="no-data-suggestions">
            <p class="suggestions-title title-lg">
                {{ 'LIST.NO_DATA_FOUND_SUGGESTIONS_TITLE' | translate}}
            </p>
            <ul class="suggestions-list body-lg" [innerHtml]="'LIST.NO_DATA_FOUND_SUGGESTIONS_LIST' | translate"></ul>
        </div>
    </ng-template>
</ng-container>
<ng-container *ngIf="totalRows > 0">
    <ng-container *ngTemplateOutlet="tableHeader"></ng-container>

    <virtual-scroller #scroller [items]="pagerType === 'pages' ? currentPageItems : items"
        [scrollDebounceTime]="scrollDebounceTime" [scrollThrottlingTime]="scrollThrottlingTime"
        [bufferAmount]="bufferAmount" [parentScroll]="parentScroll" [disable]="loadingItemsFromApi"
        class="virtual-scroller" [ngClass]="{ 'table-body': isTable, 'cards-body': !isTable }"
        (vsChange)="onVirtualScrollerChange($event)">
        <ng-container *ngFor="let item of scroller.viewPortItems; let index; let isFirst = first;">
            <ng-container *ngTemplateOutlet="listData; context: {item: item}"></ng-container>
        </ng-container>
    </virtual-scroller>

    <pep-list-pager *ngIf="pagerType === 'pages'" class=" list-pager" [disabled]="loadingItemsFromApi"
        [length]="totalRows" [pageSize]="pageSize" [pageIndex]="pageIndex" (pagerChange)="onPagerChange($event)">
    </pep-list-pager>

    <ng-container *ngTemplateOutlet="tableTotal"></ng-container>
</ng-container>

<ng-template #listData let-item="item">
    <ng-container *ngIf="isTable">
        <div class="table-row" (mouseenter)="onTableRowMouseEnter($event, item?.UID, item?.Type)"
            (mouseleave)="onTableRowMouseLeave($event, item?.UID, item?.Type)" [ngClass]="{
                    selected: item | isItemSelected: selectionTypeForActions : selectedItemId : isAllSelected : selectedItems : unSelectedItems,
                    highlighted: item?.UID + SEPARATOR + item?.Type === selectedItemId
                }" [ngStyle]="{ visibility: !loadingItemsFromApi || item ? 'visible' : 'hidden' }">
            <fieldset class="table-row-fieldset" [ngStyle]="{ 'background-color': item?.BackgroundColor }">
                <mat-checkbox *ngIf="selectionTypeForActions == 'multi' || selectionTypeForActions == 'single-action'"
                    type="checkbox" class="pull-left flip row-selection"
                    [disabled]="item | isItemDisabled: lockItemInnerEvents" [ngStyle]="{
                            visibility: !deviceHasMouse ||
                            item?.UID + SEPARATOR + item?.Type === hoveredItemId || isAllSelected || selectedItems.size > 0 ? 'visible' : 'hidden'
                        }"
                    [checked]="item | isItemSelected: selectionTypeForActions : selectedItemId : isAllSelected : selectedItems : unSelectedItems"
                    (change)="selectItemForActions($event, item?.UID, item?.IsSelectableForActions, item?.Type)">
                </mat-checkbox>
                <mat-radio-button *ngIf="selectionTypeForActions == 'single'" name="selection"
                    class="pull-left flip row-selection pep-radio-button"
                    [disabled]="item | isItemDisabled: lockItemInnerEvents"
                    [checked]="item | isItemSelected: selectionTypeForActions : selectedItemId : isAllSelected : selectedItems : unSelectedItems"
                    (change)="selectItemForActions($event, item?.UID, item?.IsSelectableForActions, item?.Type)">
                </mat-radio-button>
                <pep-form [layoutType]="'table'" [checkForChanges]="checkForChanges" [layout]="layout"
                    [firstFieldAsLink]="firstFieldAsLink" [data]="item" [canEditObject]="!disabled"
                    [objectId]="objectId" [parentId]="parentId" [searchCode]="searchCode"
                    [lockEvents]="lockItemInnerEvents" [isReport]="isReport" [isActive]="
                            (item?.UID + SEPARATOR + item?.Type === selectedItemId ||
                            item?.UID + SEPARATOR + item?.Type === hoveredItemId) && deviceHasMouse
                        " (valueChange)="onValueChanged($event)" (fieldClick)="onCustomizeFieldClick($event)"
                    (click)="itemClicked($event, item)">
                </pep-form>
            </fieldset>
        </div>
    </ng-container>

    <ng-container *ngIf="!isTable">
        <div [class]="itemClass" (mouseenter)="onCardMouseEnter($event, item?.UID, item?.Type)"
            (mouseleave)="onCardMouseLeave($event, item?.UID, item?.Type)" [ngClass]="{
                    selected: item | isItemSelected: selectionTypeForActions : selectedItemId : isAllSelected : selectedItems : unSelectedItems,
                    highlighted: item?.UID + SEPARATOR + item?.Type === selectedItemId,
                    'card-view': viewType === 'cards',
                    'line-view': viewType === 'lines'
                }" class="pull-left flip"
            [ngStyle]="{ height: calculatedObjectHeight, visibility: !loadingItemsFromApi || item ? 'visible' : 'hidden' }">
            <mat-checkbox *ngIf="showCardSelection" class="pull-left flip card-selection"
                [disabled]="item | isItemDisabled: lockItemInnerEvents"
                [checked]="item | isItemSelected: selectionTypeForActions : selectedItemId : isAllSelected : selectedItems : unSelectedItems"
                (change)="selectItemForActions($event, item?.UID, item?.IsSelectableForActions, item?.Type)">
            </mat-checkbox>
            <pep-form [layoutType]="'card'" [firstFieldAsLink]="firstFieldAsLink" [checkForChanges]="checkForChanges"
                [layout]="layout" [data]="item" [canEditObject]="!disabled" [objectId]="objectId" [parentId]="parentId"
                [searchCode]="searchCode" [lockEvents]="lockItemInnerEvents" [isActive]="
                        (item?.UID + SEPARATOR + item?.Type === selectedItemId ||
                        item?.UID + SEPARATOR + item?.Type === hoveredItemId) && deviceHasMouse
                    " (valueChange)="onValueChanged($event)" (fieldClick)="onCustomizeFieldClick($event)"
                (click)="itemClicked($event, item)">
            </pep-form>
        </div>
    </ng-container>
</ng-template>

<ng-template #tableHeader>
    <div *ngIf="isTable" class="table-header" (mouseup)="onListResizeEnd($event)"
        (mouseenter)="onListHeaderMouseEnter($event)" (mouseleave)="onListHeaderMouseLeave($event)"
        (mousemove)="onListResize($event)">

        <div class="table-header-padding-top"></div>
        <fieldset class="table-header-fieldset">
            <mat-checkbox *ngIf="selectionTypeForActions !== 'none'" #selectAllCB class="pull-left flip row-selection"
                type="checkbox" [ngStyle]="{
                        visibility:
                            selectionTypeForActions == 'single' || 
                            (selectionTypeForActions == 'multi' && hideAllSelectionInMulti) ? 'hidden' : 'visible'
                    }"
                [indeterminate]="isAllSelected ? unSelectedItems.size > 0 && unSelectedItems.size < totalRows : (selectedItems.size > 0 && !getIsAllSelectedForActions())"
                [disabled]="disabled || selectionTypeForActions === 'single'" [checked]="getIsAllSelectedForActions()"
                (change)="selectAllItemsForActions($event)"></mat-checkbox>
            <fieldset>
                <div *ngFor="let field of layout?.ControlFields; let j = index" class="header-column pull-left flip"
                    [ngStyle]="{ width: field.calcTitleColumnWidthString }" [ngClass]="{
                            'support-sorting': supportSorting,
                            'has-sorting': field.ApiName === sortBy,
                            'is-resizing': field.ApiName === pressedColumn,
                            'is-first': j === 0 && selectionTypeForActions !== 'multi',
                            'is-last': j === layout?.ControlFields?.length - 1
                        }"
                    (click)="supportSorting ? (onListSortingChange(field.ApiName, sortBy !== null && sortBy != field.ApiName ? true : !isAsc, $event)) : false">

                    <label id="{{ field.ApiName }}"
                        class="header-label body-sm pull-left flip text-align-{{ field.Layout.XAlignment }}"
                        title="{{ field.Title }}">
                        <span *ngIf="field.Mandatory" class="mandatory">
                            <pep-icon name="system_must"></pep-icon>
                        </span>
                        {{ field.Title != '' ? field.Title : ' '}}
                    </label>

                    <div *ngIf="supportResizing" class="resize-box pull-right flip"
                        (mousedown)="onListResizeStart($event, field.ApiName)">
                        <div class="splitter"></div>
                    </div>

                    <div *ngIf="supportSorting" class="sorting-box pull-left flip"
                        [ngClass]="{ 'has-sorting': field.ApiName === sortBy }">
                        <mat-icon *ngIf="field.ApiName !== sortBy">
                            <pep-icon name="arrow_either" class="asc"></pep-icon>
                        </mat-icon>
                        <ng-container *ngIf="field.ApiName === sortBy">
                            <mat-icon *ngIf="!isAsc" [ngClass]="{ 'sort-by': field.ApiName === sortBy && isAsc }"
                                title="{{ 'LIST.SORT_ASC' | translate }}">
                                <pep-icon name="arrow_up" class="asc"></pep-icon>
                            </mat-icon>
                            <mat-icon *ngIf="isAsc" [ngClass]="{ 'sort-by': field.ApiName === sortBy && !isAsc }"
                                title="{{ 'LIST.SORT_DESC' | translate }}">
                                <pep-icon name="arrow_down" class="desc"></pep-icon>
                            </mat-icon>
                        </ng-container>
                    </div>
                </div>
            </fieldset>
        </fieldset>
    </div>
</ng-template>

<ng-template #tableTotal>
    <div *ngIf="isTable && totalsRow?.length > 0 && totalsRow.length <= layout?.ControlFields.length"
        class="table-total">
        <fieldset class="table-header-fieldset">
            <div *ngFor="let field of layout?.ControlFields; let j = index" class="total-column pull-left flip"
                [ngStyle]="{ width: field.calcTitleColumnWidthString }">
                <label class="total-label body-sm text-align-{{ field.Layout.XAlignment }}">
                    {{ totalsRow[j] }}
                </label>
            </div>
        </fieldset>
    </div>
</ng-template>