<div class="pager-container body-sm">
    <span class="pep-spacing-element">{{ 'LIST.PAGER_PAGE' | translate }}</span>
    <pep-textbox pepAutoWidth class="page-index pep-spacing-element" [key]="'pageIndex'" [type]="'int'"
        [disabled]="disabled" [xAlignment]="'center'" [renderTitle]="false" [renderError]="false" [renderSymbol]="false"
        [value]="pageIndex + 1" [formattedValue]="pageIndex + 1" [minValue]="1" [maxValue]="this.getNumberOfPages()"
        [maxFieldCharacters]="6" [mandatory]="true" (valueChange)="onValueChange($event)">
    </pep-textbox>
    <span class="pep-spacing-element">{{ 'LIST.PAGER_OUT_OF' | translate }}</span>
    <span class="pep-spacing-element">{{ getNumberOfPages() }}</span>
    <button mat-button [disabled]="disabled || _previousButtonsDisabled()"
        [ngClass]="{ disabled: disabled || _previousButtonsDisabled() }"
        class="pep-button icon-button pep-spacing-element sm weak" pepRtlDirection pepMenuBlur (click)="previousPage()"
        [title]="('LIST.PAGER_PREVIOUS' | translate)">
        <mat-icon>
            <pep-icon name="arrow_left"></pep-icon>
        </mat-icon>
    </button>
    <button mat-button [disabled]="disabled || _nextButtonsDisabled()"
        [ngClass]="{ disabled: disabled || _nextButtonsDisabled() }"
        class="pep-button icon-button pep-spacing-element sm weak" pepRtlDirection pepMenuBlur (click)="nextPage()"
        [title]="('LIST.PAGER_NEXT' | translate)">
        <mat-icon>
            <pep-icon name="arrow_right"></pep-icon>
        </mat-icon>
    </button>
</div>