@import '../src/core/style/abstracts/variables';
@import '../src/core/style/abstracts/mixins';

:host {
    height: inherit;
    display: flex;
    flex-direction: column;
}

.no-data {
    margin: $spacing-2xl 0;
}

.no-data-suggestions {
    .suggestions-title {
        margin: $spacing-lg 0 $spacing-sm;
    }

    .suggestions-list {
        margin: 0;
        padding: 0;
        padding-inline-start: $spacing-2xl;
    }
}

.virtual-scroller {
    min-height: 5rem;
    height: inherit;
}

// ::ng-deep .scrollable-content {
//     display: grid;
// }

// .table-header {
//     top:0;
// }