<div class="carousel-container">
    <ng-container *ngIf="items?.length > 0; then carouselBlock; else emptyBlock"></ng-container>
    <ng-template #emptyBlock>
        <!-- No items -->
    </ng-template>
    <ng-template #carouselBlock>
        <pep-button *ngIf="!(hideArrowsInSmallScreen && screenSize > PepScreenSizeType.SM)"
            [iconName]="'arrow_left_alt'" [styleType]="'regular'" [disabled]="prevDisabled" (click)="moveLeft()"
            class="carousel-arrow start-arrow">
        </pep-button>
        <pep-carousel #carousel [xWheelEnabled]="false" [snapDuration]="duration"
            (reachesLeftBound)="onReachesLeftBound($event)" (reachesRightBound)="onReachesRightBound($event)">
            <ng-container *ngFor="let item of items">
                <pep-form pepCarouselItem [layout]="layout" [data]="item" [layoutType]="'card'"
                    (click)="itemClicked(item)" class="card-view " [lockEvents]="lockItemInnerEvents"
                    [ngClass]="{ 'x-small-card': itemSize === 'xs', 'small-card': itemSize === 'sm'}">
                </pep-form>
            </ng-container>
        </pep-carousel>
        <pep-button *ngIf="!(hideArrowsInSmallScreen && screenSize > PepScreenSizeType.SM)"
            [iconName]="'arrow_right_alt'" [styleType]="'regular'" [disabled]="nextDisabled" (click)="moveRight()"
            class="carousel-arrow end-arrow">
        </pep-button>
    </ng-template>
</div>