<ng-container *ngIf="totalRows == 0">
    <div class="no-data body-xl">{{ noDataFoundMsg }}</div>
</ng-container>
<ng-container *ngIf="totalRows > 0">
    <ng-container *ngIf="isTable; then tableBlock; else cardsBlock"></ng-container>
    <ng-template #tableBlock>
        <ng-container *ngTemplateOutlet="tableHeader"></ng-container>
        <ng-container *ngTemplateOutlet="listBody"></ng-container>
        <ng-container *ngTemplateOutlet="tableTotal"></ng-container>
        <ng-container *ngTemplateOutlet="listPager"></ng-container>
    </ng-template>

    <ng-template #cardsBlock>
        <ng-container *ngTemplateOutlet="listBody"></ng-container>
        <ng-container *ngTemplateOutlet="listPager"></ng-container>
    </ng-template>

    <ng-template #listBody>
        <ng-container *ngIf="useVirtualScroll; then virtualScrollBlock; else noVirtualScrollBlock"></ng-container>
        <ng-template #virtualScrollBlock>
            <pep-virtual-scroll [totalRows]="totalRows" [isTable]="isTable" (load)="onListLoad()"
                (change)="onScrollChange($event)" [parentScroll]="parentScroll ? parentScroll : nativeWindow"
                [bufferAmount]="isReport ? (isTable ? 20 : 3) : isTable ? 15 : 3"
                [ngClass]="{ 'table-body': isTable, 'cards-body': !isTable }">
                <ng-container *ngTemplateOutlet="listData"></ng-container>
            </pep-virtual-scroll>
        </ng-template>

        <ng-template #noVirtualScrollBlock>
            <div #noVirtualScrollContnainer class="no-virtual-scroll-container"
                [ngClass]="{ 'table-body': isTable, 'cards-body': !isTable }">
                <ng-container *ngTemplateOutlet="listData"></ng-container>
            </div>
        </ng-template>
    </ng-template>

    <ng-template #listPager>
        <pep-list-pager *ngIf="pagerType === 'pages'" class="list-pager" [disabled]="lockEvents" [length]="totalRows"
            [pageSize]="pageSize" (pagerChange)="onPagerChange($event)">
        </pep-list-pager>
    </ng-template>

</ng-container>

<ng-template #listData>
    <ng-container *ngFor="let item of scrollItems; let index; let isFirst = first;">
        <ng-container *ngIf="isTable">
            <div class="table-row" (mouseenter)="onTableRowMouseEnter($event, item?.UID, item?.Type)"
                (mouseleave)="onTableRowMouseLeave($event, item?.UID, item?.Type)" [ngClass]="{
                        selected: isItemSelected(item?.UID, item?.Type),
                        highlighted: item?.UID + SEPARATOR + item?.Type === selectedItemId
                    }"
                [ngStyle]="{ height: calculatedObjectHeight, visibility: showItems || item ? 'visible' : 'hidden' }">
                <fieldset class="table-row-fieldset" [ngStyle]="{ 'background-color': item?.BackgroundColor }">
                    <mat-checkbox
                        *ngIf="selectionTypeForActions == 'multi' || selectionTypeForActions == 'single-action'"
                        type="checkbox" class="pull-left flip row-selection" [disabled]="getIsDisabled(item)" [ngStyle]="{
                                visibility: !deviceHasMouse ||
                                item?.UID + SEPARATOR + item?.Type === hoveredItemId || isAllSelected || selectedItems.size > 0 ? 'visible' : 'hidden'
                            }" [checked]="getIsSelectedForActions(item?.UID, item?.IsSelectableForActions, item?.Type)"
                        (change)="selectItemForActions($event, item?.UID, item?.IsSelectableForActions, item?.Type)">
                    </mat-checkbox>
                    <mat-radio-button *ngIf="selectionTypeForActions == 'single'" name="selection"
                        class="pull-left flip row-selection pep-radio-button" [disabled]="getIsDisabled(item)"
                        [checked]="getIsSelectedForActions(item?.UID, item?.IsSelectableForActions, item?.Type)"
                        (change)="selectItemForActions($event, item?.UID, item?.IsSelectableForActions, item?.Type)">
                    </mat-radio-button>
                    <!-- [canEditObject]="!disabled && item?.IsEditable"  -->
                    <pep-form [checkForChanges]="checkForChanges" [layout]="layout"
                        [firstFieldAsLink]="firstFieldAsLink" [data]="item" [canEditObject]="!disabled"
                        [objectId]="objectId" [parentId]="parentId" [searchCode]="searchCode"
                        [lockEvents]="disableSelectionItems" [isReport]="isReport" [layoutType]="'table'"
                        [listType]="listType" [isActive]="
                                (item?.UID + SEPARATOR + item?.Type === selectedItemId ||
                                item?.UID + SEPARATOR + item?.Type === hoveredItemId) && deviceHasMouse
                            " (valueChange)="onValueChanged($event)" (fieldClick)="onCustomizeFieldClick($event)"
                        (click)="itemClicked($event, item)" [pageType]="pageType">
                    </pep-form>
                </fieldset>
            </div>
        </ng-container>

        <ng-container *ngIf="!isTable">
            <div [class]="itemClass" (mouseenter)="onCardMouseEnter($event, item?.UID, item?.Type)"
                (mouseleave)="onCardMouseLeave($event, item?.UID, item?.Type)" [ngClass]="{
                        selected: isItemSelected(item?.UID, item?.Type),
                        highlighted: item?.UID + SEPARATOR + item?.Type === selectedItemId,
                        'card-view': viewType === 'cards',
                        'line-view': viewType === 'lines'
                    }" class="pull-left flip"
                [ngStyle]="{ height: calculatedObjectHeight, visibility: showItems || item ? 'visible' : 'hidden' }">
                <mat-checkbox *ngIf="showSelection" class="pull-left flip card-selection"
                    [disabled]="getIsDisabled(item)"
                    [checked]="getIsSelectedForActions(item?.UID, item?.IsSelectableForActions, item?.Type)"
                    (change)="selectItemForActions($event, item?.UID, item?.IsSelectableForActions, item?.Type)">
                </mat-checkbox>
                <!-- [canEditObject]="!disabled && item?.IsEditable" -->
                <pep-form [firstFieldAsLink]="firstFieldAsLink" [checkForChanges]="checkForChanges" [layout]="layout"
                    [data]="item" [canEditObject]="!disabled" [objectId]="objectId" [parentId]="parentId"
                    [searchCode]="searchCode" [lockEvents]="disableSelectionItems" [layoutType]="getThumbnailsLayout()"
                    [listType]="listType" [isActive]="
                            (item?.UID + SEPARATOR + item?.Type === selectedItemId ||
                            item?.UID + SEPARATOR + item?.Type === hoveredItemId) && deviceHasMouse
                        " (valueChange)="onValueChanged($event)" (fieldClick)="onCustomizeFieldClick($event)"
                    (click)="itemClicked($event, item)" [pageType]="pageType">
                </pep-form>
            </div>
        </ng-container>
    </ng-container>
</ng-template>

<ng-template #tableHeader>
    <div class="table-header" [ngClass]="{ 'below-header-and-top-bar' : parentScroll == null }"
        (mouseup)="onListResizeEnd($event)" (mouseenter)="onListHeaderMouseEnter($event)"
        (mouseleave)="onListHeaderMouseLeave($event)" (mousemove)="onListResize($event)">

        <div class="table-header-padding-top"></div>
        <fieldset class="table-header-fieldset">
            <mat-checkbox *ngIf="selectionTypeForActions !== 'none'" #selectAllCB class="pull-left flip row-selection"
                type="checkbox" [ngStyle]="{
                        visibility:
                            selectionTypeForActions == 'single' || 
                            (selectionTypeForActions == 'multi' && hideAllSelectionInMulti) ? 'hidden' : 'visible'
                    }"
                [indeterminate]="isAllSelected ? unSelectedItems.size > 0 && unSelectedItems.size < totalRows : (selectedItems.size > 0 && !getIsAllSelectedForActions())"
                [disabled]="disabled || selectionTypeForActions === 'single'" [checked]="getIsAllSelectedForActions()"
                (change)="selectAllItemsForActions($event)"></mat-checkbox>
            <fieldset>
                <div *ngFor="let field of layout?.ControlFields; let j = index" class="header-column pull-left flip"
                    [ngStyle]="{ width: field.calcTitleColumnWidthString }" [ngClass]="{
                            'support-sorting': supportSorting,
                            'has-sorting': field.ApiName === sortBy,
                            'is-resizing': field.ApiName === pressedColumn,
                            'is-first': j === 0 && selectionTypeForActions !== 'multi',
                            'is-last': j === layout?.ControlFields?.length - 1
                        }"
                    (click)="supportSorting ? (onListSortingChange(field.ApiName, sortBy !== null && sortBy != field.ApiName ? true : !isAsc, $event)) : false">

                    <label id="{{ field.ApiName }}"
                        class="header-label body-sm pull-left flip text-align-{{ field.Layout.XAlignment }}"
                        title="{{ field.Title }}">
                        <span *ngIf="field.Mandatory" class="required">
                            <pep-icon name="system_must"></pep-icon>
                        </span>
                        {{ field.Title != '' ? field.Title : ' '}}
                    </label>

                    <div *ngIf="supportResizing" class="resize-box pull-right flip"
                        (mousedown)="onListResizeStart($event, field.ApiName)">
                        <div class="splitter"></div>
                    </div>

                    <!-- The onListSortingChange moved to the column click -->
                    <!-- (click)="onListSortingChange(field.ApiName, true)" -->
                    <div *ngIf="supportSorting" class="sorting-box pull-left flip"
                        [ngClass]="{ 'has-sorting': field.ApiName === sortBy }">
                        <mat-icon *ngIf="field.ApiName !== sortBy">
                            <pep-icon name="arrow_either" class="asc"></pep-icon>
                        </mat-icon>
                        <ng-container *ngIf="field.ApiName === sortBy">
                            <mat-icon *ngIf="!isAsc" [ngClass]="{ 'sort-by': field.ApiName === sortBy && isAsc }"
                                title="{{ 'LIST.SORT_ASC' | translate }}">
                                <pep-icon name="arrow_up" class="asc"></pep-icon>
                            </mat-icon>
                            <mat-icon *ngIf="isAsc" [ngClass]="{ 'sort-by': field.ApiName === sortBy && !isAsc }"
                                title="{{ 'LIST.SORT_DESC' | translate }}">
                                <pep-icon name="arrow_down" class="desc"></pep-icon>
                            </mat-icon>
                        </ng-container>
                    </div>
                </div>
            </fieldset>
        </fieldset>
    </div>
</ng-template>

<ng-template #tableTotal>
    <div *ngIf="totalsRow?.length > 0 && totalsRow.length <= layout?.ControlFields.length" class="table-total">
        <fieldset class="table-header-fieldset">
            <div *ngFor="let field of layout?.ControlFields; let j = index" class="total-column pull-left flip"
                [ngStyle]="{ width: field.calcTitleColumnWidthString }">
                <label class="total-label body-sm text-align-{{ field.Layout.XAlignment }}">
                    {{ totalsRow[j] }}
                </label>
            </div>
        </fieldset>
    </div>
</ng-template>