<!-- <main> -->
<div class="addon-page-container">
    <pep-top-bar (footerStateChange)="onFooterStateChange($event)">
        <div header-start-content>

        </div>
        <div *ngIf="footerState === 'hidden'" header-end-content>
            <pep-button [value]="'toggle menu'" [classNames]="'pep-spacing-element'" (click)="toggleMenu()">
            </pep-button>
            <pep-button [value]="'test 1'" [sizeType]="'sm'" [styleType]="'regular'"
                [classNames]="'pep-spacing-element '">
            </pep-button>
            <pep-button [sizeType]="'sm'" [classNames]="'pep-spacing-element '" [value]="'Tomer test'"
                [iconName]="'system_bolt'">
            </pep-button>
        </div>
        <div footer-start-content>
            <pep-button [value]="'test 1'" [sizeType]="'sm'" [styleType]="'regular'"
                [classNames]="'pep-spacing-element '">
            </pep-button>
            <pep-button [sizeType]="'sm'" [classNames]="'pep-spacing-element '" [value]="'Tomer test'"
                [iconName]="'system_bolt'">
            </pep-button>
            <pep-button [value]="'toggle menu'" [classNames]="'pep-spacing-element'" (click)="toggleMenu()">
            </pep-button>
        </div>
        <div footer-end-content>

        </div>
        <pep-list-actions [actions]="menuActions" (actionClick)="onMenuItemClicked($event)"></pep-list-actions>
        <pep-list-total [totalRows]="customList?.totalRows"></pep-list-total>
        <pep-list-chooser [options]="listOptions" (change)="onListChanged($event)"></pep-list-chooser>
        <pep-list-sorting [options]="sortingOptions" (change)="onSortingChanged($event)">
        </pep-list-sorting>
        <pep-list-views [views]="views" [displayType]="screenSize > PepScreenSizeType.SM ? 'menu' : 'buttons'"
            (change)="onViewChanged($event)"></pep-list-views>
    </pep-top-bar>
    <div class="main-content ">
        <div class="content">
            <div class="list-wrapper" #listContainer id="listContainer">
                <pep-list [supportSorting]="false" [supportResizing]="false" [pagerType]="'pages'" [pageSize]="10"
                    [pageIndex]="pageIndex" [selectionTypeForActions]="'multi'" [parentScroll]="listContainer"
                    (fieldClick)="onCustomizeFieldClick($event)" (selectedItemsChange)="selectedRowsChanged($event)">
                </pep-list>
            </div>

            <div class="inline-top-bar-container">
                <pep-top-bar [title]="'inline top bar'" [inline]="true">
                    <div header-end-content>
                        <button class="pep-button weak sm pep-spacing-element">
                            button
                        </button>
                        <pep-button [value]="'test 1'" [sizeType]="'sm'" [styleType]="'regular'"
                            [classNames]="'pep-spacing-element '"></pep-button>
                        <pep-button [value]="'test 2'" [sizeType]="'sm'" [classNames]="'pep-spacing-element '"
                            [iconName]="'system_settings'">
                        </pep-button>
                    </div>
                    <pep-list-actions [actions]="menuActions" [sizeType]="'sm'"></pep-list-actions>
                    <pep-list-chooser [options]="listOptions" [sizeType]="'sm'"></pep-list-chooser>
                    <pep-list-sorting [options]="sortingOptions" [sizeType]="'sm'" (change)="onSortingChanged($event)">
                    </pep-list-sorting>
                </pep-top-bar>
                <pep-textbox [key]="'Number'" [label]="'Pepperi Number'" [type]="'real'" [xAlignment]="'left'"
                    [value]="'9399371'" [mandatory]="true" [formattedValue]="'9,399,371'">
                </pep-textbox>
                <pep-textbox [key]="'Email'" [label]="'Pepperi Email'" [type]="'email'" [xAlignment]="'left'"
                    [value]="'email@pepperi.com'">
                </pep-textbox>
            </div>

        </div>
    </div>
</div>